.popOver {
  transform: translate(-20px, -15px);
  width: 218px;

  .content {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    font-family: var(--font-regular);
    font-size: 14px;
    line-height: 1.36;
  }

  :global {
    .tippy-arrow {
      transform: translateY(-5px);
    }
  }
}

.dot {
  right: 18px;
  top: 17px;
}
