@import '../../themes/mixins/buttons';
@import './sidebarConfig';

.component {
  @include button;
  align-items: center;
  background-color: var(--theme-sidebar-background-color);
  color: var(--theme-sidebar-category-text-color);
  display: flex;
  height: $sidebar-button-height;
  width: 100%;

  &:hover {
    background-color: var(--theme-sidebar-category-background-color-hover);
  }

  &.paper-wallet-create-certificate {
    svg {
      height: 21px;
      margin-left: -4px;
      width: 31px;
    }
  }

  &.supportRequest {
    &:hover,
    &.active {
      svg {
        & > g {
          opacity: 1;

          :nth-child(1) {
            opacity: 0.5;
          }

          :nth-child(2) {
            fill: rgb(255, 79, 25);
            opacity: 1;
          }

          & > g {
            opacity: 0.5;
            stroke: none;
            & > path {
              opacity: 1 !important;
            }
          }

          :nth-child(5) {
            fill: rgb(255, 79, 25);
          }

          :nth-child(6) {
            fill: rgb(220, 43, 0);
          }

          :nth-child(7) {
            fill: rgb(255, 219, 45);
          }

          :nth-child(8) {
            fill: rgb(250, 251, 252);
            opacity: 0.5;
          }

          :nth-child(9) {
            fill: rgb(245, 179, 0);
          }
        }
      }
    }
  }
}

.active {
  background-color: var(--theme-sidebar-category-background-color-active);

  &:hover {
    background-color: var(--theme-sidebar-category-background-color-active);
    cursor: default;
  }
}

.icon {
  flex-shrink: 0;
  margin: 0 30px;
  & > svg {
    width: 24px;
    height: 24px;

    & > g > path {
      fill: var(--theme-icon-sidebar-color);
    }
    // ada.svg icon needs stroke attribute
    & > g > g {
      stroke: var(--theme-icon-sidebar-color);
    }
  }
}

.supportRequest {
  bottom: 0;
  position: absolute;
  width: auto;
}

.supportRequestIcon {
  flex-shrink: 0;
  margin: 0 30px;
  & > svg {
    width: 24px;
    height: 24px;
  }
}

.label {
  font-family: var(--font-regular);
  font-size: 18px;
}
