.votingAddStepsEnterPinCodeWrapper {
  .content {
    .description {
      color: var(--theme-voting-steps-description-color);
    }
    .reminder {
      color: var(--theme-voting-steps-description-color);
    }
    .pinCode {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      margin-top: 20px;
    }
    @media (max-width: 950px) {
      .pinCode {
        display: block;
      }
    }
  }
}
