.votingAddStepsEnterPinCodeWrapper {
  .content {
    .description {
      color: var(--theme-voting-steps-description-color);
    }
    .reminder {
      color: var(--theme-voting-steps-description-color);
      span > span {
        color: var(--theme-voting-steps-description-highlighted-color);
        font-family: var(--font-medium);
        font-weight: 500;
      }
    }
    .pinCode {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      margin-top: 20px;
    }
    @media (max-width: 795px) {
      .pinCode {
        display: block;
      }
    }
  }
}
