.root {
  .button {
    cursor: pointer;
    opacity: 0.4;

    &:hover {
      opacity: 0.8;
    }
  }

  .icon {
    svg {
      height: 15px;
      width: 21px;
    }

    &.hideIcon {
      svg {
        height: 18px;
      }
    }
  }
}

.tooltip {
  font-family: var(--font-light);
  font-size: 14px;
}
