.root {
  .button {
    border-radius: 50%;
    cursor: pointer;
    height: 44px;
    width: 44px;

    &:hover {
      background-color: var(
        --theme-news-feed-icon-toggle-hover-background-color
      );
    }
  }

  .icon {
    svg {
      height: 15px;
      width: 21px;
    }

    &.hideIcon {
      svg {
        height: 18px;
      }
    }
  }

  &.onTopBar {
    position: absolute;
    right: 89px;

    svg {
      path {
        fill: var(--theme-node-sync-icon-color);
      }
    }
  }
}

.tooltip {
  font-family: var(--font-light);
  font-size: 14px;
}
