@import '../../../themes/mixins/loading-spinner';
@import '../../../themes/mixins/error-message';

.component {
  display: flex;
  height: 100%;
}

.scrollableContent {
  flex: 1;
  overflow-x: hidden;
  overflow-y: overlay;
  padding: 20px;
  &::-webkit-scrollbar-button {
    height: 7px;
    display: block;
  }
}

.headline {
  text-align: center;
  text-transform: uppercase;
  font-family: var(--font-medium);
  font-size: 18px;
  margin-bottom: 2rem;
  margin-top: 10px;
  color: var(--theme-ada-redemption-headline-color);
}

.instructions {
  margin-bottom: 25px;
  font-family: var(--font-regular);
  font-size: 16px;
  line-height: 1.38;
  color: var(--theme-ada-redemption-instructions-color);
  strong {
    font-family: var(--font-bold);
  }
  p {
    margin-bottom: 10px;
  }
}

.redemption {
  display: flex;
  width: 100%;

  .certificate {
    flex-grow: 0;
    flex-basis: 154px;
    margin-left: 30px;
  }

  .inputs {
    flex: 1;
  }
}

.adaAmount,
.adaPasscode,
.email,
.passPhrase,
.passwordInput {
  margin-bottom: 20px;
}

.walletSelect {
  margin: 20px 0;
}

.submitButton,
.submitButtonSpinning {
  display: block !important;
  margin-top: 30px;
  width: 100% !important;
}

.submitButtonSpinning {
  @include loading-spinner("../../../assets/images/spinner-light.svg");
}

.error {
  @include error-message;
  text-align: center;
  margin-bottom: 2rem;
}
