.component {
  align-items: center;
  background-color: var(--theme-ada-redemption-disclaimer-background-color);
  bottom: 0;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.25);
  color: var(--theme-ada-redemption-disclaimer-text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  padding: 50px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;

  .icon {
    margin-bottom: 36px;
    object-fit: contain;
    & > svg {
      height: 110px;
      width: 110px;
      path {
        fill: var(--theme-icon-ada-redemption-attention-color);
      }
      path:nth-child(1) {
        opacity: 0.2;
      }
      path:nth-child(2) {
        opacity: 0.6;
      }
    }
  }

  h1, p, button {
    font-family: var(--font-regular);
  }

  h1 {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8.5px;
  }

  p {
    font-size: 16px;
    line-height: 1.38;
    opacity: 0.8;
  }

  button {
    background-color: var(--theme-ada-redemption-disclaimer-button-background-color);
    border: solid 1px var(--theme-ada-redemption-disclaimer-button-border-color);
    border-radius: 5px;
    color: var(--theme-ada-redemption-disclaimer-button-text-color);
    cursor: pointer;
    height: 50px;
    font-size: 14px;
    letter-spacing: 1px;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    width: 360px;

    &:not(.disabled) {
      &:hover {
        background-color: var(--theme-ada-redemption-disclaimer-button-background-color-hover);
        color: var(--theme-ada-redemption-disclaimer-button-text-color-hover);
      }
    }

    &.disabled {
      cursor: default;
      opacity: 0.3;
    }
  }

  :global .adaRedemptionDisclaimerCheckbox {
    .SimpleCheckbox_root {
      margin-bottom: 30px;
      opacity: 0.8;
      padding-top: 20px;

      .SimpleCheckbox_check {
        border-color: var(--theme-ada-redemption-disclaimer-checkbox-color-check);

        &.SimpleCheckbox_checked {
          background-color: var(--theme-ada-redemption-disclaimer-checkbox-color-checked);

          &:after {
            border-color: var(--theme-ada-redemption-disclaimer-checkbox-color-after);
          }
        }
      }

      .SimpleCheckbox_label {
        color: var(--theme-ada-redemption-disclaimer-checkbox-label-color);
      }
    }
  }
}
