.component {
  display: flex;
  margin-bottom: 20px;
  width: 100%;

  button {
    color: var(--theme-choice-tabs-text-color);
    cursor: pointer;
    flex: 1;
    font-family: var(--font-medium);
    font-size: 16px;
    min-height: 80px;
    opacity: 0.5;
    padding: 20px;
    position: relative;
    text-align: center;
  }

  .activeButton {
    color: var(--theme-choice-tabs-text-color-active);
    cursor: default;
    opacity: 1;

    &::after {
      background: var(--theme-choice-tabs-bottom-border-color-active);
      bottom: 0;
      content: '';
      display: block;
      height: 2px;
      left: 0;
      position: absolute;
      right: 0;
    }
  }
}
