.root {
  .bubble {
    background-color: var(--theme-loading-status-icons-tooltip-color) !important;
  }
  span {
    &:before, &:after {
      border-top-color: var(--theme-loading-status-icons-tooltip-color) !important;
    }
  }
}

