@import '../mixins/overlay-backdrop';
@import '../mixins/layers.scss';

.overlay {
  @include overlay-backrop;
  overflow: hidden;
  z-index: $backdrop-z-index;
}

.modal {
  display: flex;
  max-width: 640px;

  :global {
    .WalletExportDialogChoices_component {
      & > button {
        color: var(--theme-dialog-choice-tabs-text-color);
      }

      & > .WalletExportDialogChoices_activeButton {
        border-bottom: 2px solid
          var(--theme-dialog-choice-tabs-bottom-border-color-active);
        color: var(--theme-dialog-choice-tabs-text-color-active);
      }
    }
  }
}

:global {
  .ReactModal__Body--open {
    overflow: hidden;
  }
}
