.options {
  margin-top: -7px;

  .hasSearch {
    border-radius: 0;
  }

  :not(.hasSearch) {
    ul {
      border-radius: 4px;
    }
  }

  :global {
    .SimpleOptions_search button:before {
      height: 10px;
      margin-left: -1px;
      margin-top: -1px;
      -webkit-mask-size: 10px, 10px;
      mask-size: 10px, 10px;
      width: 10px;
    }

    [data-bubble-arrow] {
      display: none !important;
    }

    :not([dir='rtl']) .SimpleOptions_search button {
      top: 11px;
    }
  }
}
