.options {
  margin-top: -7px;

  &:not(.hasSearch) {
    ul {
      border-radius: 4px;
    }
  }

  &.hasSearch {
    ul {
      border-radius: 0 0 4px 4px !important;
    }

    button {
      background-color: var(--theme-button-flat-background-color) !important;
      &:hover {
        background-color: var(--theme-button-flat-background-color-hover);
      }

      /* @DDW-645 TODO: Move to react-polymorph? */
      top: 11;
      &:before {
        height: 10px;
        margin-left: -1px;
        margin-top: -1px;
        -webkit-mask-size: 10px, 10px;
        mask-size: 10px, 10px;
        width: 10px;
      }
      /* @DDW-645 TODO End */
    }
  }

  [data-bubble-arrow] {
    display: none !important;
  }
}
