.selectInput {
  :global {
    .SimpleInput_customValueBlock {
      height: 50px;
      max-height: inherit;
    }
  }

  &:after {
    bottom: 22.5px;
  }

  &:hover:after {
    background-color: var(--rp-select-input-text-color);
  }

  input {
    cursor: pointer;
    height: 50px;
  }
}

.isOpen {
  .selectInput:after {
    bottom: 22.5px;
  }
}
