.selectInput {
  &:after {
    bottom: 22.5px;
  }

  :global {
    .SimpleInput_customValueBlock {
      height: 52px;
      max-height: inherit;
    }
  }
}

.isOpen {
  .selectInput:after {
    bottom: 22.5px;
  }
}
