:global {
  .SimpleStepper_wrapper {
    .SimpleStepper_stepsWrapper {
      display: flex;
      li {
        font-size: 14px;
        line-height: 1.57;
        z-index: 1;
        // &:after {
        // left: -42%;
        // }
      }
    }
  }
}
