@import '../../../themes/mixins/loading-spinner';
@import '../../../themes/mixins/error-message';

.component {
  :global {
    .Dialog_title {
      margin-bottom: 20px;
    }
  }
}

.introduction {
  font-family: var(--font-light);
  line-height: 1.38;
  overflow: hidden;
  text-align: center;
}

.spendingPassword {
  margin-top: 20px;
}

.isSubmitting {
  box-shadow: none !important;
  @include loading-spinner('../../../assets/images/spinner-light.svg');
}

.error {
  @include error-message;
  margin-top: 20px;
  text-align: center;
}

// TODO: re-enable when we have full/readOnly exports

//.choices {
//  display: flex;
//  width: 100%;
//
//  button {
//    color: var(--theme-choice-tabs-text-color);
//    cursor: pointer;
//    flex: 1;
//    font-family: var(--font-medium);
//    font-size: 16px;
//    opacity: 0.5;
//    padding-bottom: 20px;
//    text-align: center;
//  }
//
//  .activeButton {
//    border-bottom: 2px solid var(--theme-choice-tabs-bottom-border-color-active);
//    color: var(--theme-choice-tabs-text-color-active);
//    cursor: default;
//    opacity: 1;
//  }
//}
