@import '../../../themes/mixins/loading-spinner';
@import '../../../themes/mixins/error-message';

.dialog {
  font-family: var(--font-light);

  .spendingPasswordFields {
    transition: all 400ms ease;

    .newPassword,
    .currentPassword {
      margin-bottom: 20px;

      input {
        padding-top: 10px;
      }
    }

    .repeatedPassword {
      input {
        padding-top: 10px;
      }
    }

    .passwordInstructions {
      color: var(--theme-dialog-text-color);
      font-family: var(--font-light);
      line-height: 1.38;
      margin-top: 10px;
    }
  }

  .error {
    @include error-message;
    margin-top: 27px;
    text-align: center;
  }
}

.isSubmitting {
  box-shadow: none !important;
  @include loading-spinner('../../../assets/images/spinner-light.svg');
}
