@import '../../../themes/mixins/loading-spinner';
@import '../../../themes/mixins/error-message';

.dialog {
  font-family: var(--font-light);

  :global .Dialog_title {
    margin-bottom: 0;
  }

  :global .Dialog_content {
    padding-top: 25px;
  }

  .spendingPasswordFields {
    transition: all 400ms ease;

    .newPassword,
    .currentPassword {
      margin-bottom: 20px;
      width: 100%;
    }

    .passwordInstructions {
      color: var(--theme-dialog-text-color);
      font-family: var(--font-light);
      line-height: 1.38;
      margin-top: 10px;
    }

    .spendingPasswordField {
      display: flex;

      .tooltip {
        &:hover {
          .infoIcon {
            opacity: 0.8;
          }
        }
      }

      :global .ChangeSpendingPasswordDialog_tooltip.SimpleTooltip_root.TooltipOverrides_root.InlineEditingDropdown-tooltip_root.SimpleTooltip_isShowingOnHover {
        height: 12px;
        left: 136px;
        position: absolute;
        top: 54px;
        width: 12px;
      }

      :global .PasswordInput_root {
        width: 100%;
      }

      :global .InlineEditingDropdown-tooltip_bubble {
        border-radius: 10px;
        height: 87px;
        left: 125px;
        line-height: 1.2;
        top: 67px;
        white-space: normal;
        width: 291.5px;

        span[data-bubble-arrow]:before,
        span[data-bubble-arrow]:after {
          left: -4%;
          top: 42%;
          transform: rotate(90deg);
        }
      }

      .infoIcon {
        height: 14px;
        margin-left: 6px;
        opacity: 0.4;
        transform: translateY(2px);
        width: 14px;

        path {
          fill: var(--theme-input-label-color);
        }
      }

      :global .PasswordInput_root.spendingPassword,
      :global .PasswordInput_root.repeatedPassword {
        width: 100%;
      }
    }
  }

  .error {
    @include error-message;
    margin-top: 27px;
    text-align: center;
  }
}

.isSubmitting {
  box-shadow: none !important;
  @include loading-spinner('../../../assets/images/spinner-light.svg');
}
