.dialog {
  font-family: var(--font-light);

  .sadLogoContainer {
    display: flex;
    justify-content: center;
    margin: 5px 0 25px;

    .sadLogoIcon {
      height: 80px;
      opacity: 0.7;
      width: 80px;

      svg {
        path {
          fill: var(--theme-dialog-text-color);
        }
      }
    }
  }
  .description {
    p {
      font-weight: 300;
      line-height: 1.38;
      margin-bottom: 15px;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
}
