.component {
  font-family: var(--font-light);
  margin-bottom: 14px;

  h2 {
    color: var(--theme-input-label-color);
    font-family: var(--font-medium);
    line-height: 1.38;
    margin-bottom: 14px;
  }
  b {
    color: var(--theme-input-label-color);
    font-family: var(--font-medium);
    line-height: 1.38;
  }
  .mnemonicsValidationIcon {
    margin-left: 6px;
    vertical-align: middle;
    svg {
      height: 14px;
      width: 14px;
    }
  }
  .mnemonicsValidationButton {
    background-color: rgba(68, 91, 124, 0.05);
    border-radius: 5px;
    color: #5e6066;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 36px;
    line-height: 1.36;
    margin: 30px auto 0;
    padding: 0 27px;
  }

  .tooltipClassname {
    display: inline-block;
  }

  .tooltipOk {
    // background: green;
    // ba
  }
}
