@import '../../../themes/mixins/loading-spinner';

.dialog {
  p {
    color: #5e6066;
    font-family: var(--font-light);
    line-height: 1.38;
    &:first-child {
      margin-bottom: 20px;
    }
  }
}

.subtitle {
  color: #5e6066;
  font-family: var(--font-regular);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.38;
  margin-top: 10px;
}

.checkboxContainer {
  display: flex;
}

.checkbox {
  margin-right: 20px;
}

button {
  &.isVeryfying {
    box-shadow: none !important;
    @include loading-spinner('../../../assets/images/spinner-light.svg');
  }
}