.dialog {
  .walletName {
    font-family: var(--font-semibold);
    font-size: 12px;
    line-height: 1.83;
    margin-bottom: 20px;
    margin-top: 7px;
    text-align: center;
  }

  .walletPublicKeyQRCode {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 20px;
  }
}
