.component {
  color: var(--theme-bordered-box-text-color);
  font-family: var(--font-light);
  line-height: 1.38;
  margin-bottom: 14px;

  h2 {
    color: var(--theme-input-label-color);
    font-family: var(--font-medium);
    line-height: 1.38;
    margin-bottom: 14px;
  }
  b {
    color: var(--theme-input-label-color);
    font-family: var(--font-medium);
    line-height: 1.38;
  }

  .validationStatus {
    align-items: center;
    border-radius: 4px;
    display: flex;
    font-style: italic;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
  }
  .validationStatusIcon {
    margin-right: 20px;
    svg {
      display: block;
      height: 28px;
      width: 28px;
    }
  }
  span:nth-child(2) {
    flex: 1;
  }
  .validationStatusButton {
    height: 36px;
    line-height: 36px;
    margin-left: 25px;
    padding: 0 27px;
    white-space: nowrap;
    width: auto;
  }
  .validationStatusOk {
    background-color: var(--theme-recovery-phrase-normal-background-color);
    border: 1px solid var(--theme-recovery-phrase-normal-border-color);
  }
  .validationStatusWarning {
    background-color: var(--theme-recovery-phrase-warning-background-color);
    line-height: 1.38;
  }
  .validationStatusNotification {
    background-color: var(--theme-recovery-phrase-attention-background-color);
  }
}
