.component {
  height: 82px;
  position: relative;
  width: 100%;

  .field {
    &.valueHidden {
      :global {
        .SimpleInput_input {
          color: var(--rp-input-text-color-disabled);
          pointer-events: none;
        }
      }
    }
    &.valueShown {
      :global {
        .SimpleInput_input {
          color: var(--theme-input-text-color);
        }
      }
    }

    :global {
      .SimpleFormField_inputWrapper {
        background-color: var(--rp-input-bg-color-disabled);
        display: flex;
        height: 50px;
        justify-content: flex-end;
        padding: 11px 0;

        & > span {
          display: block;
          margin-right: 98px;
          overflow: visible;
          width: 28px;

          .SimpleInput_input {
            background-color: transparent;
            border: none;
            height: 28px;
            left: 20px;
            padding: 0;
            position: absolute;
            text-overflow: ellipsis;
            top: 11px;
            width: calc(100% - 171px);
          }
        }
      }
    }
  }

  .imageButton,
  .button {
    align-items: center;
    display: flex;
    height: 28px;
    justify-content: center;
  }

  .imageButton {
    width: 28px;

    :global {
      .SVGInline {
        svg {
          g g,
          path {
            fill: var(--theme-button-flat-text-color);
          }
        }
      }
    }
  }

  .copyButton {
    :global {
      .SVGInline {
        height: 14px;
        width: 12px;
      }
    }
  }

  .qrCodeButton {
    :global {
      .SVGInline {
        height: 14px;
        width: 14px;
      }
    }
  }

  .addons {
    align-items: center;
    display: flex;
    position: absolute;
    right: 0;
    top: 43px;

    .imageButtonContainer {
      margin-right: 10px;
    }

    .button {
      font-family: var(--font-bold);
      font-size: 12px;
      line-height: 1.33;
      margin-right: 10px;
      padding: 0 5px;
      text-transform: uppercase;
      width: auto;
    }
  }
}
