@import '../../../themes/mixins/error-message';

.component {
  background-color: var(--theme-main-body-background-color);
  display: flex;
  flex-direction: column;
  font-family: var(--font-regular);
  height: 100%;
  padding: 20px;

  :global {
    .SimpleFormField_label {
      color: var(--theme-input-label-color);
    }
  }
}

.actionButtons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;

  .exportLink {
    color: var(--theme-bordered-box-text-color);
    cursor: pointer;
    font-family: var(--font-medium);
    font-size: 16px;
  }
}

.mnemonicsValidation {
  font-family: var(--font-light);
  margin-bottom: 14px;

  h2 {
    margin-bottom: 14px;
  }
  b {
    color: var(--theme-input-label-color);
    font-family: var(--font-medium);
    line-height: 1.38;
  }
  .mnemonicsValidationIcon {
    margin-left: 6px;
    vertical-align: middle;
    svg {
      height: 14px;
      width: 14px;
    }
  }
  .mnemonicsValidationButton {
    background-color: rgba(68, 91, 124, 0.05);
    border-radius: 5px;
    color: #5e6066;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 36px;
    line-height: 1.36;
    margin: 30px auto 0;
    padding: 0 27px;
  }
}

.error {
  @include error-message;
  text-align: center;
}
