@import '../../../themes/mixins/error-message';

.dialog {
  :global {
    .Dialog_contentWrapper::-webkit-scrollbar-track {
      margin-top: 12px;
    }
  }
}

.description {
  font-family: var(--font-regular);
  line-height: 1.38;
  margin-bottom: 20px;
}

.error {
  @include error-message;
  margin-top: 20px;
  text-align: center;
}
