@import '../../../themes/mixins/error-message';

.component {
  background-color: var(--theme-main-body-background-color);
  display: flex;
  flex-direction: column;
  font-family: var(--font-regular);
  height: 100%;
  padding: 20px;

  :global {
    .SimpleFormField_label {
      color: var(--theme-input-label-color);
    }
  }
}

.actionButtons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;

  .exportLink {
    color: var(--theme-bordered-box-text-color);
    cursor: pointer;
    font-family: var(--font-medium);
    font-size: 16px;
  }
}

.error {
  @include error-message;
  text-align: center;
}
