@import '../../../themes/mixins/loading-spinner';
@import '../../../themes/mixins/link';

.dialog {
  p {
    color: var(--theme-bordered-box-text-color);
    font-family: var(--font-light);
    line-height: 1.38;
    &:first-child {
      margin-bottom: 20px;
    }
  }
}

.dialog4 {
  :global {
    .Dialog_actions {
      margin-bottom: 50px;
    }
  }
}

.subtitle {
  color: var(--theme-bordered-box-text-color);
  font-family: var(--font-regular);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.38;
  margin-top: 10px;
}

.checkboxContainer {
  display: flex;
}

.checkbox {
  margin-right: 20px;
}

button {
  &.isVerifying {
    box-shadow: none !important;
    @include loading-spinner('../../../assets/images/spinner-light.svg');
  }
}

.supportPortalContainer {
  bottom: 16px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.supportPortalLink {
  border-bottom: 1px solid var(--theme-bordered-box-text-color) !important;
  color: var(--theme-bordered-box-text-color);
  cursor: pointer;
  font-family: var(--font-regular);
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
}

.externalLinkIcon {
  @include link(--theme-bordered-box-text-color);
  padding-left: 2px;
  vertical-align: baseline;
  width: 15px;
  svg {
    margin-left: 0;
    vertical-align: sub;
    width: 15px;
    g {
      stroke-width: 2px;
    }
  }
}
