.component {}

.words {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px 0;
}

.checkbox {
  margin-top: 30px;

  & + .checkbox {
    margin-top: 20px;
  }
}
