.component {
  font-family: $font-light;
  font-size: 16px;
  line-height: 1.38;
  color: $theme-instructions-text-color;
  margin-bottom: 10px;
  text-align: center;
  strong {
    font-family: $font-medium;
  }
}
