%baseTypography {
  font-size: 16px;
  line-height: 1.38;
}

%accentText {
  @extend %baseTypography;
  color: var(--theme-voting-font-color-accent);
  font-family: var(--font-medium);
}

%regularText {
  @extend %baseTypography;
  color: var(--theme-voting-font-color-regular);
  font-family: var(--font-light);
}
