.component {
  align-items: center;
  color: var(--theme-staking-delegation-center-no-wallets-instructions-color);
  display: flex;
  flex-direction: column;
  font-family: var(--font-medium);
  height: 100%;
  justify-content: center;
  line-height: 1.38;
  margin: 0 auto;
  max-width: 680px;
  padding: 0 40px;
  text-align: center;
  width: 100%;

  h1 {
    font-weight: 500;
    margin-bottom: 11px;
  }

  p {
    font-family: var(--font-light);
  }

  button {
    margin-top: 40px;
  }
}

.icon {
  margin-bottom: 30px;

  & > svg {
    width: 66px;
    path {
      fill: var(--theme-icon-delegation-center-no-wallets);
    }
  }
}
