@import './votingConfig';

.component {
  :global {
    .Dialog_title {
      margin-bottom: 0;
    }
  }
  overflow-y: overlay;
  padding: 20px;
  text-align: center;

  .heading {
    @extend %accentText;
    font-size: 19px;
    margin-bottom: 14px;
    text-transform: uppercase;
  }

  .subtitle {
    @extend %regularText;
    font-size: 14px;
    margin-bottom: 14px;
    text-transform: uppercase;
  }

  .votingAddStepsIndicatorWrapper {
    margin: auto;
    width: 450px;

    .stepIndicatorLabel {
      color: var(--theme-voting-steps-activation-steps-indicator-color);
      font-family: var(--font-medium);
      font-size: 12px;
      font-weight: 500;
      line-height: 1.83;
      margin-bottom: 10px;
      text-align: center;
    }
  }
}
