.component {
  .label {
    display: flex;
    font-family: var(--font-medium);
    font-size: 16px;
    line-height: 1.38;
    margin-bottom: 6px;
  }
  .labelData {
    @extend .label;
    margin-top: 20px;
  }
  .address {
    font-family: var(--font-light);
    line-height: 1.38;
    margin-bottom: 5px;
    margin-top: 6px;
    user-select: text;
    word-break: break-all;
    word-wrap: break-word;
  }
  .addWalletSelect {
    :global {
      .SimpleOptions_option {
        line-height: 18px;
      }
    }
  }
  .walletsDropdown {
    b {
      font-family: var(--font-bold);
    }
    &.error {
      input {
        border-color: var(--theme-color-error);
      }

      :global {
        .SimpleSelect_selectInput {
          &:after {
            background-color: var(--theme-color-error);
          }
        }
      }
    }
  }
  .transactionFee {
    color: var(--theme-dapp-transaction-request-fees-text-color);
    font-family: var(--font-regular);
    margin-bottom: 20px;
  }
}
