.component {
  .label {
    font-family: var(--font-medium);
    font-size: 16px;
    line-height: 1.38;
    margin-bottom: 10px;
  }
  .address {
    font-family: var(--font-light);
    line-height: 1.38;
    margin-bottom: 5px;
    margin-top: 6px;
    user-select: text;
    word-break: break-all;
    word-wrap: break-word;
  }
  .addWalletSelect {
    :global {
      .SimpleOptions_option {
        line-height: 18px;
      }
    }
  }
  hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid var(--theme-transactions-list-item-details-color);
    opacity: 0.3;
  }
}
