.component {
  .label {
    font-family: var(--font-medium);
    font-size: 16px;
    line-height: 1.38;
    margin-bottom: 6px;
  }
  .address {
    font-family: var(--font-light);
    line-height: 1.38;
    margin-bottom: 5px;
    margin-top: 6px;
    user-select: text;
    word-break: break-all;
    word-wrap: break-word;
  }
  .addWalletSelect {
    :global {
      .SimpleOptions_option {
        line-height: 18px;
      }
    }
  }
  hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid var(--theme-dapp-transaction-request-separator);
    opacity: 0.3;
  }
  .transactionFee {
    font-family: var(--font-regular);
    color: var(--theme-dapp-transaction-request-fees-text-color);
    margin-bottom: 20px;
  }
  .additionalData,
  .metadata {
    margin-bottom: 20px;
    pre {
      background-color: var(
        --theme-dapp-transaction-request-code-background-color
      );
      font-family: var(--font-mono);
      font-size: 14px;
      line-height: 1.38;
      max-height: 250px;
      overflow: auto;
      padding: 9px 12px;
      user-select: text;
      &::-webkit-scrollbar-corner {
        background: transparent;
      }
      &::-webkit-scrollbar-thumb {
        background-color: red;
      }
    }
  }
  .toggleButton {
    background-color: var(
      --theme-dapp-transaction-request-toggle-button-background-color
    );
    border-radius: 4px;
    color: var(--theme-label-button-color);
    font-family: var(--font-medium);
    font-size: 10px;
    letter-spacing: 0.5px;
    line-height: 1.2;
    margin-left: 10px;
    padding: 4px 8px;
    text-transform: uppercase;
  }
}
