@import "../../themes/mixins/animations";

.component {
  height: 100%;
  transition: background-color 500ms;
  width: 100%;
  &.is-loading-theme {
    background-color: transparent !important;
  }
  &.is-connecting {
    background-color: var(--theme-connecting-background-color);
  }
}

.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.connecting,
.syncing {
  bottom: 60px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.syncing {
  color: var(--theme-syncing-text-color);
}

.ada-logo,
.ada-nodeLogo,
.etc-logo,
.etc-nodeLogo {
  & > svg {
    display: block;
    width: 48px;
    opacity: 0.5;
  }
}

$cardanoLogoWidth: 86px;
.ada-nodeLogo > svg {
  width: $cardanoLogoWidth;
}

$adaLogoWidth: 43px;
.ada-logo > svg {
  width: $adaLogoWidth;
  margin: 0 ($cardanoLogoWidth - $adaLogoWidth) / 2; // Needs to be the same dimension as the nodeLogo
}

.etc-nodeLogo > svg {
  margin-top: 7px; // aligning the icon visually in the middle
}

.daedalusLogo {
  & > svg {
    display: block;
    width: 173px;
    margin: 0 114px;
  }
}

.connectingLogo {
  & > svg path {
    fill: var(--theme-icon-connecting-logo-color);
  }
}

.syncingLogo svg path {
  fill: var(--theme-icon-syncing-logo-color);
}

.headline {
  font-family: var(--font-light);
  font-size: 16px;
}

.connecting {
  color: var(--theme-connecting-text-color);
  .headline {
    overflow: visible;
    @include animated-ellipsis($width: 16px);
  }
}

.component, .headline, .logo {
  -webkit-backface-visibility: hidden;
}
