@import "../../themes/mixins/animations";

.component {
  width: 100%;
  height: 100%;
  transition: background-color 500ms;
  &.is-connecting {
    background-color: $color-primary;
  }
}

.connecting, .syncing {
  position: absolute;
  text-align: center;
  bottom: 60px;
  width: 100%;
}

.logo {
  position: absolute;
  display: block;
  width: 86px;
  top: calc(50% - 40px);
  left: calc(50% - (86px/2));
}

.headline {
  font-family: $font-light;
  font-size: 16px;
}

.connecting {
  color: white;
  .headline {
    overflow: visible;
    @include animated-ellipsis($width: 16px);
  }
}

.syncing {
  color: #5e6066;
}
