@import "../../themes/mixins/animations";

.component {
  height: 100%;
  transition: background-color 500ms;
  width: 100%;
  &.is-connecting {
    background-color: $theme-connecting-background-color;
  }
}

.connecting,
.syncing {
  bottom: 60px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.syncing {
  color: #5e6066;
}

.cardanoLogo {
  display: block;
  left: calc(50% - (86px/2));
  position: absolute;
  top: calc(50% - 135px/2 - 115px);
  width: 86px;
}

.daedalusLogo {
  display: block;
  left: calc(50% - (173px/2));
  position: absolute;
  top: calc(50% - 135px/2);
  width: 173px;
}

.headline {
  font-family: $font-light;
  font-size: 16px;
}

.connecting {
  color: #fff;
  .headline {
    overflow: visible;
    @include animated-ellipsis($width: 16px);
  }
}

.component, .headline, .logo {
  -webkit-backface-visibility: hidden;
}
