@import "../../themes/simple/config";

.component {
  width: 100%;
  background-color: #b2311d;
  box-shadow: 0 -5px 20px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  position: absolute;
  bottom: 0;
  align-items: center;
  padding: 10px 0;
}

.text {
  color: white;
  font-family: $theme-font-light;
  text-align: center;
  font-size: 12px;
  flex-grow: 1;
  line-height: 1.2em;

  a:link, a:visited {
    color: white;
  }
}

.closeButton {
  width: 50px;
  &:hover {
    cursor: pointer;
    background-color: #951604;
  }
  display: flex;
  align-items: center;
  justify-content: center;
}

.closeCross {
  width: 10px;
}
