.component {
  align-items: center;
  background-color: #b2311d;
  bottom: 0;
  box-shadow: 0 -5px 20px 0 rgba(0,0,0,0.25);
  display: flex;
  position: absolute;
  width: 100%;

  .text {
    color: #fff;
    font-family: var(--rp-theme-font-light);
    font-size: 12px;
    flex-grow: 1;
    line-height: 1.2em;
    padding: 10px 0;
    text-align: center;

    a:link, a:visited {
      color: #fff;
    }
  }

  .closeButton {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 25px 0;
    width: 50px;

    &:hover {
      cursor: pointer;
      background-color: #951604;
    }

    .closeCross {
      width: 10px;
    }
  }
}
