@import '../../themes/mixins/animations';

.spinnerIcon {
  flex-shrink: 0;
  height: 22px;
  margin-top: 10px;
  width: 22px;
  & > svg {
    height: inherit;
    width: inherit;
    path {
      fill: var(--theme-notification-message-text-color);
    }
  }
}

.spinnerIcon :global {
  animation: loading-spin 1.5s linear;
  animation-iteration-count: infinite;
}

.ellipsis {
  @include animated-ellipsis($width: 16px);
}
