%actionButton {
  box-sizing: border-box;
  height: 34px;
  border-radius: 2px;
  font-family: var(--font-medium);
  font-size: 14px;
  line-height: 34px;
  text-align: center;
  margin-left: 10px;
  max-width: 300px;
  cursor: pointer;
  padding: 0 30px;
  white-space: nowrap;
}

.component {
  background-color: var(--theme-legacy-notification-background-color);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.25);
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  .actionLearnMore {
    @extend %actionButton;
    color: var(--theme-legacy-notification-learn-more-button-text-color);
    background-color: var(
      --theme-legacy-notification-learn-more-button-background-color
    );

    &:hover {
      background-color: var(
        --theme-legacy-notification-learn-more-button-background-color-hover
      ) !important;
    }
    &:active {
      background-color: var(
        --theme-legacy-notification-learn-more-button-background-color-active
      ) !important;
    }
  }

  .actionMove {
    @extend %actionButton;
    color: var(--theme-legacy-notification-move-button-text-color);
    background-color: var(
      --theme-legacy-notification-move-button-background-color
    );

    &:hover {
      background-color: var(
        --theme-legacy-notification-move-button-background-color-hover
      ) !important;
    }
    &:active {
      background-color: var(
        --theme-legacy-notification-move-button-background-color-active
      ) !important;
    }
  }
}

.title {
  height: 22px;
  font-family: var(--font-medium);
  font-size: 16px;
  line-height: 1.38;
  color: var(--theme-legacy-notification-title-color);
  flex-grow: 1;
}

.description {
  margin-top: 12px;
  font-family: var(--font-regular);
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.5px;
  color: var(--theme-legacy-notification-description-color);
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
