.component {
  background-color: var(--theme-legacy-badge-background-color);
  border-radius: 2px;
  color: var(--theme-legacy-notification-title-color);
  font-size: 10px;
  padding: 3px 12px 5px;
  position: absolute;
  user-select: none;
}

.floating {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  right: -19.5px;
  top: -2px;
}

.natural {
  right: 0;
  top: 0;
  transform: translate(100%, -40%);
}
