.root {
  position: absolute;
  right: 91px;

  &.hasTadaIcon {
    right: 149px;
  }

  .discreetToggle {
    border-radius: 50%;
    height: 44px;
    opacity: 0.4;
    width: 44px;

    &:hover {
      background-color: var(
        --theme-news-feed-icon-toggle-hover-background-color
      );
      opacity: 0.8;
    }

    svg {
      path {
        fill: var(--theme-node-sync-icon-color);
      }
    }
  }
}

.popOverRoot {
  width: 220px;

  .content {
    font-family: var(--font-light);
    font-size: 14px;
  }
}
