{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    ["@babel/plugin-proposal-private-property-in-object", { "loose": true }],
    [
      "@babel/plugin-proposal-private-methods",
      {
        "loose": true
      }
    ],
    ["@babel/plugin-proposal-optional-chaining"],
    ["@babel/plugin-proposal-object-rest-spread", {}],
    ["@babel/plugin-transform-runtime", {}],
    ["@babel/plugin-proposal-unicode-property-regex", { "useUnicodeFlag": false }],
    ["react-intl", {
      "messagesDir": "./translations/messages/",
      "enforceDescriptions": false,
      "extractSourceLocation": true
    }]
  ],
  "ignore": [
    "node_modules"
  ]
}
