dist
release
main.js
.cache-loader
logs
node_modules
translations
tests
tests/paper-wallets/e2e/documents/*
tests/wallets/e2e/documents/*
mainnet-genesis-dryrun-with-stakeholders.json
source/renderer/app/i18n/locales
nodemon.json
