# Let's start by ignoring everything
/*

# But not the following folders
!source/
!features/
!storybook/

# Now we ignore all files
*.*

# But not these file types
!*.js
!*.ts
!*.tsx
!*.scss
!*.json

# Ignore any top-level json file except package.json
/*.json
!package.json

# Ignore the following special folders and files
source/renderer/app/i18n/locales/
source/renderer/app/config/newsfeed-files/
tests/paper-wallets/e2e/documents/*
tests/wallets/e2e/documents/*
