language: nix
sudo: false
matrix:
  include:
  - os: linux
  - os: osx
    osx_image: xcode8.2
env:
  global:
    - VERSION=0.3
    - CARDANO_SL_BRANCH=cardano-sl-0.4
      # NOTE: when bumping nixpkgs, also update default.nix
    - NIX_PATH=nixpkgs=https://github.com/NixOS/nixpkgs/archive/09c7601c204016c8ecdefd474f721fb841e834df.tar.gz
    # AWS access key
    - secure: "Gvw61r5B2Noo263owgZIAw8Jvl2IU1ZSCsKXbsW9lNjPeFWvoEWxHhmTURO25lIYm3iz5gEkx6AqRB3wRADfBAejizKtP1LHQMJJ8E1VvNUJLr+2pOSrR098k3yO8R5rdxFkzNnMLVbsUKTnpAA9kbCvj0AcnnUOAm0eDkjO/wCfU1Joz5pSVqxJ5xdQUd/hosMoeR/SurjdKYxwjLVNrlZe0IUejuPIPda92511hFpzbjZ4fxObcyPJwVCMgymn46ICSZ4K8WKyZfwkWvBMG6zFJLaaeAb8vxHBwqtpftURD6hiy4zL+94j2yJbyllWA0aeqAB9rVDOnJnyqxdfkeLa4SCte4DyRTyW4CicYHXlLPtdXY/Ek6rIHYuRcSF+S/zEFJj3/V7VZXRHrZGyc4Ua08Hr7bHfmHHtf9xhmayP+FOkrNmfVxzMHQjVc4W/+gD0gzzGGwk7J8wOzRtSwnKoGBGeRCvNXUtK3IwnecY+XD1qoeRL2Yil+8TxyWw0iMigHB+WoBPbloX6W1uIn67MAxvWKpdi8/h9lnC0c00wCW0ZIq9//OSvRWWBGzZ6I5zofzjNBetyIHDz+77k0pkVkdrqaF99wQRaDJBXGZ8DfBWv+XDRLpDPzy1tZwv3Ukh8Cg05f1HODCazT3jY0S7ZDCCcELwIg/0PapYU4Mc="
    # AWS secret key
    - secure: "PG0QbtFLEwRLdegn7yrHYhz36UuVm8AwypQ5ai5yvrTkFJQwx0pJoPF0483zLuXouDNMdkGy4w6Fo6o+XAuBylBheduuCYR0s0TmQmsCs5r+Yc+PsNVZVH5YTkgGXXrE5+mtZuUwSmACP6fEM48SBbJd5wXWPphIF6WfxiHxwFS+EhqVDXIFobcyYxgzSulfacB1mEtvsHS+o67HVMifAUJ4qrTRuE085/3oP2e+sdKuZleAI6tEsTQ6q4AkjxMiSYG3YLvNv4ZxMbtrGjPKkXBEG+KUfanCbfj6Lup0oFbfP2QDJAY2qT+1J6o3JZXaBvYJxnFivkv1YQrXCKas8z8DcFG/jdNBtR8JGTw/IB/Q8vHY0+jEPlrfzyPNMsgfiDSw7/WjuqqMjZPaZ8at/XDLmFkZeIcXt0syhqeF6Gc+qYd9F9I+f1HFvf9OePrBYmi/1EXC+vbnwlVGqcYKmXBoVdwQTvxth1MtnHfQCqwJd/3qBdNdT9aeT1/g8cni2s9ZDUV3l1F8MdCg4aJYSvKg9Phgy2lFrpkFOcQykb31yn8NDuyTv+4QXE+f8OMsrMq7UiH7W1WFuv94camff9HW/hZBVcgFzRmoTw/UW3ea4wYvbyJrvRAowuqDBvjRbYC5Ig7dDMg9eDlmISdf7WnQ6XN4wEJLXQd7nsloPyo="
    # p12 certs
    - secure: "y/kRyNtg7fnK8lGMT7h1WL4UPjSNOOt5T92fqetuRXLh7OxqJdcUPL2tT162gktTC/vs8k0jxM1fWiDtkyCAVQAMvoGwjbJXRdHMA+dyYmqcqWPmbEtDHPKhv5L+sM++RwQRg7Kct2g62y3EjxepT8r52+1OsWaSS893Z8GPvIaIq0K8oaOWGE4+q5+bO+scVEU+mAqjwavTOySauBCfX78ZJETAT/v0lhZNj20yTnitQce/gpt70c0UYm8Nzdk0mWrq2BQxCjTBOOHWcdUQNzmrX0jS3YyMKRWBBS4mgjQ98TKgCP6EPuZGfUdzDUiFQymmacprGdT5rdXRB2ZGxNwAGqf+nVrToLKefkqdYK6pmXBbZtk3wMlWvdzLpRWJMeDZGjAOSvq1JtFvNrAHGeGfeWgcFpDQhQ27foN5+g71/qCC01CWYRQWPLjThBLzW6ZhanyzbM77RQBw0MQpoOoHakyVCXupe/Z3PuvzT7yN8EaJWOM3sGZfiEKmwbpJdRfzbX3fStaqI2qFEC47AzBpoZYo1efe65ivpUrN282Cxz14b1Ds+/ycDjQw9JIJ9WIwfHwUFyqy4Q7/8uQQr1PZSuJHe9ojpka6aXuehVMq+0MA8G/iFYddcajH9mZ6uQjg0/ZeN1M/2kFuuq3/h7esgw1Npb/k9Kw0eADHL8k="
install:
- true
script:
- scripts/build-installer-unix.sh "$VERSION" "$CARDANO_SL_BRANCH"
     --build-id       "$TRAVIS_BUILD_NUMBER"
     --travis-pr      "$TRAVIS_PULL_REQUEST"
     --nix-path       "$NIX_PATH"
notifications:
  slack:
    secure: hfzreJ033RxFI2UYtcGJ+MFgQX08UyUnQwhb8X8CuVuIZXDWhxz9JLMEUuL6QqogtffbiqfqIhyDwZ0PsE3aEJaHQAQ7lxJkMjZFU/o+CYvHBQy+WYCa/sFM0C8cEXn3Wb/LmhjvtKAgF302tnD5PAPglZTGtCJHpihKG/Wc+YwF2aFSon0DqoMtVmwVPvhD/WlAHyszARsE9C7jH7jN43gwupAmwj7QLH+kd96HKrrc2ItgMS0f5ucFnpM900c9LwhE5StxVdgTXLnogWQKcd1f4DwTNoXfS3Dy6VJkKj049VScvavcFcVPBL9xU62SMMy/eS/yRcHZkxJehUi16aoir2GXNZOKjQVQ85zEQofQgkR+b4roJJmtWJuCoyE0nptoHgDi4BlLwFuC1g7pkngtLvo3BrG3IjhV+s7QuhxFA9aA8MBQDTRBQNeZdU2I/iwJaYsggGQ2JYA/B2AE4C0sentbegGumsY4fah6HVQGOOZoCl3k9fmMDS42/D55kdteRAQBZBlixLHMXTsMf90jcJJGi/vkzVEnhby63RdTRNDW6MBA6RgvUIpI0VQgAIEM8LFHMNeHMYLoj++NnSI3gCrX8zi8nrnCUJmpCQ89WLDRbVy3rFltgcd7ds8SlRxMtSXCO9lulq/Q6Gk65mRhuq/My0FqBbT+DQUBg04=
deploy:
  provider: s3
  access_key_id: AKIAJKSJR3FUN3CWKC5Q
  secret_access_key:
    secure: KL0IpBTLy54CC6w48E7t19uEME1lcdWLZ1RP0qz7jm9A0J58RnBn4VqQL86vXZZZF3L6s4BM5bsD+mOXQ88ePzL4UNL0swJijFI4jh1cv5RsOpoFJc5ULxQWm/ybGqKt2I9kF0TRwI23ilKkxz531cRBmoIbKSDEbDr8Tn7n1gU9ubhAJTI0/Gy1jnrVwQejoZMTEpJJcti1o046wJd0GEJpA88dXPjvi3WXMBcQ1acRxd5tkEjLooScD7CijdUgHTGZC/HvRLY+6SdI8pHaB8/yhli87MBODqpdMstV9zPZI2bJiUDPNaFL+goGA1+4CQnmfyBNfHijDnuBMNTUcj00WHCMJcuLcXM42fli6gO2iivNEe8pz+3Jvz3142hJL8seHm9//QDsGZg7HUYYiPGbDSmug8knh9Zsk8QZUtxlXBNvQqZe2Q289cGzW9Hoo+tNgCvpaUWkBNe/XUXTI2HoE5XkrziRwyVLaXj5Yz7ncjMkwIljrLCxuDS3dT53lwxK7NkLmWovp8r0gL/8szoqTMdKLPNQXOa9dknlW9L905PKOjON1F5SCHc0JKREnQQFNrbx4X1bjVa++Fv6Ix42XBvn7h2MT3NorjSlvyKwBTUeQf5bYD6603Q9YCqsZgEnG0uB3yWvgFXQ0PKH/5htjBwWWQJ4PxLe+mhZ9Jw=
  bucket: daedalus-travis
  region: eu-central-1
  local_dir: installers/dist
  skip_cleanup: true
  acl: public_read
  on:
    all_branches: true
