.title {
  color: var(--theme-main-body-messages-color);
  font-family: var(--font-medium);
  margin-bottom: 14px;
}

.description {
  color: var(--theme-main-body-messages-color);
  font-family: var(--font-light);
  font-size: 16px;
  line-height: 1.43;
  margin-bottom: 20px;
}

.link {
  font-family: var(--font-regular);
  // unfortunately, global overrides for link component set it to 14px with higher specificity
  font-size: 16px !important;
  word-break: break-word;
}

.dataCollectionList {
  color: var(--theme-main-body-messages-color);
  font-family: var(--font-light);
  line-height: 2;
  list-style: auto outside;
  padding-left: 30px;

  li {
    color: var(--theme-main-body-messsages-color);
    padding-left: 12px;

    &::marker {
      font-family: var(--font-medium);
    }
  }
}

// TODO: improve react-polymorph inputs to handle `labelPlacement` property e.g. left | right
.switchButton {
  flex-direction: row-reverse;
  margin: 0 0 30px;

  & label {
    font-family: var(--font-light) !important;
    margin: 0 !important;
  }
}
