.title {
  font-family: var(--font-medium);
  margin-bottom: 14px;
}

.description {
  font-family: var(--font-light);
  font-size: 16px;
  margin-bottom: 20px;
}

.link {
  font-family: var(--font-regular);
  // unfortunately, global overrides for link component set it to 14px with higher specificity
  font-size: 16px !important;
  word-break: break-word;
}

.dataCollectionList {
  font-family: var(--font-regular);
  line-height: 2; // todo discuss with Sasha
  list-style: auto outside;
  padding-left: 30px;

  li {
    color: var(--theme-support-settings-text-color);
    padding-left: 12px;

    &::marker {
      font-weight: bold;
    }
  }
}

// TODO: improve react-polymorph inputs to handle `labelPlacement` property e.g. left | right
.switchButton {
  flex-direction: row-reverse;
  margin: 0 0 30px;

  & label {
    margin: 0 !important;
  }
}

.tocDetails {
  // TODO: extract to a more generic variable
  background-color: var(
    --theme-paper-wallet-create-certificate-dialog-explorer-link-background-color
  );
  border-radius: 2px;
  // TODO: extract to a more generic variable
  color: var(--theme-dialog-text-color);
  font-family: var(--font-mono);
  font-size: 14px;
  line-height: 1.43;
  margin: 10px 0 20px;
  padding: 9px 12px;
}
