.component {
  align-items: center;
  color: var(--theme-main-body-messages-color);
  display: flex;
  font-family: var(--font-regular);
  height: 100%;
  justify-content: center;
  line-height: 1.38;
}

.centeredBox {
  background-color: var(--theme-bordered-box-background-color);
  border: var(--theme-bordered-box-border);
  border-radius: 10px;
  padding: 30px 30px 20px;
  width: 620px;
}

.submitButton {
  display: block;
  margin: 0 auto;
}

// TODO improve react-polymorph inputs to handle `labelPlacement` property e.g. left | right
.switchButton {
  flex-direction: row-reverse;
  margin: 0 0 30px;

  & label {
    margin: 0 !important;
  }
}

.title,
.dataCollectionTitle {
  font-weight: bold;
  margin-bottom: 14px;
}

.dataCollectionTitle {
  align-items: center;
  display: flex;
}

.description {
  margin-bottom: 20px;
}

.descriptionLink {
  color: var(--theme-staking-stake-pool-tooltip-link-color);
}

.dataCollectionList {
  line-height: 2; // todo discuss with Sasha
  list-style: auto outside;
  padding-left: 30px; // todo discuss with Sasha
}

.dataCollectionListItem {
  padding-left: 10px; // todo discuss with Sasha

  &::marker {
    font-weight: bold;
  }
}

.hr {
  border: 0;
  border-top: 1px solid var(--theme-dapp-transaction-request-separator);
  margin: 20px 0;
  opacity: 0.3;
}

.toggleButton {
  background-color: var(
    --theme-dapp-transaction-request-toggle-button-background-color
  );
  border-radius: 4px;
  color: var(--theme-label-button-color);
  cursor: pointer;
  font-family: var(--font-medium);
  font-size: 10px;
  letter-spacing: 0.5px;
  line-height: 1.2;
  margin-left: 10px;
  padding: 4px 8px;
  text-transform: uppercase;
}
