.dataCollectionList {
  color: var(--theme-main-body-messages-color);
  font: 16px var(--font-light);
  line-height: 2;
  list-style: auto outside;
  padding-left: 30px;

  li {
    padding-left: 12px;

    &::marker {
      font-weight: bold;
    }
  }

  h3 {
    font: 16px var(--font-medium);
    margin-bottom: 6px;
  }

  p {
    line-height: 1.43;
    margin-bottom: 6px;
  }
}
