.securingPasswordContentWrapper {
  color: var(--theme-instructions-text-color);

  .subtitle,
  .linkInstructions {
    line-height: 1.38;
    font-family: var(--font-light);
  }

  .content {
    margin-top: 20px;
    border-top: 1px solid var(--theme-paper-wallet-create-certificate-dialog-divider-line-color);

    .linkInstructions{
      margin-top: 20px;
    }

    .cardanoExplorerLinkWrapper {
      background-color: var(--theme-paper-wallet-create-certificate-dialog-explorer-link-background-color);
      border-radius: 2px;
      font-family: var(--font-regular);
      line-height: 1.38;
      margin-top: 10px;
      min-height: 50px;
      padding: 14px 20px;
      text-align: center;

      a {
        color: var(--theme-paper-wallet-create-certificate-dialog-explorer-link-color);
        word-wrap: break-word;
      }
    }
  }
}
