.securingPasswordContentWrapper {
  color: var(--theme-instructions-text-color);

  .subtitle {
    p {
      line-height: 1.38;
      font-family: var(--font-light);
    }

    :nth-child(2) {
      margin-top: 20px;
    }
  }

  .content {
    margin-top: 20px;

    .recoveryPhrase {
      background-color: rgba(68, 91, 124, 0.05);;
      border-radius: 2px;
      font-family: var(--font-medium);
      font-size: 16px;
      line-height: 1.38;
      margin-top: 10px;
      min-height: 50px;
      padding: 14px;
      text-align: center;
    }

    .paperWalletImageWrapper {
      margin-top: 30px;
      text-align: right;

      img {
        height: 276px;
        width: 490px;
      }
    }

    .passwordStoringConfirmation {
      margin-top: 30px;
    }
  }
}
