@import '../../../../themes/mixins/place-form-field-error-below-input';

.passwordChoiceContentWrapper {
  color: var(--theme-instructions-text-color);

  .subtitle,
  .passwordComplexityText {
    font-family: var(--font-light);
    line-height: 1.38;
  }

  .content {
    border-top: 1px solid #dfe4e8;
    margin-top: 20px;

    .passwordComplexityText {
      margin: 20px 0;
    }

    .setPasswordWrapper {
      padding-bottom: 20px;
      border-bottom: 1px solid #dfe4e8;
      display: flex;
      justify-content: space-between;
      margin: 0 -15px;

      @include place-form-field-error-below-input;

      .passwordWrapper,
      .repeatPasswordWrapper {
        position: relative;
        width: 50%;
        margin: 0 15px;
      }

    }

    .checkbox {
      margin-top: 20px;
    }

    .passwordVisibilityToggler {
      bottom: 15px;
      position: absolute;
      height: 49px;
      top: 32px;
      right: 0;
      width: 40px;

      svg {
        height: 19px;
        left: 10px;
        position: absolute;
        top: 15px;
        width: 19px;
      }

      &:hover {
        cursor: pointer;
      };
    }

    :global {
      input {
        padding-right: 40px;
      }
    }

    strong {
      font-weight: 500;
    }
  }
}
