.verificationContentWrapper {
  color: var(--theme-instructions-text-color);

  .subtitle {
    font-family: var(--font-light);
    line-height: 1.38;
  }

  .content {
    margin-top: 20px;

    .recoveryPhrase {
      margin-top: 20px;
    }

    .password {
      margin-top: 20px;
      position: relative;
    }

    .passwordVisibilityToggler {
      bottom: 15px;
      position: absolute;
      height: 49px;
      top: 32px;
      right: 0;
      width: 40px;

      &:hover {
        svg > path {
          opacity: 1;
        }
      }

      svg {
        height: 19px;
        left: 10px;
        position: absolute;
        top: 15px;
        width: 19px;
      }

      &:hover {
        cursor: pointer;
      };
    }

    :global {
      input {
        padding-right: 40px;
      }
    }

    .checkbox {
      margin-top: 20px;
    }
  }
}
