.root {
  position: relative;

  .dot {
    background-color: var(--theme-news-feed-icon-red-dot-background-color);
    border-radius: 50%;
    height: 8px;
    position: absolute;
    width: 8px;
  }
}
