.component {
  padding: 20px 20px 0;
}

.list {
  border-radius: 4px;
  background-color: var(--theme-transactions-list-background-color);
  background-blend-mode: lighten;
  border: solid 1px var(--theme-transactions-list-border-color);
  margin-bottom: 20px;

  &:last-child {
    margin: 0;
  }
}

.group {
  margin-top: 20px;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 20px;
  }
}

.groupDate {
  font-family: var(--font-regular);
  font-size: 16px;
  color: var(--theme-transactions-list-group-date-color);
  opacity: 0.5;
  margin-bottom: 10px;
  margin-left: 20px;
}
