.component {
  margin-top: 20px;
  padding-left: 20px;
  overflow-y: scroll;

  &::-webkit-scrollbar-button {
    height: 10px;
    display: block;
  }
}

.topShadow {
  box-shadow: inset 0 2px 8px 0 rgba(0, 0, 0, 0.24);
}

.list {
  border-radius: 4px;
  background-color: $theme-transactions-list-background-color;
  background-blend-mode: lighten;
  border: solid 1px $theme-transactions-list-border-color;
  margin-bottom: 20px;
  &:last-child {
    margin: 0;
  }
}

.transaction {
  padding: 0 20px;
  margin: 15px 0;
}

.group {
  margin-top: 20px;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 20px;
  }
}

.groupDate {
  font-family: $font-regular;
  font-size: 16px;
  color: $theme-transactions-list-group-date-color;
  opacity: 0.5;
  margin-bottom: 10px;
  margin-left: 20px;
}
