@import '../governanceConfig';

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  padding: 48px 0;
  text-align: center;
}

.title {
  @extend %accentSemiboldText;
  margin: 0 0 4px;
}

.message {
  @extend %secondaryText;
  max-width: 480px;
}

.actionLink {
  font-size: inherit;
  white-space: nowrap;
}
