@import '../../themes/mixins/link';

.component {
  align-items: center;
  background-color: var(--theme-app-update-overlay-background-color);
  color: var(--theme-app-update-overlay-text-color);
  display: flex;
  flex-direction: column;
  font-family: var(--font-regular);
  height: 100vh;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 22;

  .content {
    background-color: var(--theme-news-overlay-update-content-background-color);
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 30px;
    max-height: 464px;
    opacity: 0.8;
    overflow-y: scroll;
    padding: 12px 20px;
    width: 608px;
    word-break: break-word;
    &::-webkit-scrollbar-thumb {
      background-color: var(
        --theme-news-overlay-update-content-scroll-background-color
      );
      outline: none;
      width: 4px;

      &:hover {
        background-color: var(
          --theme-news-overlay-update-content-scroll-hover-background-color
        );
      }
    }

    h1,
    h2 {
      font-family: var(--font-medium);
      margin-bottom: 6px;
    }

    h1 {
      font-size: 18px;
    }

    h2 {
      font-size: 16px;
    }

    * + h2 {
      margin-top: 16px;
    }

    ol,
    ul {
      list-style: disc;
      margin-left: 20px;
    }

    ol {
      list-style-type: decimal;
    }

    p,
    li {
      color: rgba(255, 255, 255, 0.7);
      font-family: var(--font-regular);
      font-size: 14px;
      line-height: 1.5;
      margin-bottom: 6px;

      strong {
        color: rgba(255, 255, 255, 1);
        font-weight: 500;
      }
    }

    a {
      border-bottom: 1px solid #fff;
      color: #fff;
      text-decoration: none;
    }

    em {
      font-style: italic;
    }
  }

  .title {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 16px;
    margin-top: 22.5px;
  }

  .subtitle {
    color: var(--theme-app-update-overlay-opacity-text-color);
    font-family: var(--font-medium);
    line-height: 1.38;
    margin-bottom: 16px;
    text-align: center;
    b {
      color: var(--theme-app-update-overlay-text-color);
    }
  }

  .downloadProgress {
    width: 608px;
  }
  .downloadProgressContent {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
    p {
      font-size: 14px;
    }
  }
  .downloadProgressData {
    color: var(--theme-app-update-overlay-opacity-text-color);
    b {
      font-family: var(--font-bold);
    }
  }

  .actions {
    text-align: center;
    width: 540px;
    .checkbox {
      margin-bottom: 30px;
      :global {
        .SimpleCheckbox_check {
          border: 2px solid var(--theme-app-update-overlay-text-color);
        }
        .SimpleCheckbox_checked {
          background: var(--theme-news-overlay-update-button-text-color);
          &:after {
            border-color: var(--theme-news-overlay-update-background-color);
          }
        }
        .SimpleCheckbox_label {
          color: var(--theme-app-update-overlay-text-color);
          font-family: var(--font-medium);
          text-align: left;
        }
      }
    }
    .button {
      background-color: var(
        --theme-news-overlay-update-button-background-color
      );
      border: 1px solid var(--theme-news-overlay-update-button-text-color);
      color: var(--theme-news-overlay-update-button-text-color);
      &:hover {
        background-color: var(--theme-news-overlay-update-button-text-color);
        color: var(--theme-news-overlay-update-button-hover-text-color);
        cursor: pointer;
        .externalLinkIcon {
          @include link(--theme-news-overlay-update-button-hover-text-color);
        }
      }
      &.disabled {
        border-color: var(--theme-app-update-overlay-opacity-text-color);
        color: var(--theme-app-update-overlay-opacity-text-color);
        cursor: default;
        opacity: 0.8;
        text-decoration: none;
      }
      .externalLinkIcon {
        @include link(--theme-news-overlay-update-button-text-color);
        border-bottom: none;
        margin-right: 10px;
        vertical-align: baseline;
        width: 15px;
        svg {
          margin-left: 0;
          vertical-align: sub;
          width: 15px;
          g {
            stroke-width: 2px;
          }
        }
      }
    }
  }

  .manualUpdateDescription {
    color: var(--theme-app-update-overlay-text-color);
    font-family: var(--font-medium);
    line-height: 1.38;
    margin-bottom: 30px;
    text-align: center;
  }

  .closeButton {
    background-color: var(--theme-news-overlay-update-content-background-color);
    border-radius: 50%;
    height: 44px;
    opacity: 0.5;
    right: 10px;
    top: 10px;
    width: 44px;
    z-index: 999;
    &:hover {
      opacity: 0.8;
    }
  }
}
