.popOverRoot {
  pointer-events: all;
  width: 218px;

  .content {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    font-family: var(--font-regular);
    font-size: 14px;
    line-height: 1.36;
  }

  .dismissButton {
    background-color: rgba(250, 251, 252, 0.2);
    border-radius: 4px;
    font-family: var(--font-medium);
    font-size: 10px;
    height: auto;
    line-height: 1.2;
    margin-top: 6px;
    padding: 4px 8px;
    text-transform: uppercase;
    width: auto;

    &:hover {
      background-color: rgba(250, 251, 252, 0.3);
    }
  }

  &[data-placement='top'] {
    :global {
      .tippy-arrow::after {
        bottom: 4px;
      }
    }
  }

  &[data-placement='right'] {
    :global {
      .tippy-arrow::after {
        left: 4px;
      }
    }
  }

  &[data-placement='left'] {
    :global {
      .tippy-arrow::after {
        right: 4px;
      }
    }
  }

  &[data-placement='bottom'] {
    :global {
      .tippy-arrow::after {
        top: 4px;
      }
    }
  }

  :global {
    .tippy-arrow::after {
      background-color: #ea4c5b;
      border-radius: 50%;
      content: '';
      height: 8px;
      position: absolute;
      width: 8px;
    }
  }
}

.targetRoot {
  position: relative;

  &.inline {
    display: inline;
  }
}
