@import '../../../themes/mixins/loading-spinner';
@import '../../../themes/mixins/error-message';

.dialog {
  font-family: $font-light;
  .walletPassword {
    .walletPasswordSwitch {
      & .passwordLabel {
        color: $theme-wallet-password-switch-label-color;
        font-family: $font-semibold;
        font-size: 16px;
        line-height: 1.38;
        margin-bottom: 10px;
      }
    }
    & + .walletPasswordFields {
      .newPassword {
        margin-top: 20px;
      }
    }
  }


  :global .SimpleSwitch_root > .SimpleSwitch_checked {
    background: $theme-input-remove-color-light !important;
    .SimpleSwitch_thumb {
      box-shadow: inset -1.5px -1.5px 0 $theme-input-remove-color-light !important;
      box-shadow:
        inset -1.5px -1.5px 0 $theme-input-remove-color-light,
        inset 1.5px 1.5px 0 $theme-input-remove-color-light,
        inset 1.5px -1.5px 0 $theme-input-remove-color-light,
        inset -1.5px 1.5px 0 $theme-input-remove-color-light !important;
    }
  }

  .walletPasswordFields {
    max-height: 300px;
    overflow: hidden;
    transition: all 400ms ease;

    &.hidden {
      max-height: 0;
      opacity: 0;
    }

    .newPassword {
      margin-bottom: 20px;
    }

    .passwordInstructions {
      color: $theme-instructions-text-color;
      font-family: $font-light;
      line-height: 1.38;
      margin-top: 20px;
      opacity: 0.5;
    }
  }

  .removeButton {
    background: $theme-input-remove-color-light !important;
    &:hover {
      background: $theme-input-remove-color-lighter !important;
    }
    &:active {
      background: $theme-input-remove-color-dark !important;
    }
  }

  .error {
    @include error-message;
    text-align: center;
    margin-top: 27px;
  }
}

.isSubmitting {
  @include loading-spinner("../../../assets/images/spinner-light.svg");
}
