@import '../../../themes/mixins/loading-spinner';
@import '../../../themes/mixins/error-message';

.dialog {
  font-family: $font-light;

  .walletPassword {
    :global .walletPasswordSwitch {
      .switch_on {
        background: $color-light-red !important;

        .switch_thumb {
          box-shadow: inset -1.5px -1.5px 0 $color-light-red !important;
          box-shadow:
            inset -1.5px -1.5px 0 $color-light-red,
            inset 1.5px 1.5px 0 $color-light-red,
            inset 1.5px -1.5px 0 $color-light-red,
            inset -1.5px 1.5px 0 $color-light-red !important;
        }
      }
    }

    & + .walletPasswordFields {
      .newPassword {
        margin-top: 32px;
      }
    }
  }

  .walletPasswordFields {
    max-height: 300px;
    overflow: hidden;
    transition: all 400ms ease;

    &.hidden {
      max-height: 0;
      opacity: 0;
    }

    .passwordInstructions {
      color: $text-color-accent;
      font-family: $font-light;
      line-height: 1.38;
      margin-top: 20px;
      opacity: 0.5;
    }
  }

  .removeButton {
    background: $color-light-red;
    &:hover {
      background: $color-lighter-red !important;
    }
    &:active {
      background: $color-dark-red !important;
    }
  }

  .error {
    @include error-message;
    text-align: center;
    margin-top: 27px;
  }
}

.isSubmitting {
  button {
    @include loading-spinner("../../../assets/images/spinner-light.svg");
  }
}
