@import '../../../themes/mixins/loading-spinner';

.dialog {
  font-family: $font-light;
  :global {
    .SimpleCheckbox_root {
      margin-top: 20px;

      .SimpleCheckbox_check {
        border-color: $color-light-red;

        &.SimpleCheckbox_checked {
          background: $color-light-red;
        }
      }
    }
  }

  .confirmationInput {
    margin-top: 20px;
  }

  .isSubmitting {
    @include loading-spinner("../../../assets/images/spinner-light.svg");
  }

  .deleteButton {
    background: $color-light-red;
    &:hover {
      background: $color-lighter-red !important;
    }
    &:active {
      background: $color-dark-red !important;
    }
  }
}




