.dialog {
  font-family: $font-light;

  :global {

    .checkbox_check {
      border-color: #ea4c5b;
      &.checkbox_checked {
        border-color: #ea4c5b;
        background: #ea4c5b;
      }
    }



    .button_flat.button_primary {
      background: #ea4c5b;

      &[disabled] {
        opacity: 0.3;
      }

      &:not([disabled]) {
        &:hover {
          background: #ec5d6b;
        }
        &:active {
          background: #d34452;
        }
      }
    }
  }
}

.confirmationInput {
  margin-top: 30px;
  padding-bottom: 0 !important;
}
