.component {
  display: flex;
  width: 100%;

  button {
    color: var(--theme-choice-tabs-text-color);
    cursor: pointer;
    flex: 1;
    font-family: var(--font-medium);
    font-size: 16px;
    opacity: 0.5;
    padding-bottom: 20px;
    text-align: center;
  }

  .activeButton {
    border-bottom: 2px solid var(--theme-choice-tabs-bottom-border-color-active);
    color: var(--theme-choice-tabs-text-color-active);
    cursor: default;
    opacity: 1;
  }
}
