.component {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: center;
  width: 100%;

  .hardwareWalletContainer {
    font-family: var(--font-regular);
    height: 100%;
    width: 100%;

    .hardwareWalletWrapper {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;

      .hardwareWalletTrezor {
        display: flex;

        .trezorIcon {
          height: 138px;
          object-fit: contain;
          width: 325.5px;
        }
      }

      .hardwareWalletLedger {
        display: flex;
        flex-direction: column;

        .ledgerIcon {
          height: 78px;
          object-fit: contain;
          width: 250px;
        }

        .ledgerXIcon {
          height: 75px;
          object-fit: contain;
          width: 250px;
        }
      }

      .hardwareWalletTitle {
        color: var(--theme-hardware-wallet-title-color);
        font-size: 20px;
        font-weight: 500;
        line-height: 1.4;
        padding-top: 36px;
        text-align: center;
      }

      .hardwareWalletMessage {
        color: var(--theme-hardware-wallet-message-color);
        font-size: 16px;
        font-weight: 300;
        line-height: 1.38;
        max-width: 670px;
        opacity: 0.7;
        padding-top: 11px;
        text-align: center;
      }

      .hardwareWalletStepsWrapper {
        max-width: 640px;
        padding-top: 30px;
        width: 100%;

        .hardwareWalletStep {
          align-items: center;
          background-color: var(--theme-hardware-wallet-step-background-color);
          border-radius: 4px;
          display: flex;
          height: 72px;
          justify-content: space-between;
          padding: 20px;

          .hardwareWalletInnerStep {
            align-items: center;
            display: flex;
          }

          span {
            color: var(--theme-hardware-wallet-step-color);
            font-family: var(--font-light);
            font-size: 16px;
            font-weight: 300;
            line-height: 1.38;

            span {
              font-family: var(--font-medium);
              font-weight: 500;
            }
          }

          .ledgerSmallIcon {
            height: 32px;
            margin-right: 20px;
            object-fit: contain;
            width: 32px;
          }

          .exportIcon {
            height: 32px;
            margin-right: 20px;
            object-fit: contain;
            width: 32px;
          }

          .checkIcon {
            height: 24px;
            object-fit: contain;
            width: 24px;
          }
        }
      }
    }
  }
}
