{
 "rules": {
   "func-names": 0,
   "max-len": 0,
   "new-cap": [2, {
     "capIsNewExceptions": [
       "After",
       "AfterAll",
       "BeforeAll",
       "Before",
       "Given",
       "When",
       "Then"
     ]
   }]
 },
 "globals": {
   "daedalus": true
 }
}
