.component {
  color: var(--theme-settings-menu-item-text-color);
  display: block;
  font-family: var(--font-regular);
  font-size: 16px;
  line-height: 1.38;
  padding: 14px 20px;
  text-align: left;
  width: 100%;
}

.active {
  color: var(--theme-settings-menu-item-text-color-active);
  background-color: var(--theme-settings-menu-item-background-color-active);
  border-left: 4px solid var(--theme-settings-menu-item-left-border-color-active);
  font-family: var(--font-bold);
  padding-left: 16px;
}

.enabled {
  &:hover {
    color: var(--theme-settings-menu-item-text-color-enabled-hover);
    cursor: pointer;
  }
}

.disabled {
  color: var(--theme-settings-menu-item-text-color-disabled);
}
