.component {
  font-size: 16px;
  line-height: 1.38;
  color: #5e6066;
  font-family: $font-regular;
  padding: 14px 20px;
  display: block;
  width: 100%;
  text-align: left;
}

.active {
  border-left: 4px solid #445b7c;
  background-color: #edf0f3;
  font-family: $font-bold;
}

.enabled {
  &:hover {
    cursor: pointer;
    color: black;
  }
}

.disabled {
  color: #b3b3b3;
}
