$columns: 3;

.root {
  background-color: var(--theme-mnemonic-background-color);
  color: var(--theme-dialog-text-color);
  display: flex;
  font-family: var(--font-medium);
  justify-content: space-between;
  padding: 20px;
}

.inputList {
  width: calc(#{percentage(1 / $columns)} - 30px);
}

.inputWrapper {
  margin-bottom: 10px;
}
