.sidebarIcon {
  width: 30px;
  height: 100%;
}

.withoutWallet {
  background: $color-primary-dark url("../../assets/images/daedalus-logo-header-nologo.svg") no-repeat center !important;
  background-size: 220px !important;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.25) !important;
}

.withWallet {
  .walletInfo {
    color: $color-lighter-grey;
    font-family: $font-regular;
    text-align: center;
    text-shadow: 0 2.5px 10px rgba(0, 0, 0, 0.25);

    .walletName {
      font-size: 21px;
    }

    .walletAmount {
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 0.5px;
      line-height: 1.36;
      opacity: 0.7;
    }
  }
}

.topBarTitle {
  flex-grow: 1;
}
