$topBarHeight: 84px;

.component {
  background-color: var(--theme-topbar-layout-body-background-color);
  box-shadow: 0 0 70px 0 rgba(0,0,0,0.75);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.topbar {
  flex-shrink: 0;
  height: $topBarHeight;
}

.content {
  height: calc(100% - #{$topBarHeight});
}
