@import './stakingConfig';

.component {
  border-bottom: 1px solid var(--theme-dialog-border-color);
  margin: 30px;
  padding-bottom: 15px;
  text-align: center;
}

.heading {
  @extend %accentText;
  margin-bottom: 7px;
}

.timeLeft {
  @extend %accentText;
  font-size: 36px;
  margin-bottom: 7px;
}

.info {
  @extend %regularText;
  margin-bottom: 7px;
  span.link {
    color: #5e6066;
    text-decoration: underline;
  }
}
