@import './stakingConfig';

.component {
  @extend %contentBorderAndBackground;
  display: flex;
  margin-bottom: 20px;
  padding: 14px 20px;
}

.label {
  color: var(--rp-switch-label-text-color);
  flex: 1;
  font-family: var(--font-semibold);
  font-size: 16px;
  line-height: 1.38;
  padding-top: 1px;
}
