.component {
  :global {
    .recharts-cartesian-axis-tick text {
      fill: #c2cad4;
      font-family: var(--font-medium);
      font-size: 10px;
    }
  }
}

.toolTip {
  overflow: visible;
  position: fixed;
}
