@import '../../../themes/mixins/error-message';

.component {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.centeredBox {
  background-color: var(--theme-bordered-box-background-color);
  border: var(--theme-bordered-box-border);
  border-radius: 4px;
  overflow: visible;
  padding: 30px 30px 20px;
  width: 620px;
}

.languageSelect {
  margin-bottom: 30px;
}

.submitButton {
  display: block !important;
  margin: 0 auto;
}

.error {
  @include error-message;
  margin-bottom: 1rem;
  text-align: center;
}
