.overlay {
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;

  @media (max-width: 950px), (max-height: 678px) {
    overflow-y: overlay;
  }
}

.dialog {
  height: 100%;
  margin: auto 0;
  overflow: hidden;
  width: 100%;

  &:focus {
    outline: none;
  }
}
