@import '../../themes/mixins/overlay-backdrop';
@import '../../themes/mixins/layers';

.overlay {
  bottom: 0;
  left: 0;
  overflow-y: overlay;
  position: fixed;
  right: 0;
  top: 0;
  z-index: $dialog-z-index;
  @include overlay-backrop;

  *::-webkit-scrollbar-button {
    height: 36px;
  }
}

.dialog {
  height: 100%;
  width: 100%;

  &:focus {
    outline: none;
  }

  :global {
    *::-webkit-scrollbar-thumb {
      background-color: var(
        --theme-splash-network-scrollbar-thumb-background
      ) !important;
      &:hover {
        background-color: var(
          --theme-splash-network-scrollbar-thumb-background-hover
        ) !important;
      }
    }
  }
}
