@import '../../themes/mixins/overlay-backdrop';

.overlay {
  bottom: 0;
  left: 0;
  overflow-y: overlay;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
  @include overlay-backrop;

  *::-webkit-scrollbar-button {
    height: 36px;
  }
}

.dialog {
  height: 100%;
  width: 100%;

  &:focus {
    outline: none;
  }
}
