.root {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;

  .icon {
    display: inline-block;
    height: 15px;
    width: 21px;

    &.hideIcon {
      height: 18px;
      transform: translateY(0.5px);
    }
  }
}
