@import '../../../themes/mixins/loading-spinner';
@import '../../../themes/mixins/error-message';

.component {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;

  .centeredBox {
    background-color: $color-lighter-grey;
    border: 1px solid $color-light-grey;
    border-radius: 4px;
    padding: 30px 30px 20px;
    overflow: visible;
    width: 620px;
  }

  p {
    color: $text-color-accent;
    line-height: 1.38;

    &.sendLogsLabel {
      font-family: $font-medium;
      font-weight: 500;
      margin-bottom: 14px;
    }

    &.sendLogsText {
      font-family: $font-regular;
      font-size: 16px;
      margin-bottom: 30px;
    }
  }

  .actions {
    display: flex;

    .button {
      height: 50px;
      font-size: 14px;
      width: 50%;

      &.acceptButton {
        background-color: #445b7c;
      }

      &.declineButton {
        background-color: rgba(68, 91, 124, 0.05) !important;
        color: $text-color-accent !important;
        margin-right: 20px;

        &:hover {
          background-color: rgba(68, 91, 124, 0.1) !important;
        }
      }

      &.submitButtonSpinning {
        @include loading-spinner("../../../assets/images/spinner-light.svg");
      }
    }
  }

  .error {
    @include error-message;
    text-align: center;
    margin-bottom: 1rem;
  }
}
