@import '../../../themes/mixins/loading-spinner';
@import '../../../themes/mixins/error-message';

.component {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;

  .centeredBox {
    background-color: var(--theme-settings-menu-box-background-color);
    border: var(--theme-settings-menu-box-border);
    border-radius: 4px;
    padding: 30px 30px 20px;
    overflow: visible;
    width: 620px;
  }

  p {
    color: var(--theme-send-logs-text-color);
    line-height: 1.38;

    &.sendLogsLabel {
      font-family: var(--font-medium);
      font-weight: 500;
      margin-bottom: 14px;
    }

    &.sendLogsText {
      font-family: var(--font-regular);
      font-size: 16px;
      margin-bottom: 30px;
    }
  }

  .actions {
    display: flex;

    .button {
      height: 50px;
      font-size: 14px;
      width: 50%;

      &.declineButton {
        margin-right: 20px;
      }

      &.submitButtonSpinning {
        @include loading-spinner("../../../assets/images/spinner-light.svg");
      }
    }
  }

  .error {
    @include error-message;
    text-align: center;
    margin-bottom: 1rem;
  }
}
