$topBarHeight: 84px;

.component {
  background: var(--theme-main-body-background-color);
  height: 100%;
  display: flex;
}

.main {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 70px 0 rgba(0,0,0,0.75);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.sidebar {
  flex: 0 0;
  overflow: visible;
}

.topbar {
  height: $topBarHeight;
  flex-shrink: 0;
  // Show elements that overflow the topbar above the content area
  z-index: 1;
}

.content {
  height: 100%;
}

.contentWrapper {
  flex: 1;
  overflow-x: hidden;
  overflow-y: overlay;
  position: relative;
  &::-webkit-scrollbar-button {
    height: 7px;
    display: block;
  }
}
