.topBar {
  align-items: center;
  background: var(--theme-topbar-background-color);
  display: flex;
  height: 84px;
  justify-content: flex-end;
  padding: 0 26px;
  position: relative;
  z-index: 100;

  &.withoutWallet {
    .headerLogo {
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      width: 61px;

      svg {
        g {
          fill: var(--theme-topbar-logo-color);
        }
      }
    }
  }

  &.withWallet {
    .walletInfo {
      align-items: center;
      color: var(--theme-topbar-wallet-info-color);
      display: flex;
      flex-direction: column;
      font-family: var(--font-regular);
      overflow: hidden;
      text-align: center;
      user-select: text;

      .walletName {
        -webkit-box-orient: vertical;
        color: var(--theme-topbar-wallet-name-color);
        font-size: 21px;
        line-height: 25px;
        margin-bottom: 4px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        word-break: keep-all;
      }

      .walletAmount {
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 0.5px;
        line-height: 1.36;
        opacity: 0.7;
        word-break: break-all;
      }
    }
  }

  .leftIcon {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-shrink: 0;
    height: 50px;
    justify-content: center;

    .sidebarIcon {
      & > svg {
        height: 17px;
      }

      path:nth-child(2) {
        fill: var(--theme-icon-toggle-menu-color);
      }
    }
  }

  .topBarTitle {
    margin: auto;
    min-width: 0;
  }

  .rectangle {
    border-right: 1px solid var(--theme-node-sync-icon-color);
    height: 12px;
    margin-right: 27px;
    opacity: 0.3;
  }
}
