.topBar {
  align-items: center;
  background: var(--theme-topbar-background-color);
  display: flex;
  height: 84px;
  padding: 0 26px;
  position: relative;
  z-index: 100;

  &.withoutWallet {
    /* background: var(--theme-topbar-background-color)
      url('../../assets/images/header-logo.svg') no-repeat center !important;
    background-size: 61px !important; */

    .headerLogo {
      margin: auto;
      width: 61px;
      svg {
        g {
          fill: var(--theme-topbar-logo-color);
        }
      }
    }
  }

  &.withWallet {
    .walletInfo {
      align-items: center;
      color: var(--theme-topbar-wallet-info-color);
      display: flex;
      flex-direction: column;
      font-family: var(--font-regular);
      max-width: 45%;
      text-align: center;
      user-select: text;

      .walletName {
        -webkit-box-orient: vertical;
        color: var(--theme-topbar-wallet-name-color);
        display: inline;
        font-size: 21px;
        line-height: 25px;
        margin-bottom: 4px;
        overflow: hidden;
        position: relative;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        word-break: keep-all;
      }

      .walletAmount {
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 0.5px;
        line-height: 1.36;
        opacity: 0.7;
        word-break: break-all;
      }
    }
  }

  .leftIcon {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 50px;
    justify-content: center;
    width: 50px;

    .sidebarIcon {
      & > svg {
        height: 17px;
      }

      path:nth-child(2) {
        fill: var(--theme-icon-toggle-menu-color);
      }
    }
  }

  .topBarTitle {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    left: 70px;
    position: absolute;
    width: calc(100% - 140px);
  }

  .rectangle {
    &.hasTadaIcon {
      right: 220px;
    }

    background-color: var(--theme-node-sync-icon-color);
    height: 12px;
    opacity: 0.3;
    position: absolute;
    right: 162px;
    width: 1px;
  }
}
