@import "~react-toolbox/lib/colors";
@import "~react-toolbox/lib/globals";
@import "~react-toolbox/lib/mixins";

// ========== FONTS & TEXT ========= //

$preferred-font: SFUIDisplay, sans-serif;
$text-color-placeholder: #5e6066;

$font-weight-ultralight: 100;
$font-weight-thin: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-heavy: 800;
$font-weight-black: 900;

$font-ultralight: 'SFUIDisplay-Ultralight';
$font-thin: 'SFUIDisplay-Thin';
$font-light: 'SFUIDisplay-Light';
$font-regular: 'SFUIDisplay-Regular';
$font-medium: 'SFUIDisplay-Medium';
$font-semibold: 'SFUIDisplay-Semibold';
$font-bold: 'SFUIDisplay-Bold';
$font-heavy: 'SFUIDisplay-Heavy';
$font-black: 'SFUIDisplay-Black';

// ========= COLORS =========== //

$color-primary: #345078;
$color-primary-dark: #243e62;
$color-primary-bg: #ebeff2;
$color-dark-grey-blue: #2f496e;

// Sidebar
$sidebar-bg: $color-primary;
$sidebar-category-hover: #2e4669;
$sidebar-category-active: #233856;
$sidebar-menu-bg: $sidebar-category-active;
$sidebar-menu-item-hover: #1e304a;
$sidebar-menu-item-active: #1e304a;

// Buttons
$button-up-bg: #243e62;
$button-hover-bg: $color-dark-grey-blue;
$button-pressed-bg: #1e304a;
$button-disabled-bg: #b9c2cc;
