@import "~react-toolbox/lib/button/config";
$button-border-radius: 0.3rem;
@import "~react-toolbox/lib/button/theme";

%button {
  &[disabled] {
    opacity: 0.3;
  }
}

.flat {
  font-size: 18px;
  font-family: $font-semibold;
  letter-spacing: 2px;
  text-transform: none;
  color: white !important;
  background: $button-up-bg;

  &:hover {
    background: $button-hover-bg !important;
  }

  &:active {
    background: $button-pressed-bg !important;
  }
}
