@import "~react-toolbox/lib/button/config";
$button-border-radius: 0.3rem;
$button-height: 50px;
@import "~react-toolbox/lib/button/theme";

.flat {
  font-size: 14px;
  font-family: $font-medium;
  text-transform: none;
  background: $button-up-bg;

  &.primary {
    &[disabled] {
      opacity: 0.3;
      color: white;
    }
    &:not([disabled]) {
      color: white;
      &:hover {
        background: $button-hover-bg;
      }
      &:active {
        background: $button-pressed-bg;
      }
    }
  }

  &.neutral {
    &:not([disabled]) {
      color: #5e6066;
      background-color: #eef1f3;
      &:hover {
        color: #5e6066;
        background-color: darken(#eef1f3, 7%);
      }
    }
    &[disabled] {
      opacity: 0.3;
      color: darken(#eef1f3, 7%);
    }
  }
}
