@import "~react-toolbox/lib/checkbox/config";
$checkbox-size: 23px;
$checkbox-total-height: 23px;
@import "~react-toolbox/lib/checkbox/theme";

.input {
  width: 0 !important;
  > label {
    display: none;
  }
}

.check {
  &.checked {
    &:after {
      top: 0;
      left: 6px;
      width: 6px;
      height: 13px;
      animation: daedalus-checkmark-expand 140ms ease-out forwards;
    }
  }
}
