@import "~react-toolbox/lib/checkbox/theme";

.text, .theme-text {
  font-family: $font-light;
  font-size: 16px;
  color: #5e6066;
  white-space: normal;
}

.input {
  width: 0 !important;
}

$checkbox-size: 23px;

.check {
  width: $checkbox-size;
  height: $checkbox-size;
}
