@import "~react-toolbox/lib/button/config";
@import "~react-toolbox/lib/dialog/config";
$dialog-content-padding: 30px;
@import "~react-toolbox/lib/dialog/theme";

.title {
  text-transform: uppercase;
  font-size: 1.125rem;
  color: $text-color-accent;
  text-align: center;
  font-family: $font-medium;
  letter-spacing: 2px;
}

.dialog {
  border-radius: 10px;
  min-width: 500px;
  max-width: 640px;
}

.normal {
  width: 70vw;
}

.body {
  overflow-y: visible;
}

.navigation {
  text-align: center;
  padding: 0 30px 20px;
  display: flex;
  justify-content: space-between;
}

%button {
  font-family: $font-medium;
  font-size: 14px !important;
  letter-spacing: 0;
}

.button {
  @extend %button;
  box-sizing: border-box;
  min-width: calc(50% - #{$dialog-navigation-padding}) !important;
  padding: 0;
  margin: 0;
  &:only-child {
    margin: auto;
    width: 65%;
  }
}
