@import "~react-toolbox/lib/button/config";
@import "~react-toolbox/lib/dialog/config";
$dialog-content-padding: 30px;
@import "~react-toolbox/lib/dialog/theme";

.title {
  text-transform: uppercase;
  font-size: 1.125rem;
  color: #5e6066;
  text-align: center;
  font-family: $font-medium;
  letter-spacing: 2px;
}

.dialog {
  border-radius: 10px;
}

.navigation {
  text-align: center;
}

%button {
  font-family: $font-medium;
  font-size: 14px !important;
  letter-spacing: 0;
}

.button {
  @extend %button;
  width: 60%;
}

.navigation {
  padding: 20px 30px;
}

.buttonPrimary {
  @extend %button;
  width: calc(50% - 7px);
}

.buttonSecondary {
  @extend %button;
  margin-left: 0;
  width: calc(50% - 6px);
  color: #5e6066 !important;
  background-color: #eef1f3 !important;
  &:hover {
    background-color: darken(#eef1f3, 7%) !important;
  }
}
