@import "~react-toolbox/lib/dropdown/theme";
@import "../mixins/arrow";

.dropdown {
  overflow: visible;
  &:not(.up) > .values {
    top: 90%;
    bottom: auto;
    @include arrow(up, white, #5e6066, 11px);
  }
  &.up > .values {
    bottom: 90%;
    top: auto;
    @include arrow(down, white, #5e6066, 11px);
  }
  &.active > .values {
    max-height: $dropdown-overflow-max-height;
    overflow-y: auto;
  }
  &:not(.active) > .values {
    height: 0;
    overflow-y: hidden;
  }
  &.active {
    > .label, > .value {
      opacity: 1;
    }
    .value {
      > input {
        border-color: #5e6066;
      }
    }
  }
  &:focus {
    outline: none;
  }
}

.value {
  > input {
    color: $text-color-placeholder;
  }

  // Override the dropdown arrow to our custom version
  &:after {
    border: none;
    background: url("../../assets/images/expand-arrow.svg");
    background-size: 11px 7px;
    width: 11px;
    height: 7px;
    top: 48%;
  }
}

.values {
  font-family: $font-regular;
  font-size: 16px;
  overflow: visible;
}
