@import "~react-toolbox/lib/input/config";
$input-field-font-size: 1rem;
$input-label-font-size: 1rem;
$input-focus-label-top: 0;
$input-field-padding: 0.75rem;
$input-text-label-color: #5e6066;
$input-hint-opacity: 0.5;
@import "~react-toolbox/lib/input/theme";

.label {
  top: $input-focus-label-top;
  font-weight: $font-weight-regular;
}

.inputElement {
  padding: $input-field-padding 1rem;
  font-family: SFUIDisplay, sans-serif;
  border: 1px solid #c6cdd6;
  font-weight: $font-weight-light;

  &:focus:not([disabled]):not([readonly]) {
    border-color: #5e6066;
    @include material-animation-default();
  }
}

.hint {
  top: 3rem;
  left: 1.25rem;
  font-size: $input-field-font-size;
  color: #5e6066;
  font-weight: $font-weight-light;
  opacity: 0.5;
  display: block;
}

.error {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
  font-weight: $font-weight-regular;
  line-height: 14px;
  opacity: 0.5;
}

.errored {
  padding-bottom: $input-padding;
  > .inputElement {
    border-color: $input-text-error-color;
  }
  > .counter, > .label {
    color: $input-text-label-color;
  }
  > .label > .required {
    color: $input-text-label-color;
  }
}
