// Sizes
$sidebar-width: 360px;
$sidebar-minimized-category-width: 84px;
$sidebar-button-height: 84px;
// Colors
$sidebar-bg: $color-primary;
$sidebar-category-hover: #2e4669;
$sidebar-category-active: #233856;
$sidebar-menu-bg: $sidebar-category-active;
$sidebar-menu-item-hover: #1e304a;
$sidebar-menu-item-active: #1e304a;
