@import './sidebarConfig';

.component {
  width: $sidebar-width;
  background-color: $sidebar-bg;
  display: flex;
  height: 100%;
  transition: width 200ms ease;
  overflow: hidden;
}

.hidden {
  width: 0;
}

.minimized {
  width: 84px;
}

.maximized {
  width: 100%;
}
