@import './sidebarConfig';

.component {
  background-color: $sidebar-menu-bg;
  display: none;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.visible {
  display: block;
}
