.root {
  cursor: pointer;
  display: flex;
  padding-bottom: 7px;
  padding-top: 7px;

  &.isExpanded {
    background-color: var(--theme-tokens-list-header-expanded-background-color);

    &:hover {
      background-color: var(
        --theme-tokens-list-header-expanded-background-color-hover
      );
    }
  }

  .favoriteIcon {
    border-radius: 3px;
    cursor: pointer;
    height: 22px;
    margin-left: 10px;
    transition: opacity 0.25s;
    width: 23px;
    z-index: 1;

    svg {
      height: 14px;
      width: 15px;
    }

    &.isFavorite {
      opacity: 0.7;
    }

    &:not(.isFavorite) {
      path {
        stroke: var(--theme-button-flat-text-color-disabled);
      }
    }

    &:hover {
      opacity: 0.7;
      &.isFavorite {
        opacity: 1;
      }
    }
  }

  .asset {
    margin-left: 10px;
    margin-right: auto;
    width: auto;
  }

  .assetAmount {
    color: var(--theme-widgets-asset-token-text-color);
    font-family: var(--font-regular);
    font-size: 12px;
    letter-spacing: 0.4px;
    line-height: 1.33;
    margin: 3px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &:hover {
    background: var(--theme-button-flat-background-color-hover);
  }
}

.arrow {
  height: 22px;
  margin-left: 10px;
  margin-right: 15px;
  opacity: 0.3;
  right: 12px;
  text-align: center;
  width: 12px;
  z-index: 1;

  > svg {
    height: 12px;
    margin-top: 5px;
    width: 12px;

    path {
      fill: var(--theme-widgets-asset-token-text-color);
    }
  }

  &:hover {
    opacity: 0.5;
  }

  .isExpanded & {
    transform: rotate(180deg);
  }
}
