@import '../../../themes/mixins/loading-spinner';
@import '../../../themes/mixins/error-message';

.component {
  p {
    font-family: var(--font-light);
    font-size: 16px;
    line-height: 1.38;
    margin-bottom: 20px;

    b {
      font-family: var(--font-medium);
    }
  }
}

.walletName {
  margin-bottom: 20px;
}

.spendingPasswordFields {
  display: flex;
  flex-wrap: wrap;

  .spendingPasswordField {
    display: flex;

    .tooltip {
      &:hover {
        .infoIcon {
          opacity: 0.8;
        }
      }
    }

    :global .ConfigurationDialog_tooltip.SimpleTooltip_root.TooltipOverrides_root.InlineEditingDropdown-tooltip_root.SimpleTooltip_isShowingOnHover {
      height: 12px;
      left: -150px;
      top: 2px;
      width: 12px;
    }

    :global {
      .PasswordInput_root,
      .SimplePasswordInput_root {
        width: 100%;
      }
    }

    :global .InlineEditingDropdown-tooltip_bubble {
      border-radius: 10px;
      height: 87px;
      left: 125px;
      line-height: 1.2;
      top: 66px;
      white-space: normal;
      width: 291.5px;

      span[data-bubble-arrow]:before,
      span[data-bubble-arrow]:after {
        left: -4%;
        top: 42%;
        transform: rotate(90deg);
      }
    }

    .infoIcon {
      height: 14px;
      margin-left: 6px;
      opacity: 0.4;
      transform: translateY(2px);
      width: 14px;

      path {
        fill: var(--theme-input-label-color);
      }
    }

    :global .PasswordInput_root.spendingPassword,
    :global .PasswordInput_root.repeatedPassword {
      width: 100%;
    }
  }
}

.spendingPasswordField {
  flex: 1;

  &:first-child {
    margin-right: 10px;
  }
}

.passwordInstructions {
  color: var(--theme-dialog-text-color);
  font-family: var(--font-light);
  line-height: 1.38;
  margin-top: 10px;
}

.error {
  @include error-message;
  font-family: var(--font-regular) !important;
  margin-top: 20px;
  text-align: center;
}

.isSubmitting {
  box-shadow: none !important;
  @include loading-spinner('../../../assets/images/spinner-light.svg');
}
