.component {
  p {
    font-family: var(--font-light);
    font-size: 16px;
    line-height: 1.38;
    margin-bottom: 20px;
    b {
      font-family: var(--font-medium);
    }
  }
}

.input {
  margin-bottom: 20px;
}
