.component {
  color: #5e6066;
  font-family: var(--font-regular);
  font-size: 16px;
  font-weight: 300;
  line-height: 1.38;
}

.hardwareWalletAcceptance {
  color: var(
    --theme-wallet-restore-dialog-step-walletType-hardwareWalletDisclaimer-text-color
  );
  font-family: var(--font-regular);
  font-size: 16px;
  margin-bottom: 20px;
  b {
    font-weight: 600;
  }
}
