.component {
  :global {
    .Dialog_title {
      margin-bottom: 0;
    }
  }
}

// Temporary. Can be deleted.
.content {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100px;
}
