@import '../../stakingConfig';

.component {
  width: 100%;

  .label {
    @extend %regularText;

    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 3px;
  }
}
