@mixin place-form-field-error-below-input {
  :global {
    .SimpleFormField_root {
      &.SimpleInput_errored {
        margin-bottom: 21px;

        .SimpleFormField_error {
          left: 0;
          margin: 4px 0 0 0;
          overflow: hidden;
          position: absolute;
          right: 0;
          text-align: right;
          text-overflow: ellipsis;
          top: 100%;
          white-space: nowrap;
        }
      }
    }
  }
}
