.component {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.navigation {
  height: 50px;
  flex-shrink: 0;
  position: relative;
  z-index: 1;
}

.page {
  height: calc(100% - 50px);
  overflow: auto;
  position: relative;
}
