.component {
  display: flex;
  flex-direction: column;
  height: 100%;

  &.rewards {
    .page {
      overflow-y: hidden;
    }
  }
}

.navigation {
  flex-shrink: 0;
  height: 50px;
  position: relative;
  z-index: 10000;
}

.page {
  display: flex;
  flex-direction: column;
  height: calc(100% - 50px);
  overflow-x: hidden;
  overflow-y: overlay;
  padding-right: 20px;
  position: relative;
  &::-webkit-scrollbar-thumb {
    &:vertical {
      min-height: 60px !important;
    }
  }
}

.settingsTabPage {
  overflow: hidden;
}
