.component {	
  align-items: center;	
  background-color: var(--theme-hardware-wallet-status-background-color);	
  border: 1px solid var(--theme-hardware-wallet-status-border-color);	
  border-radius: 4px;	
  display: flex;	
  height: 72px;	
  justify-content: space-between;	
  padding: 20px;	

  .message {	
    align-items: center;	
    display: flex;	
    color: var(--theme-hardware-wallet-status-color);	
    font-family: var(--font-light);	
    font-size: 16px;	
    font-weight: 300;	
    line-height: 1.38;	
    padding-right: 20px;	
  }	

  .checkIcon {	
    height: 16px;	
    margin-right: 5px;	
    object-fit: contain;	
    width: 16px;	

    svg > g > path {	
      stroke-width: 5px;	
    }	
  }	

  .clearIcon {	
    height: 14px;	
    margin-right: 6px;	
    object-fit: contain;	
    width: 14px;	
  }	

  &.isReady {	
    border: 1px solid var(--theme-hardware-wallet-status-ready-color);	
  }	

  &.isError {	
    border: 1px solid var(--rp-theme-color-error);	
  }	

  :global {	
    .LoadingSpinner_component {	
      height: 24px;	
      margin: initial;	
      width: 24px;	

      .LoadingSpinner_icon svg path {	
        fill: var(--theme-hardware-wallet-message-color) !important;	
        opacity: 0.5;	
      }	
    }	
  }	
}	

.errorText {	
  color: var(--rp-theme-color-error);	
  font-family: var(--font-regular);	
  font-size: 16px;	
  margin-top: 20px;	
  text-align: center;	
} 