@import '../../../themes/mixins/buttons';
@import '../sidebarConfig';

.component {
  @include button;
  background-color: var(--theme-sidebar-menu-background-color);
  color: var(--theme-sidebar-menu-item-wallet-name-color);
  display: flex;
  flex-direction: row;
  height: $sidebar-button-height;
  justify-content: space-between;
  overflow: hidden;
  padding: 0 20px;
  position: relative;
  width: $sidebar-width - $sidebar-minimized-category-width;

  &:hover {
    background-color: var(--theme-sidebar-menu-item-background-color-hover);
  }
}

.legacyItem {
  .title {
    padding-right: 50px;
  }

  .meta {
    :global {
      .ProgressBar_component {
        width: 156px;
      }
    }
  }
}

.notResponding {
  .title,
  .info {
    color: var(--theme-sidebar-menu-item-wallet-name-color-disabled);
  }
}

.active {
  background-color: var(--theme-sidebar-menu-item-background-color-active);

  &:hover {
    background-color: var(--theme-sidebar-menu-item-background-color-active);
    cursor: default;
  }
}

.meta {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: left;
  width: 100%;

  :global {
    .ProgressBar_component {
      left: 0;
      margin-top: 6.5px;
      position: absolute;
      right: 0;
      top: 100%;
    }
  }
}

.title {
  color: var(--theme-sidebar-menu-item-wallet-name-color);
  font-family: var(--font-regular);
  font-size: 18px;
  line-height: 1.5em;
  margin-top: -5.5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.info {
  color: var(--theme-sidebar-menu-item-wallet-info-color);
  font-family: var(--font-light);
  font-size: 14px;
  letter-spacing: 1px;
  opacity: 0.7;
}

.recoveryPhraseVerificationStatus-notification {
  &:after {
    background: var(--theme-button-attention-background-color);
    border-radius: 50%;
    content: '';
    display: block;
    height: 8px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-8px);
    width: 8px;
  }
}
