@import '../../../themes/mixins/link';

.overlay {
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 20;

  .dialog {
    height: 100%;
    margin: auto 0;
    overflow: hidden;
    width: 100%;

    &:focus {
      outline: none;
    }
    .content {
      background-color: var(--theme-manual-update-overlay-background-color);
      display: flex;
      flex-direction: column;
      font-family: var(--font-regular);
      height: 100%;
      justify-content: center;
      text-align: center;

      h1 {
        color: var(--theme-manual-update-overlay-title-text-color);
        font-size: 20px;
        line-height: 1.2;
      }

      .description {
        margin: 16px auto;
        p {
          color: var(--theme-manual-update-overlay-text-color);
          font-size: 16px;
          line-height: 1.38;
          margin-bottom: 14px;
          max-width: 610px;
          b {
            color: var(--theme-manual-update-overlay-text-highlight-color);
            font-family: var(--font-medium);
          }
        }
      }

      .actionButton {
        background-color: var(
          --theme-manual-update-overlay-button-background-color
        );
        border: solid 1px var(--theme-manual-update-overlay-button-border-color);
        font-weight: 500;
        line-height: 1.36;
        margin: 0 auto;

        .linkNewWindow {
          @include link(--theme-manual-update-overlay-button-icon-color);
          border-bottom: none;
          margin-right: 12px;
          svg {
            margin-left: 0;
            vertical-align: sub;
            width: 15px;
          }
        }

        .btnLabel {
          color: var(--theme-manual-update-overlay-button-label-color);
        }

        &:not(.disabled):hover {
          background-color: var(
            --theme-manual-update-overlay-button-background-color-hover
          );
          border: none;
          color: var(--theme-manual-update-overlay-button-text-color-hover);

          .linkNewWindow {
            svg {
              g {
                stroke: var(
                  --theme-manual-update-overlay-button-icon-color-hover
                );
              }
            }
          }

          .btnLabel {
            color: var(--theme-manual-update-overlay-button-label-color-hover);
          }
        }
      }
    }
  }

  @media (max-width: 950px), (max-height: 678px) {
    overflow-y: auto;
  }
}
