@import '../../styles/mixins/loading-spinner';

.component {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.invalidCredentials {
  :global {
    .input_input > .input_inputElement {
      margin-top: 1px;
      border-color: $theme-error-color;
    }
  }
}

.logo {
  width: 187px;
}

.form {
  width: 438px;
  margin-top: 47px;
  border: 1px solid #c6cdd6;
  background-color: #fafbfc;
  border-radius: 4px;
  padding: 30px 30px 21px 30px;

  :global .input_input {
    padding: 0;
    overflow: visible;

    &:not(:first-child) {
      margin-top: 20px;
    }

    .input_hint {
      top: 0.90rem;
      left: 1.1rem;
    }
  }
}

%submitButton {
  width: 100%;
  margin-top: 20px;
  height: 50px;
  line-height: 3rem;
}

.submitButtonSpinning {
  @extend %submitButton;
  @include loading-spinner;
}

.submitButton {
  @extend %submitButton;
  font-size: 14px;
  font-family: $font-medium;
  text-transform: uppercase;
}

%createAccountParagraph {
  color: #5e6066;
  font-size: 14px;
}

.noAccountText {
  @extend %createAccountParagraph;
  margin-top: 15px;
  font-family: $font-light;
  text-align: center;
}

.createAccountLink {
  @extend %createAccountParagraph;
  font-family: $font-medium;
  text-decoration: underline;
  &:hover {
    cursor: pointer;
    color: black;
  }
}

.formError {
  font-family: $font-medium;
  color: $theme-error-color;
  font-size: 14px;
  text-align: center;
  margin-top: 1rem;
}
