.component {
  border-bottom: 1px solid rgba(94, 96, 102, 0.15);
  &.isExpanded {
    background-color: var(--theme-button-flat-background-color-hover);
    .content {
      display: block;
    }
  }
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 7px 42px 7px 12px;
  cursor: pointer;
  position: relative;
  .assetAmount {
    color: #5e6066;
    font-family: var(--font-regular);
    font-size: 12px;
    letter-spacing: 0.4px;
    line-height: 1.33;
    margin: 3px 0;
    white-space: nowrap;
  }
}
.arrow {
  bottom: 10px;
  height: 22px;
  opacity: 0.3;
  position: absolute;
  right: 12px;
  text-align: center;
  width: 12px;
  z-index: 1;
  top: 7px;

  > svg {
    height: 7px;
    width: 12px;
    margin-top: 8px;

    path {
      stroke: var(--theme-transactions-arrow-stroke-color);
    }
  }
  .header:hover & {
    opacity: 0.5;
  }
  &.isExpanded {
    transform: rotate(180deg);
  }
}
.content {
  display: none;
  margin: 13px 12px 20px;
}
.footer {
  border-top: 1px solid var(--theme-wallet-settings-section-separator-color);
  color: var(--theme-widgets-asset-token-text-color);
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding-top: 20px;

  dl {
    line-height: 1;
    padding: 9px 0 0 8px;
    width: calc(100% - 264px);

    min-height: 100px;
    background: lightcoral;
  }

  dt {
    display: inline-block;
    font-family: var(--font-medium);
    font-size: 12px;
    line-height: 1.33;
    text-align: right;
    white-space: nowrap;
    width: 67px;
  }

  dd {
    display: inline-flex;
    font-family: var(--font-light);
    font-size: 12px;
    line-height: 16px;
    margin-left: 10px;
    width: calc(100% - 100px);
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
  }

  .footerButtons {
    margin: auto 0;
    white-space: nowrap;
    .button {
      height: 36px;
      margin-left: 12px;
      width: 120px;
    }
  }
}
