@import '../../../themes/mixins/animations';

%smallText {
  color: var(--theme-bordered-box-text-color);
  font-family: var(--font-regular);
  font-size: 14px;
  height: 19px;
  letter-spacing: 0.5px;
  line-height: 1.36;
}

.component {
  padding: 20px 20px 0;
}

.walletName {
  color: var(--theme-bordered-box-text-color);
  font-family: var(--font-bold);
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 1.38;
  margin-bottom: 11px;
  user-select: text;
}

.walletAmount {
  color: var(--theme-bordered-box-text-color);
  font-family: var(--font-ultralight);
  font-size: 40px;
  line-height: 1;
  margin-bottom: 11px;
  user-select: text;
  word-break: break-all;

  & > .decimal {
    font-family: var(--font-medium);
    font-size: 18px;
  }

  & > .currencySymbolBig {
    display: inline-block;
    margin-left: 10px;
    & > svg {
      height: 27.5px;
      width: 25px;
      & > g > g {
        stroke: var(--theme-icon-ada-summary-wallet-amount-symbol-color);
      }
    }
  }
}

.pendingConfirmation {
  @extend %smallText;
  & > .currencySymbolSmallest {
    display: inline-block;
    margin-left: 1px;
    & > svg {
      height: 10px;
      width: 9px;
      & > g > g {
        stroke: var(
          --theme-icon-ada-summary-wallet-pending-confirmation-symbol-color
        );
      }
    }
  }
}

.numberOfTransactions {
  @extend %smallText;
  &.isLoadingNumberOfTransactions {
    @include animated-ellipsis($width: 16px);
  }
}
