@import '../../../themes/mixins/animations';

.component {
  padding: 20px;

  .noTokensContainer {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .noTokensLeftContainer {
      p {
        font-family: var(--font-regular);
        font-size: 16px;
        font-weight: 300;
        line-height: 1.38;
        color: #5e6066;
      }
    }

    .noTokensRightContainer {
      .noTokensLearnMoreLinkUrl {
        font-family: var(--font-medium);
        height: 36px;
        width: 160px;
      }
    }
  }
}
