@import '../../../themes/mixins/animations';

.currency {
  color: var(--theme-bordered-box-text-color);
  font-family: var(--font-bold);
  font-size: 22px;
  line-height: 1;
  text-align: right;
  user-select: none;
  word-break: break-all;

  .currencySymbol {
    font-size: 12px;
    margin-left: 0;
  }
}
.currencyTitle {
  color: var(--theme-bordered-box-text-color);
  font-family: var(--font-bold);
  font-size: 12px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.67;
  margin: 3px 0 9px;
  opacity: 0.7;
  text-align: right;
}

.currencyWalletAmount {
  color: var(--theme-bordered-box-text-color);
  font-family: var(--font-bold);
  font-size: 22px;
  line-height: 1;
  margin: 0 0 11px;
  user-select: text;
  word-break: break-all;

  span {
    color: var(--theme-icon-add-wallet-dialog-big-button-color);
    font-size: 16px;
    font-size: 16px;
    margin-left: 6px;
    opacity: 0.7;
  }
}

.currencyRate {
  font-family: var(--font-bold);
  font-size: 12px;
  line-height: 1.67;
  margin-bottom: -6px;
  opacity: 0.7;
  text-align: right;
}

.currencyLastFetched {
  color: var(--theme-bordered-box-text-color);
  cursor: pointer;
  font-family: var(--font-bold);
  font-size: 12px;
  line-height: 1.67;
  text-align: right;

  em {
    opacity: 0.5;
  }

  &:hover {
    em {
      opacity: 0.8;
    }

    .currencySettingsIcon {
      opacity: 1;
    }
  }

  &.currencyIsFetchingRate em {
    margin-right: 13px;
    @include animated-ellipsis($width: 16px);
  }

  svg g > g {
    fill: var(--theme-bordered-box-text-color);
  }
}

.currencySettingsIcon {
  margin-left: 4px;
  opacity: 0.6;
  vertical-align: middle;

  svg {
    height: 10px;
    width: 10px;
    g {
      opacity: 1;
    }
  }
}
