@import '../../../themes/mixins/animations';

%smallText {
  color: var(--theme-bordered-box-text-color);
  font-family: var(--font-regular);
  font-size: 14px;
  height: 19px;
  letter-spacing: 0.5px;
  line-height: 1.36;
}

.component {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  width: 100%;

  .nativeTokenContainer {
    height: 76px;
    margin-bottom: 20px;
    padding: 15px 20px;
    width: 49%;
  }
}

.numberOfTokens {
  color: var(--theme-transactions-list-group-date-color);
  font-family: var(--font-regular);
  font-size: 16px;
  margin-bottom: -10px;
  opacity: 0.5;
  padding: 0 0 0 40px;
}

.walletName {
  color: var(--theme-bordered-box-text-color);
  font-family: var(--font-bold);
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 1.38;
  user-select: text;
}

.walletAmount {
  color: var(--theme-bordered-box-text-color);
  font-family: var(--font-regular);
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 1.38;
  user-select: text;
  word-break: break-all;

  & > .decimal {
    font-family: var(--font-medium);
    font-size: 18px;
  }

  & > .currencySymbolBig {
    display: inline-block;
    margin-left: 10px;
    & > svg {
      height: 27.5px;
      width: 25px;
      & > g > g {
        stroke: var(--theme-icon-ada-summary-wallet-amount-symbol-color);
      }
    }
  }
}

.transactionsCountWrapper {

}
