.component {
  border-bottom: 1px solid rgba(94, 96, 102, 0.15);
  padding: 7px 12px;
  &.isExpanded {
    background-color: var(--theme-button-flat-background-color-hover);
    .content {
      display: block;
    }
  }
}
.header {
  display: flex;
  justify-content: space-between;
  .assetAmount {
    color: #5e6066;
    font-family: var(--font-regular);
    font-size: 12px;
    letter-spacing: 0.4px;
    line-height: 1.33;
    margin: 3px 0;
    white-space: nowrap;
  }
}
.content {
  display: none;
  margin: 20px 0 15px;
}
.footer {
  padding-top: 20px;
  border-top: 1px solid var(--theme-wallet-settings-section-separator-color);
  margin-top: 20px;
  display: flex;
  justify-content: space-between;

  dl {
    line-height: 1;
    padding-left: 8px;
  }

  dt {
    display: inline-block;
    font-family: var(--font-medium);
    font-size: 12px;
    line-height: 1.33;
    text-align: right;
    white-space: nowrap;
    width: 67px;
  }

  dd {
    display: inline-flex;
    font-family: var(--font-light);
    font-size: 12px;
    line-height: 16px;
    margin-left: 10px;
    max-height: 48px;
    overflow-y: auto;
  }
}
