@import '../../../themes/mixins/animations';

%smallText {
  color: var(--theme-bordered-box-text-color);
  font-family: var(--font-regular);
  font-size: 14px;
  height: 19px;
  letter-spacing: 0.5px;
  line-height: 1.36;
}

.syncingWrapper {
  margin-bottom: 20px;

  :global {
    .LoadingSpinner_component {
      margin-top: 10px;
    }
  }
}

.component {
  padding: 20px;

  .assetsLeftContainer {
    width: calc(100% - 77px);
  }

  .assetRightContainer {
    .assetSendButton {
      border-radius: 3px;
      cursor: pointer;
      font-size: 11px;
      font-weight: bold;
      height: 21px;
      line-height: 1.36;
      padding: 3px 18px;
      text-transform: uppercase;
      width: 67px;

      &:hover {
        background-color: var(
          --theme-report-issue-button-background-color-hover
        );
      }

      &:active {
        background-color: var(
          --theme-report-issue-button-background-color-active
        );
      }

      &.disabled {
        opacity: 0.3;
        pointer-events: none;
      }
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 0 20px;
  .title {
    color: var(--rp-input-placeholder-color);
    font-family: var(--font-regular);
    font-size: 16px;
  }
  .searchValue {
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    color: var(--theme-bordered-box-text-color);
    svg {
      width: 6px;
      opacity: 0.5;
    }
  }
  .searchButton {
    border-radius: 4px;
    font-size: 10px;
    height: auto;
    line-height: 1.2;
    padding: 4px 8px;
    width: auto;
  }
}

.search {
  margin-bottom: 20px;
  position: relative;
  .searchIcon {
    position: absolute;
    z-index: 1;
    top: 17px;
    left: 20px;
    svg {
      height: 15px;
      width: 15px;
    }
  }
  input {
    border-radius: 4px;
    padding: 13px 58px 13px 54px;
  }
  .clearButton {
    border-radius: 3px;
    cursor: pointer;
    height: 28px;
    position: absolute;
    right: 12px;
    top: 11px;
    width: 28px;
    z-index: 1;
    &:hover {
      opacity: 0.8;
    }
    svg {
      height: 8px;
      width: 8px;
      polygon {
        fill: var(--theme-bordered-box-text-color);
      }
    }
  }
}

.noResults {
  font-size: 12px;
  line-height: 1.33;
  font-family: var(--font-regular);
  color: var(--theme-bordered-box-text-color);
  letter-spacing: 0.4px;
  margin: 0 12px;
}

.assetsColumns {
  display: flex;
  justify-content: space-between;
  margin: 0 42px 10px 12px;
  span {
    color: var(--theme-bordered-box-text-color);
    font-family: var(--font-semibold);
    font-size: 10px;
    line-height: 2;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

.assetAmount {
  color: var(--theme-bordered-box-text-color);
  font-family: var(--font-light);
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 1.38;
  margin-top: 4px;
}
