.component {
  border-bottom: 1px solid rgba(94, 96, 102, 0.15);
  &.isExpanded {
    background-color: var(--theme-button-flat-background-color-hover);
    .content {
      display: block;
    }
  }
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 7px 42px 7px 12px;
  cursor: pointer;
  position: relative;
  .assetAmount {
    color: #5e6066;
    font-family: var(--font-regular);
    font-size: 12px;
    letter-spacing: 0.4px;
    line-height: 1.33;
    margin: 3px 0;
    white-space: nowrap;
  }
}
.arrow {
  bottom: 10px;
  display: none;
  height: 20px;
  opacity: 0.3;
  position: absolute;
  right: 12px;
  text-align: center;
  width: 12px;
  z-index: 1;

  > svg {
    height: 7px;
    width: 12px;

    path {
      stroke: var(--theme-transactions-arrow-stroke-color);
    }
  }

  &.isExpanded {
    display: block;
    transform: rotate(180deg);
    opacity: 0.1;
  }
  .header:hover & {
    display: block;
    opacity: 0.3;
  }
}
.content {
  display: none;
  margin: 13px 12px 15px;
}
.footer {
  border-top: 1px solid var(--theme-wallet-settings-section-separator-color);
  color: var(--theme-widgets-asset-token-text-color);
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding-top: 20px;

  dl {
    line-height: 1;
    padding-left: 8px;
  }

  dt {
    display: inline-block;
    font-family: var(--font-medium);
    font-size: 12px;
    line-height: 1.33;
    text-align: right;
    white-space: nowrap;
    width: 67px;
  }

  dd {
    display: inline-flex;
    font-family: var(--font-light);
    font-size: 12px;
    line-height: 16px;
    margin-left: 10px;
    max-height: 48px;
    overflow-y: auto;
  }
}
