@import '../../../themes/mixins/animations';

%smallText {
  color: var(--theme-bordered-box-text-color);
  font-family: var(--font-regular);
  font-size: 14px;
  height: 19px;
  letter-spacing: 0.5px;
  line-height: 1.36;
}

.component {
  padding: 20px;
}

.walletContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.currency {
  min-width: 187px;
  padding-top: 6px;
}

.walletName {
  color: var(--theme-bordered-box-text-color);
  font-family: var(--font-regular);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 1.38;
  margin-bottom: 6px;
  user-select: text;
}

.walletAmount {
  color: var(--theme-bordered-box-text-color);
  font-family: var(--font-bold);
  font-size: 22px;
  margin: 4px 0 8px;
  user-select: text;
  word-break: break-all;

  .currencyCode {
    font-size: 16px;
    margin-left: 6px;
    opacity: 0.7;
  }
}

.rewards {
  @extend %smallText;
  height: auto;
}

.rewardsAmount {
  font-family: var(--font-medium);
}

.transactionsCountWrapper {
  .numberOfTransactions {
    @extend %smallText;
    font-family: var(--font-light);
    span {
      font-family: var(--font-medium);
    }
    &.isLoadingNumberOfTransactions {
      @include animated-ellipsis($width: 16px);
    }
  }
}
