@import '../../../themes/mixins/error-message';

.component {
  margin-bottom: 20px;

  :global {
    .RadioSet_radiosContainer {
      flex-direction: column;
    }
    .SimpleOptions_option em {
      opacity: 0.5;
    }
  }
}
.description {
  color: var(--theme-support-settings-text-color);
  display: block;
  font-family: var(--font-light);
  font-size: 16px;
  line-height: 1.38;
  margin-bottom: 20px;
  p {
    margin-bottom: 12px;
  }
  b {
    font-family: var(--font-regular);
  }
  li {
    list-style: decimal;
    margin-left: 20px;
  }
  em {
    color: var(--theme-delegation-steps-intro-link-color);
  }
  .link {
    font-size: 16px;
  }
}
.smashServerUrl {
  margin-top: 20px;
  :global {
    .SimpleInput_errored {
      border-color: var(--rp-input-border-color-errored);
    }
  }
}
.smashServerUrlError {
  @include error-message;
  margin-bottom: 1rem;
  text-align: center;
}

.optionDescription {
  color: var(--theme-support-settings-text-color);
  display: block;
  font-family: var(--font-light);
  font-size: 14px;
  line-height: 1.38;
  margin-top: 20px;
  p {
    margin-bottom: 12px;
  }
  b {
    font-family: var(--font-bold);
  }
  :global {
    .SimpleLink_root {
      font-family: var(--font-regular);
      word-break: break-word;
    }
  }
}

.selectionRenderer {
  color: var(--rp-input-text-color, #5e6066);
  font-family: var(
    --rp-input-font-family,
    var(--rp-theme-font-regular, 'NotoSans-Regular, NotoSansCJKjp-Regular'),
    sans-serif
  );
  line-height: var(--rp-input-line-height, normal);
  padding: 14px 20px 0;
  em {
    opacity: 0.5;
  }
}

@keyframes animateSavingResultLabel {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.savingResultLabel {
  animation: animateSavingResultLabel 3s;
  color: var(--theme-input-right-floating-text-success-color);
  font-family: var(--font-regular);
  font-size: 13px;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 5px;
}
