@import '../../../themes/mixins/error-message';

.component {
  margin-bottom: 20px;
}
.description {
  color: var(--theme-support-settings-text-color);
  display: block;
  font-family: var(--font-light);
  font-size: 16px;
  line-height: 1.38;
  margin-bottom: 20px;
  p {
    margin-bottom: 12px;
  }
  b {
    font-family: var(--font-regular);
  }
  li {
    list-style: decimal;
    margin-left: 20px;
  }
  em {
    color: var(--theme-delegation-steps-intro-link-color);
  }
}
.smashServerUrl {
  margin-top: 20px;
  :global {
    .SimpleInput_errored {
      border-color: var(--rp-input-border-color-errored);
    }
  }
}
.smashServerUrlError {
  @include error-message;
  margin-bottom: 1rem;
  text-align: center;
}
:global {
  .RadioSet_radiosContainer {
    flex-direction: column;
  }
}

.optionDescription {
  color: var(--theme-support-settings-text-color);
  display: block;
  font-family: var(--font-regular);
  font-size: 14px;
  line-height: 1.38;
  margin-top: 20px;
}
