@import '../../../themes/mixins/loading-spinner';
@import '../../../themes/mixins/error-message';

.component {
  padding-bottom: 10px;
  position: relative;

  h1 {
    color: var(--theme-support-settings-text-color);
    font-family: var(--font-semibold);
    font-size: 16px;
    line-height: 1.38;
    margin-bottom: 10px;
  }

  h1:not(:first-child) {
    padding-top: 10px;
  }

  ul {
    list-style-type: disc;
    padding-left: 16px;
  }

  a,
  button,
  p, li {
    color: var(--theme-support-settings-text-color);
    font-family: var(--font-regular);
    font-size: 14px;
    line-height: 19px;
  }

  a,
  button {
    color: var(--theme-support-settings-link-color);
    text-decoration: underline;
  }

  button {
    cursor: pointer;
    letter-spacing: 1px;
  }

  p {
    margin-bottom: 10px;
  }

  .spinning {
    @include loading-spinner("../../../assets/images/spinner-dark.svg");
    display: block;
    height: 34px;
    position: absolute;
    right: 0;
    top: 0;
    width: 34px;
  }
}

