@import '../../../themes/mixins/error-message';
@import '../../../themes/mixins/link';

.component {
  padding-bottom: 10px;

  h1 {
    color: var(--theme-support-settings-text-color);
    font-family: var(--font-semibold);
    font-size: 18px;
    line-height: 1.38;
    margin-bottom: 11px;
  }

  h2 {
    color: var(--theme-support-settings-text-color);
    font-family: var(--font-semibold);
    font-size: 16px;
    line-height: 1.38;
    margin-bottom: 6px;
  }

  ol {
    font-family: var(--font-semibold);
    color: var(--theme-support-settings-item-color);
    list-style: decimal;
    padding-left: 17px;
  }

  li {
    padding-left: 6.5px;
  }

  a,
  button,
  p {
    color: var(--theme-support-settings-text-color);
    font-family: var(--font-regular);
    font-size: 16px;
  }

  a,
  button {
    @include link(--theme-link-main-color);
  }

  button {
    cursor: pointer;
    &:disabled {
      color: var(--rp-button-bg-color-disabled);
      text-decoration: none;
      cursor: default;
    }
  }

  p {
    line-height: 1.38;
    margin-bottom: 11px;

    & + h1 {
      margin-top: 24px;
    }
  }

  .link {
  }
}
