@import '../../../themes/mixins/error-message';

.component {
  padding-bottom: 10px;

  h1 {
    color: var(--theme-support-settings-text-color);
    font-family: var(--font-semibold);
    font-size: 16px;
    line-height: 1.38;
    margin-bottom: 4px;
  }

  h1:not(:first-child) {
    padding-top: 6px;
  }

  a,
  button,
  p {
    color: var(--theme-support-settings-text-color);
    font-family: var(--font-regular);
    font-size: 14px;
    line-height: 19px;
  }

  a,
  button {
    color: var(--theme-support-settings-link-color);
    text-decoration: none;
    border-bottom: 1px solid #2572cc;
  }

  button {
    cursor: pointer;
  }

  p {
    margin-bottom: 10px;
  }
}

