@import '../../../themes/mixins/error-message';

.component {

  h1 {
    color: var(--theme-support-settings-text-color);
    font-family: var(--font-semibold);
    font-size: 16px;
    line-height: 1.38;
    margin-bottom: 10px;
  }

  p {
    color: var(--theme-support-settings-text-color);
    font-family: var(--font-regular);
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 10px;

    a {
      color: var(--theme-support-settings-text-color);
      text-decoration: underline;
    }
  }
}

