@import '../../../themes/mixins/loading-spinner';
@import '../../../themes/mixins/error-message';
@import '../../../themes/mixins/place-form-field-error-below-input';

.dialog {
  width: 580px;
}

.emailInput,
.subjectInput,
.problemTextarea {
  margin-bottom: 20px;
}

.bugReportAlternativeText {
  margin-top: 14px;

  ol {
    list-style: decimal;
    margin-left: 20px;
    margin-top: 14px;
  }

  p, li {
    color: var(--theme-instructions-text-color);
    font-family: var(--font-light);
    font-size: 16px;
    font-weight: 300;
    line-height: 1.38;
    margin-bottom: 6px;

    strong {
      font-weight: 500;
    }
  }
}

.logsWrapper {
  .logsSwitch {
    border-top: 1px solid var(--theme-separation-border-color);
    margin-top: 30px;
    padding-top: 20px;

    & > .logsSwitchlabel {
      color: var(--theme-wallet-password-switch-label-color);
      font-family: var(--font-semibold);
      font-size: 16px;
      line-height: 1.38;
      margin-bottom: 10px;
    }

    :global {
      .SimpleSwitch_root {
        margin-bottom: 0;
      }
    }
  }

  .attachedLogs {
    margin-right: 80px;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 400ms ease;
    user-select: auto;
    word-break: break-all;

    &.show {
      max-height: 1000px;
      opacity: 1;
    }

    @include place-form-field-error-below-input;

    p {
      color: var(--theme-instructions-text-color);
      font-family: var(--font-regular);
      font-style: italic;
      line-height: 1.38;
      opacity: 0.7;

      &.logPath {
        font-weight: 600;
        margin: 16px 0;
      }

      &.logFileName {
        margin-left: 12px;
      }
    }
  }
}

.error {
  @include error-message;
  font-family: var(--font-medium);
  text-align: left;
}

.isSubmitting {
  box-shadow: none !important;
  @include loading-spinner("../../../assets/images/spinner-light.svg");
}
