@import '../../themes/mixins/loading-spinner';
@import '../../themes/mixins/error-message';

.walletPassword {
  margin-bottom: -32px;

  .walletPasswordSwitch {
    border-top: 1px solid #dfe4e8;
    padding-top: 20px;
  }

  .walletPasswordFields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 400ms ease;

    &.show {
      max-height: 250px;
      opacity: 1;
      overflow: visible;
    }

    & > div {
      width: 275px;
    }

    .passwordInstructions {
      color: $text-color-accent;
      font-family: $font-light;
      line-height: 1.38;
      margin: -15px 0 30px;
      opacity: 0.5;
    }
  }

  & + .error {
    margin-top: 30px;
  }
}

.error {
  @include error-message;
  margin-top: 1rem;
  text-align: center;
}

.isSubmitting {
  button {
    @include loading-spinner("../../assets/images/spinner-light.svg");
  }
}
