@import '../../themes/mixins/loading-spinner';
@import '../../themes/mixins/error-message';

.mnemonicPhrase {
  margin: 20px 0;
}

.walletPassword {
  margin-bottom: -32px;

  .walletPasswordSwitch {
    border-top: 1px solid #dfe4e8;
    margin-top: 30px;
    padding-top: 20px;

    & > .passwordLabel {
      color: $theme-wallet-password-switch-label-color;
      font-family: $font-semibold;
      font-size: 16px;
      line-height: 1.38;
      margin-bottom: 10px;
    }
  }

  .walletPasswordFields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding-bottom: 10px;
    transition: all 400ms ease;

    &.show {
      max-height: 250px;
      opacity: 1;
      overflow: visible;
    }

    & > div {
      width: 275px;
    }

    .passwordInstructions {
      color: $theme-instructions-text-color;
      font-family: $font-light;
      line-height: 1.38;
      margin: 16px 0 20px;
      opacity: 0.5;
    }
  }
}

.error {
  @include error-message;
  margin-top: 30px;
  text-align: center;
}

.isSubmitting {
  @include loading-spinner("../../assets/images/spinner-light.svg");
}
