@import "./navigation/walletNavConfig";

.component {
  padding: 20px;
  height: calc(100% - #{$walletNavHeight});
  overflow-y: auto;
}

.list {
  border-radius: 4px;
  background-color: #fafbfc;
  border: solid 1px #c6cdd6;
}

.transaction {
  padding: 0 20px;
  margin: 20px 0;
}

