@import '../../themes/mixins/loading-spinner';

.walletPassword {
  margin-bottom: -32px;

  .walletPasswordSwitch {
    border-top: 1px solid #dfe4e8;
    margin-top: 30px;
    padding-top: 20px;

    & > .passwordLabel {
      color: #5e6066;
      font-family: $font-semibold;
      font-size: 16px;
      line-height: 1.38;
      margin-bottom: 10px;
    }
  }

  .walletPasswordFields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding-bottom: 10px;
    transition: all 400ms ease;

    &.show {
      max-height: 250px;
      opacity: 1;
      overflow: visible;
    }

    & > div {
      width: 275px;
    }

    .passwordInstructions {
      color: $text-color-accent;
      font-family: $font-light;
      line-height: 1.38;
      margin: 16px 0 20px;
      opacity: 0.5;
    }
  }
}

.isSubmitting {
  position: relative;
  @include loading-spinner("../../assets/images/spinner-light.svg");
}
