@import '../../themes/mixins/error-message';

.component {
  background-color: $color-primary-bg;
  display: flex;
  flex-direction: column;
  font-family: $font-regular;
  height: 100%;
  padding: 20px 30px;
}

.assuranceLevelSelect {
  margin: 10px 0 30px;
}

.deleteWalletButton {
  display: flex;
  justify-content: center;
  margin: 30px 0 10px;
}

.error {
  @include error-message;
  text-align: center;
}
