.buttonsContainer {
  display: flex;
  flex-direction: column;
  width: 580px;
}

.firstRow {
  display: flex;
}

.secondRow {
  display: flex;
}

.component {
  :global .Dialog_title {
    margin-bottom: 20px;
  }
}
