@import '../../themes/mixins/error-message';

.component {
  background-color: $theme-main-body-background-color;
  display: flex;
  flex-direction: column;
  font-family: $font-regular;
  height: 100%;
  padding: 20px 30px;

  :global {
    .SimpleFormField_label {
      color: $theme-input-label-color;
    }
  }
}

.assuranceLevelSelect {
  margin-bottom: 20px;
}

.export {
  font-size: 16px;
  margin-bottom: 20px;

  p {
    color: $theme-bordered-box-text-color;
    font-family: $font-regular;
    line-height: 1.38;
  }

  p:first-of-type {
    margin-top: 14px;
  }

  strong {
    color: $theme-label-button-color;
    font-family: $font-bold;
  }

  & > .export_link {
    color: $theme-label-button-color;
    cursor: pointer;
    font-size: 16px;
    text-decoration: underline;
  }
}

.deleteWalletButton {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.error {
  @include error-message;
  text-align: center;
}

