.component {
  width: calc(100% - 40px);
  margin: 0 auto;
  margin-top: 50px;
}

.requestButton {
  margin-top: 30px;
  button, div {
    height: 50px !important;
    line-height: 50px !important;
  }
}

.heading {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.5px;
  text-align: center;
  color: #5e6066;
  text-transform: uppercase;
  strong {
    font-weight: bold;
  }
}

.qrCode {
  text-align: center;
  padding: 20px 0 ;
}

.hash {
  font-size: 19px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.5px;
  text-align: center;
  color: #5e6066;
  padding-bottom: 10px;
}

.instructions {
  height: 19px;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  color: #5e6066;
  max-width: 640px;
  margin: 0 auto 20px auto;
  a {
    font-size: 14px;
    font-weight: 600;
    color: #345078;
  }
}
