@import "./navigation/walletNavConfig";

.component {
  padding: 20px;
  height: calc(100% - #{$walletNavHeight});
  overflow-y: auto;
}

.list {
  border-radius: 4px;
  background-color: #fafbfc;
  border: solid 1px #c6cdd6;
}

.transaction {
  height: 84px;
  margin-bottom: 10px;
  padding: 20px;
}

