@import '../../themes/mixins/error-message';

.component {
  background-color: $color-primary-bg;
  display: flex;
  flex-direction: column;
  font-family: $font-regular;
  height: 100%;
  padding: 20px 30px;
}

.export {
  font-size: 16px;
  margin-bottom: 20px;

  p {
    color: #abadb0;
    font-family: $font-regular;
    line-height: 1.38;
  }

  p:first-of-type {
    margin-top: 14px;
  }

  strong {
    color: #5e6066;
    font-family: $font-bold;
  }

  & > .export_link {
    color: #5e6066;
    cursor: pointer;
    font-size: 16px;
    text-decoration: underline;
  }
}

.deleteWalletButton {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.error {
  @include error-message;
  text-align: center;
}

