@import '../../themes/mixins/loading-spinner';

.component {
  :global .dialog_body {
    overflow-y: hidden;
  }
}

.isSubmitting {
  button {
    @include loading-spinner("../../assets/images/spinner-light.svg");
  }
}

.walletPassword {
  margin-bottom: -32px;

  .walletPasswordSwitch {
    border-top: 1px solid #dfe4e8;
    margin-top: 30px;
    padding-top: 20px;
  }

  .walletPasswordFields {
    display: flex;
    justify-content: space-between;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 400ms ease;

    &.show {
      max-height: 150px;
      opacity: 1;
      overflow: visible;
    }

    & > div {
      width: 275px;
    }
  }
}
