@import '../../themes/mixins/error-message';

.component {
  background-color: $color-primary-bg;
  display: flex;
  flex-direction: column;
  font-family: $font-regular;
  height: 100%;
}

.borderedBox {
  background: $color-lighter-grey;
  border: solid 1px $color-light-grey;
  border-radius: 4px;
  margin: 20px;
  padding: 20px 30px;
}

.error {
  @include error-message;
  text-align: center;
}
