@import '../../themes/mixins/loading-spinner';
@import '../../themes/mixins/error-message';

.component {
  padding: 20px;
}

.submitButtonSpinning, .submitButton {
  display: block !important;
  margin: 0 auto;
  width: 360px;
}

.submitButtonSpinning {
  @include loading-spinner("../../assets/images/spinner-light.svg");
}

.error {
  @include error-message;
  text-align: center;
  margin-bottom: 1rem;
}

.amountInput, .receiverInput {
  position: relative;
  margin-bottom: 20px;
}

.adaLabel {
  bottom: 16px;
  color: $color-light-grey;
  font-family: $font-light;
  position: absolute;
  right: 20px;
  text-transform: uppercase;
}
