@import '../../../themes/mixins/link';

.overlay {
  background-color: var(--theme-wallet-import-background-color);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;

  :global {
    .SimpleFormField_error {
      position: absolute;
      top: -20px;
      white-space: nowrap;
      width: 100%;
    }
  }
}

.dialog {
  margin: auto 0;
  max-width: 980px;
  overflow: hidden;

  &:focus {
    outline: none;
  }
}

.component {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 50px 80px;

  .closeButton {
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 10000;

    span {
      height: 44px;
      width: 44px;

      &:hover {
        background-color: var(
          --theme-wallet-import-description-close-hover-background
        );
        border-radius: 50%;
      }
    }

    svg {
      height: 12px;
      margin-top: 16px;
      width: 12px;

      g {
        stroke: var(--theme-about-window-icon-close-button-color);
      }
    }
  }

  .backgroundContainer {
    background-color: var(--theme-splash-network-background-color);
    height: 100%;
    left: 0;
    object-fit: contain;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

  .content {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: var(--font-regular);
    height: 100%;
    justify-content: center;
    left: 0;
    padding: 20px 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2000;

    .title {
      color: var(--theme-wallet-import-title-color);
      font-family: var(--font-regular);
      font-size: 20px;
      line-height: 1.2;
      margin-bottom: 11px;
      text-align: center;
    }

    .description {
      color: var(--theme-wallet-import-description-color);
      font-family: var(--font-regular);
      font-size: 16px;
      line-height: 1.38;
      margin-bottom: 20px;
      max-width: 560px;
      opacity: 0.7;
      text-align: center;
    }

    .separator {
      background-color: #ffffff;
      height: 1px;
      margin-bottom: 20px;
      max-width: 670px;
      opacity: 0.2;
      width: 100%;
    }

    .walletsContainer {
      .walletsRow {
        align-items: baseline;
        display: flex;
        padding-bottom: 20px;

        .walletsCounter {
          color: #ffffff;
          font-family: var(--font-bold);
          font-size: 16px;
          letter-spacing: 0.5px;
          line-height: 1.38;
          padding-right: 20px;
        }

        .walletsInputField {
          align-items: center;
          display: flex;
          width: 303px;

          .walletsInput {
            height: 50px;
            width: 100%;

            input {
              background-color: #243e62;
              border: solid 1px #ffffff;
              border-radius: 2px;
              color: #ffffff;
              font-family: var(--font-semibold);
              font-size: 16px;
              letter-spacing: 0.5px;
              line-height: 1.38;
              width: 275px;
            }

            &.walletUnavailable {
              input {
                background-color: #ffffff !important;
                opacity: 0.05 !important;
              }
            }

            &.walletNoPassword {
              opacity: 0.5 !important;
            }
          }

          .selectStateDirectoryButton {
            background-color: var(
              --theme-wallet-import-stateFolder-button-background-color
            );
            border-radius: 3px;
            cursor: pointer;
            height: 28px;
            left: -40px;
            position: relative;
            top: -1px;
            width: 28px;

            .penIcon {
              svg {
                height: 12px;
                position: relative;
                top: 1px;
                width: 12px;
              }
            }

            .crossIcon {
              svg {
                height: 8px;
                width: 8px;

                g {
                  fill: #fff;
                }
              }
            }
          }
        }

        .walletsStatus {
          color: #ffffff;
          font-family: var(--font-regular);
          font-size: 16px;
          letter-spacing: 0.5px;
          line-height: 1.38;
          max-width: 165px;
          width: 100%;
        }

        .walletsStatusIcon {
          padding-left: 72.5px;
          position: relative;
          top: 3px;

          :global {
            .SimpleCheckbox_check {
              border: 1px solid #fff;
              height: 23px;
              position: relative;
              top: 2px;
              width: 23px;
            }

            .SimpleCheckbox_checked {
              position: relative;
              top: -3px;
            }

            .LoadingSpinner_component {
              position: relative;
              top: 3px;
            }
          }

          .walletsStatusIconCheckmark {
            position: relative;
            top: -5px;

            svg {
              height: 8px;
              width: 12px;
            }
          }
        }
      }
    }

    .action {
      .actionButton {
        background-color: var(
          --theme-splash-network-overlay-button-background-color
        );
        border: solid 1px
          var(--theme-splash-network-overlay-button-border-color);
        color: var(--theme-splash-network-overlay-button-text-color);
        font-weight: 500;
        line-height: 1.36;
        margin: 0 auto;

        &:hover {
          background-color: var(
            --theme-splash-network-overlay-button-background-color-hover
          );
          border: none;
          color: var(--theme-splash-network-overlay-button-text-color-hover);
        }

        &.disabled {
          opacity: 0.3;

          :global {
            .LoadingSpinner_component {
              margin-top: 9px;
            }
          }

          &:hover {
            background-color: var(
              --theme-splash-network-overlay-button-background-color
            );
            border: solid 1px
              var(--theme-splash-network-overlay-button-border-color);
            color: var(--theme-splash-network-overlay-button-text-color);
          }
        }
      }
    }

    .learnMoreLink {
      border-bottom: 1px solid var(--theme-splash-network-learn-more-color);
      color: var(--theme-splash-network-learn-more-color);
      margin-top: 20px;
      opacity: 0.8;
      &:after {
        background-color: var(--theme-splash-network-learn-more-color);
      }
    }
  }
}
