@import '../../../themes/mixins/link';

.overlay {
  background-color: var(--theme-about-window-background-color);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;

  @media (max-width: 950px), (max-height: 678px) {
    overflow-y: overlay;
  }
}

.dialog {
  margin: auto 0;
  max-width: 980px;
  overflow: hidden;

  &:focus {
    outline: none;
  }
}

.component {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 50px 80px;
  user-select: text;

  .closeButton {
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 10000;

    span {
      height: 44px;
      width: 44px;

      &:hover {
        background-color: var(--theme-about-window-icon-close-hover-background);
        border-radius: 50%;
      }
    }

    svg {
      height: 12px;
      margin-top: 16px;
      width: 12px;

      g {
        stroke: var(--theme-about-window-icon-close-button-color);
      }
    }
  }

  .backgroundContainer {
    background-color: var(--theme-splash-network-background-color);
    height: 100%;
    left: 0;
    object-fit: contain;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;

    .backgroundOverlay {
      background-image: linear-gradient(
        0deg,
        var(--theme-splash-network-background-color1) 0%,
        var(--theme-splash-network-background-color2) 10%,
        var(--theme-splash-network-background-color3) 16%,
        var(--theme-splash-network-background-color4) 20%,
        var(--theme-splash-network-background-color5) 80%,
        var(--theme-splash-network-background-color6) 84%,
        var(--theme-splash-network-background-color7) 90%,
        var(--theme-splash-network-background-color8) 100%
      );
      height: 100%;
      position: absolute;
      width: 100%;
      z-index: 1500;
    }
  }

  .content {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: var(--font-regular);
    height: 100%;
    justify-content: center;
    left: 0;
    padding: 20px 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2000;

    .daedalusIcon {
      height: 135px;
      margin-bottom: 30px;
      object-fit: contain;
      width: 173px;

      svg {
        path {
          fill: var(--theme-splash-network-logo-fill-color);
        }
      }
    }

    .title {
      color: var(--theme-splash-network-title-color);
      font-family: var(--font-semibold);
      font-size: 20px;
      letter-spacing: 1px;
      line-height: 1.2;
      margin-bottom: 5px;
      text-transform: uppercase;
    }

    .subTitle1 {
      color: var(--theme-splash-network-subTitle1-color);
      font-family: var(--font-semibold);
      font-size: 20px;
      letter-spacing: 1px;
      line-height: 1.2;
      margin-bottom: 5px;
    }

    .subTitle2 {
      color: var(--theme-splash-network-subTitle2-color);
      font-family: var(--font-semibold);
      font-size: 16px;
      letter-spacing: 0.8px;
      line-height: 1.38;
      margin-bottom: 20px;
      text-transform: uppercase;
    }

    .description {
      background-color: var(
        --theme-splash-network-description-background-color
      );
      border-radius: 4px;
      font-size: 14px;
      line-height: 1.43;
      margin-bottom: 30px;
      max-width: 608px;
      overflow-y: scroll;
      padding: 12px 24px;

      @media (max-height: 650px) {
        max-height: 190px;
      }

      p {
        color: var(--theme-splash-network-description-color);
        margin-bottom: 12px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      b {
        color: var(--theme-splash-network-description-bold-color);
        font-family: var(--font-medium);
      }
    }

    .action {
      .actionButton {
        background-color: var(
          --theme-splash-network-overlay-button-background-color
        );
        border: solid 1px
          var(--theme-splash-network-overlay-button-border-color);
        color: var(--theme-splash-network-overlay-button-text-color);
        font-weight: 500;
        line-height: 1.36;
        margin: 0 auto;

        &:hover {
          background-color: var(
            --theme-splash-network-overlay-button-background-color-hover
          );
          border: none;
          color: var(--theme-splash-network-overlay-button-text-color-hover);
        }
      }
    }

    .learnMoreLink {
      border-bottom: 1px solid var(--theme-splash-network-learn-more-color);
      color: var(--theme-splash-network-learn-more-color);
      margin-top: 20px;
      opacity: 0.8;
      &:after {
        background-color: var(--theme-splash-network-learn-more-color);
      }
    }
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--theme-splash-network-scrollbar-thumb-background);
    &:hover {
      background-color: var(
        --theme-splash-network-scrollbar-thumb-background-hover
      );
    }
  }
}
