@import '../../../themes/mixins/link';

.overlay {
  background-color: var(--theme-wallet-import-background-color);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;

  @media (max-width: 950px), (max-height: 678px) {
    overflow-y: overlay;
  }
}

.dialog {
  margin: auto 0;
  max-width: 980px;
  overflow: hidden;

  &:focus {
    outline: none;
  }
}

.component {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 50px 80px;
  user-select: text;

  .closeButton {
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 10000;

    span {
      height: 44px;
      width: 44px;

      &:hover {
        background-color: var(
          --theme-wallet-import-description-close-hover-background
        );
        border-radius: 50%;
      }
    }

    svg {
      height: 12px;
      margin-top: 16px;
      width: 12px;

      g {
        stroke: var(--theme-about-window-icon-close-button-color);
      }
    }
  }

  .backgroundContainer {
    background-color: var(--theme-splash-network-background-color);
    height: 100%;
    left: 0;
    object-fit: contain;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

  .content {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: var(--font-regular);
    height: 100%;
    justify-content: center;
    left: 0;
    padding: 20px 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2000;

    .title {
      color: var(--theme-wallet-import-title-color);
      font-family: var(--font-regular);
      font-size: 20px;
      line-height: 1.2;
      margin-bottom: 11px;
      text-align: center;
    }

    .description {
      color: var(--theme-wallet-import-description-color);
      font-family: var(--font-regular);
      font-size: 16px;
      line-height: 1.38;
      margin-bottom: 20px;
      max-width: 560px;
      opacity: 0.7;
      text-align: center;
    }

    .separator {
      background-color: #ffffff;
      height: 1px;
      margin-bottom: 20px;
      max-width: 670px;
      opacity: 0.2;
      width: 100%;
    }

    .stateFolderContainer {
      padding-bottom: 30px;

      .stateFolderLabel {
        color: var(--theme-wallet-import-stateFolder-label-color);
        font-family: var(--font-semibold);
        font-size: 16px;
        line-height: 1.38;
        margin-bottom: 11.5px;
        text-align: center;
      }

      .stateFolderInputWrapper {
        align-items: center;
        display: flex;

        .stateFolderInput {
          height: 50px;
          margin-left: 30px;
          width: 540px;

          input {
            background-color: var(
              --theme-automatic-update-overlay-button-background-color
            );
            border: solid 1px
              var(--theme-wallet-import-stateFolder-border-color);
            border-radius: 2px;
            color: var(--theme-wallet-import-stateFolder-label-color);
            font-size: 16px;
            line-height: 1.38;
          }
        }

        .selectStateDirectoryButton {
          background-color: var(
            --theme-wallet-import-stateFolder-button-background-color
          );
          border-radius: 3px;
          height: 28px;
          left: -35px;
          position: relative;
          width: 28px;

          .penIcon {
            svg {
              cursor: pointer;
              height: 12px;
              width: 12px;
            }
          }
        }
      }
    }

    .action {
      .actionButton {
        background-color: var(
          --theme-splash-network-overlay-button-background-color
        );
        border: solid 1px
          var(--theme-splash-network-overlay-button-border-color);
        color: var(--theme-splash-network-overlay-button-text-color);
        font-weight: 500;
        line-height: 1.36;
        margin: 0 auto;

        &:hover {
          background-color: var(
            --theme-splash-network-overlay-button-background-color-hover
          );
          border: none;
          color: var(--theme-splash-network-overlay-button-text-color-hover);
        }
      }
    }

    .learnMoreLink {
      border-bottom: 1px solid var(--theme-splash-network-learn-more-color);
      color: var(--theme-splash-network-learn-more-color);
      margin-top: 20px;
      opacity: 0.8;
      &:after {
        background-color: var(--theme-splash-network-learn-more-color);
      }
    }
  }
}
