@import '../stakingConfig';

.component {
  background-color: var(--theme-staking-background-color);
  height: 100%;
  margin: 20px;
  text-align: center;
}

.mainContent {
  @extend %contentBorderAndBackground;
  padding: 20px;
}

.heading {
  @extend %accentText;
  font-size: 19px;
  margin-bottom: 14px;
}

.description {
  @extend %regularText;
  color: #5e6066;
  margin-bottom: 24px;
}

.progressBar {
  border-radius: 5px;
  height: 24px;
  margin: 0 auto;
  margin-bottom: 24px;
  width: 80%;
}

.progressBarContainer {
  background-color: var(--theme-staking-background-color);
  height: 100%;
  position: relative;
  width: 100%;
}

.progress {
  background: repeating-linear-gradient(
    -63deg,
    var(--theme-block-decentralization-progress-stripe-dark-1-background-color),
    var(--theme-block-decentralization-progress-stripe-dark-1-background-color)
      10px,
    var(--theme-block-decentralization-progress-stripe-dark-2-background-color)
      10px,
    var(--theme-block-decentralization-progress-stripe-dark-2-background-color)
      20px
  );
  border-radius: 5px;
  height: 100%;
  position: relative;
  overflow: hidden;
  z-index: 1000;
}

.progressLabel {
  @extend %regularText;
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.progressBackLabel {
  @extend %regularText;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 500;
}
