.component {
  border-radius: 10px;
  background-color: var(--theme-dialog-big-button-background-color);
  border: solid 4px var(--theme-dialog-big-button-border-color);
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 10px;
  padding: 30px;
}

.disabled {
  opacity: 0.3;
  cursor: default;
}

.icon {
  & > svg {
    height: 48px;
    path {
      fill: var(--theme-icon-add-wallet-dialog-big-button-color);
    }
  }
}

.label {
  margin-top: 20px;
  font-size: 19px;
  line-height: 1.37;
  color: var(--theme-dialog-big-button-label-color);
  font-family: var(--font-medium);
}

.description {
  font-family: var(--font-regular);
  height: 19px;
  font-size: 14px;
  line-height: 1.36;
  color: var(--theme-dialog-big-button-description-color);
}
