%base {
  font-size: 16px;
  line-height: 1.38;
  font-family: $font-regular;
  color: #5e6066;
}

.label {
  @extend %base;
  font-family: $font-semibold;
  margin-bottom: 10px;
}

.uploadBox {
  width: 154px;
  height: 154px;
  border-radius: 2px;
  border: solid 1px $color-light-grey;
  display: flex;
  align-items: center;
}

.instructions {
  width: 100%;
  text-align: center;

  .title {
    @extend %base;
    font-family: $font-semibold;
  }

  .subtitle {
    @extend %base;
    font-size: 12px;
    line-height: 1.33;
  }
}
