.component {
  position: relative;

  &.inactive {
    &:hover {
      cursor: pointer;
      opacity: 1;
    }
    .input_inputElement {
      cursor: pointer;
      opacity: 1;
    }
  }

  .button {
    position: absolute;
    right: 22px;
    bottom: 43px;
    opacity: 0.5;
    font-family: $font-light;
    font-size: 16px;
    line-height: 1.38;
    text-align: right;
    color: $text-color-accent;
  }

  @keyframes animateSavingResultLabel {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 0;
    }
  }

  .savingResultLabel {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    font-family: $font-light;
    font-size: 14px;
    text-align: right;
    color: $text-color-accent;
    animation: animateSavingResultLabel 3s;
  }
}


