.component {
  position: relative;
  &:hover {
    .button {
      cursor: pointer;
      opacity: 1;
    }
  }

  .button {
    position: absolute;
    right: 22px;
    bottom: 43px;
    opacity: 0.5;
    font-family: $font-light;
    font-size: 16px;
    line-height: 1.38;
    text-align: right;
    color: $text-color-accent;
  }
}


