.component {
  overflow: visible;
  position: absolute;
  right: 12px;
  &:hover {
    .info {
      opacity: 1;
    }
  }
  &.mainnet {
    right: 40px;
    .icon {
      height: 31px;
      width: 31px;
    }
  }
}

.icon {
  height: 22px;
  width: 22px;
}

.syncing {
  .icon :global {
    animation: loading-spin 1.5s linear;
    animation-iteration-count: infinite;
  }
}

.synced {}

.info {
  opacity: 0;
  transition: opacity, 200ms;
  white-space: nowrap;
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  text-align: right;
  font-family: var(--font-light);
  font-size: 14px;
  background-color: var(--theme-node-sync-info-message-background-color);
  padding: 10px;
  border-radius: 4px;
  color: var(--theme-node-sync-info-message-text-color);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.25);
}
