.component {
  padding: 2rem 0;
  position: relative;
}

.label {
  color: $text-color-accent;
  font-family: $font-semibold;
  font-size: 16px;
  left: 0;
  line-height: 1.38;
  position: absolute;
  top: 0;
}

.switch {
  align-items: center;
  display: flex;
  justify-content: space-between;

  .placeholder {
    color: $text-color-accent;
    font-family: $font-light;
    line-height: 1.38;
    opacity: 0.5;
  }

  label {
    height: auto !important;
    padding: 0 !important;
  }
}
