.transactionTypeIconWrapper {
  border-radius: 10px;
  height: 44px;
  opacity: 0.8;
  padding: 12.5px 10.5px;
  width: 44px;
  &.adaExpend {
    background: var(--theme-transactions-icon-type-expend-background-color);
  }

  &.adaIncome {
    background: var(--theme-transactions-icon-type-income-background-color);
  }

  &.exchange {
    background: var(--theme-transactions-icon-type-exchange-background-color);
  }
}

.transactionTypeIcon {
  & > svg {
    height: 19px;
    width: 23px;
    path {
      fill: var(--theme-icon-transaction-type-color);
    }
  }
}