@import '../../themes/daedalus/theme';

$type-box-size: 44px;

.component {
  color: $theme-transactions-list-item-details-color;
}

// ========= TYPE INDICATORS FOR TRANSACTIONS =========

%type-box {
  width: $type-box-size;
  height: $type-box-size;
  background: no-repeat center;
  background-size: 30px;
  border-radius: 10px;
  flex-shrink: 0;
}

.card {
  @extend %type-box;
  background-color: $theme-transactions-card-background-color;
  background-image: url("../../assets/images/card-payment-ic.svg");
}

.adaIncome {
  @extend %type-box;
  background-image: url("../../assets/images/receive-ic.svg");
  background-size: 44px;
}

.adaExpend {
  @extend %type-box;
  background-image: url("../../assets/images/send-ic.svg");
  background-size: 44px;
}

.exchange {
  @extend %type-box;
  background-color: $theme-transactions-card-exchange-background-color;
  background-image: url("../../assets/images/exchange-ic.svg");
}

// ========= TOGGLER =========

.toggler {
  cursor: pointer;
  display: flex;
  padding: 20px;
  -webkit-user-select: none;
}

.togglerContent {
  flex: 1;
  margin-left: 20px;
  padding-top: 1px;
}

.header,
.details {
  color: $theme-transactions-list-item-details-color;
  display: flex;
  width: 100%;
}

.title, .amount {
  color: $theme-transactions-list-item-details-color;
  font-size: 16px;
  font-family: $font-semibold;
  height: 22px;
  line-height: 1.38;
  text-align: left;
}

.amount {
  margin-left: auto;
  font-family: $font-medium;
  font-size: 16px;
  letter-spacing: 1px;
}

.low, .medium, .high {
  border-radius: 3px;
  color: $theme-transactions-priority-color;
  display: inline-block;
  font-family: $font-bold;
  font-size: 8px;
  line-height: 18px;
  margin-left: auto;
  margin-top: 3px;
  padding: 0 10px;
  text-transform: uppercase;
}

.low {
  background-color: $theme-transactions-priority-low-background-color;
}

.medium {
  background-color: $theme-transactions-priority-medium-background-color;
}

.high {
  background-color: $theme-transactions-priority-heigh-background-color;
}

.assuranceLevel {
  text-transform: capitalize;
}

.type {
  font-family: $font-light;
  font-size: 14px;
  margin-top: 3px;
}

// ========= DETAILS =========

.content {
  border-bottom: 1px solid $theme-separation-border-color;
  margin-left: calc(40px + #{$type-box-size});
  margin-right: 20px;
}

.last {
  border: none;
}

.details {
  height: auto;
  * + h2 {
    margin-top: 20px;
  }
  h2 {
    font-family: $font-medium;
    font-size: 16px;
    margin-bottom: 8px;
  }
  span {
    font-family: $font-light;
    font-size: 14px;
    word-break: break-all;

    &.address {
      display: block;
      line-height: 19px;
    }
  }
}

.closed {
  max-height: 0;
  overflow: hidden;
  padding-bottom: 0;
}

.expanded {
  max-height: 100%;
  padding-bottom: 20px;
}

.conversion {
  display: flex;
}

.conversionRate {
  margin-left: 76px;
}

.currencySymbol {
  margin-bottom: -1px;
  margin-left: 4px;
  height: 14px;
}
