.component {
  align-items: center;
  background-color: rgba(171, 23, 0, 0.94);
  bottom: 0;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.25);
  color: #fafbfc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  padding: 50px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;

  .icon {
    height: 110px;
    margin-bottom: 36px;
    object-fit: contain;
    width: 110px;
  }

  h1, p, button {
    font-family: $font-regular;
  }

  h1 {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8.5px;
  }

  p {
    font-size: 16px;
    line-height: 1.38;
    opacity: 0.8;
  }

  button {
    background-color: #ab1700;
    border: solid 1px #fafbfc;
    border-radius: 5px;
    color: #fafbfc;
    cursor: pointer;
    height: 50px;
    font-size: 14px;
    letter-spacing: 1px;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    width: 360px;

    &:not(.disabled) {
      &:hover {
        background-color: #fafbfc;
        color: #ab1700;
      }
    }

    &.disabled {
      cursor: default;
      opacity: 0.3;
    }
  }

  :global .adaRedemptionDisclaimerCheckbox {
    .SimpleCheckbox_root {
      margin-bottom: 30px;
      opacity: 0.8;
      padding-top: 20px;

      .SimpleCheckbox_check {
        border-color: #fafbfc;
        border-width: 2px;

        &.SimpleCheckbox_checked {
          background-color: #fafbfc;
          border-color: #fafbfc;

          &:after {
            border-color: #ab1700;
            margin: -7px 0 0 -3px;
          }
        }
      }

      .SimpleCheckbox_label {
        color: #fafbfc;
        font-family: $font-regular;
      }
    }
  }
}
