.component {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--theme-ada-redemption-success-overlay-background-color);
  color: var(--theme-ada-redemption-success-overlay-message-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .icon {
    margin-bottom: 36px;
    line-height: 0;
    & > svg {
      width: 110px;
      height: 110px;
      path {
        fill: var(--theme-icon-ada-redemption-success-color);
      }
    }
  }

  .text {
    align-items: center;
    display: flex;
    flex-direction: column;
    opacity: 0.8;
  }

  .headline {
    font-family: var(--font-regular);
    font-size: 20px;
    margin-bottom: 12px;
  }

  .amount {
    font-family: var(--font-medium);
    font-size: 28px;
  }

  .confirmButton {
    background: none;
    border: solid 1px var(--theme-ada-redemption-success-overlay-border-color);
    border-radius: 5px;
    color: var(--theme-ada-redemption-success-overlay-button-text-color);
    cursor: pointer;
    font-size: 14px;
    height: 50px;
    margin-top: 30px;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    width: 360px;

    &:hover {
      background-color: var(--theme-ada-redemption-success-overlay-button-background-color-hover) !important;
      color: var(--theme-ada-redemption-success-overlay-button-text-color-hover);
    }
  }

  :global {
    .DialogCloseButton_component {
      top: 36px;
      right: 55px;
    }
  }
}
