.component {
  display: flex;
  width: 100%;
  margin-bottom: 20px;

  button {
    flex: 1;
    padding: 20px;
    font-family: var(--font-medium);
    font-size: 16px;
    text-align: center;
    color: var(--theme-choice-tabs-text-color);
    cursor: pointer;
    opacity: 0.5;
  }

  .activeButton {
    color: var(--theme-choice-tabs-text-color-active);
    border-bottom: 2px solid var(--theme-choice-tabs-bottom-border-color-active);
    cursor: default;
    opacity: 1;
  }

}
