@import '../../../themes/mixins/loading-spinner';
@import '../../../themes/mixins/error-message';

.component {
  padding: 2rem;
  height: 100%;
  overflow: visible;
}

.headline {
  text-align: center;
  text-transform: uppercase;
  font-family: $font-medium;
  font-size: 18px;
  margin-bottom: 2rem;
  color: $text-color-accent;
}

.instructions {
  margin-bottom: 25px;
  font-family: $font-regular;
  font-size: 16px;
  line-height: 1.38;
  color: $text-color-accent;
  strong {
    font-family: $font-bold;
  }
  p {
    margin-bottom: 10px;
  }
}

.redemption {
  display: flex;
  width: 100%;

  .certificate {
    flex-grow: 0;
    flex-basis: 154px;
    margin-left: 30px;
  }

  .inputs {
    flex: 1;
  }
}

.certificate {
  margin-bottom: 2rem;
}

.error {
  @include error-message;
  text-align: center;
  margin-bottom: 2rem;
}

.submitButtonSpinning {
  width: 100%;
  @include loading-spinner("../../../assets/images/spinner-light.svg");
}

.submitButton {
  width: 100%;
  text-transform: uppercase;
}

.passPhrase {
  margin-top: -20px;
}
