.component {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(36, 61, 98, 0.88);
  color: #fafbfc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icon {
  width: 110px;
  margin-bottom: 36px;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headline {
  font-family: $font-regular;
  font-size: 20px;
  margin-bottom: 12px;
}

.amount {
  font-family: $font-medium;
  font-size: 28px;
}
