.header {
  align-items: center;
  color: var(--theme-main-body-messages-color);
  display: flex;
  font-family: var(--font-medium);
  font-size: 16px;
  margin: 20px 0 6px;
}

.toggleButton {
  background-color: var(
    --theme-widgets-collapsible-section-button-background-color
  );
  border-radius: 4px;
  color: var(--theme-label-button-color);
  cursor: pointer;
  font-family: var(--font-medium);
  font-size: 10px;
  letter-spacing: 0.5px;
  line-height: 1.2;
  margin-left: 10px;
  padding: 4px 8px;
  text-transform: uppercase;
}
