@import '../../../themes/mixins/loading-spinner';
@import '../../../themes/mixins/error-message';

.error {
  @include error-message;
  text-align: center;
}

.component {
  :global .dialog_body {
    overflow-y: hidden;
  }
}

.keyUpload {
  margin-bottom: 2rem;
}

.isSubmitting {
  button {
    @include loading-spinner("../../../assets/images/spinner-light.svg");
  }
}
