.component {
  background-color: var(
    --theme-staking-stake-pools-search-clear-button-background-color
  );
  border-radius: 3px;
  cursor: pointer;
  height: 28px;
  width: 28px;

  &:hover {
    background-color: var(
      --theme-staking-stake-pools-search-clear-button-hover-background-color
    );
  }

  .clearIcon {
    > svg {
      position: relative;
      top: 0.5px;
      width: 10px;

      > g > g {
        fill: var(--theme-staking-stake-pools-search-clear-button-color);
      }
    }
  }
}
