%base {
  font-size: 16px;
  line-height: 1.38;
  font-family: var(--font-regular);
  color: var(--theme-uploader-text-color);
}

.label {
  @extend %base;
  font-family: var(--font-semibold);
  margin-bottom: 10px;
}

.uploadBox {
  width: 154px;
  height: 154px;
  border-radius: 2px;
  border: solid 1px var(--theme-uploader-border-color);
  display: flex;
  align-items: center;
}

.dropZone {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;

  &:hover .attachIcon {
    opacity: 1;
  }
}

.instructions {
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .title {
    @extend %base;
    font-family: var(--font-semibold);
  }

  .subtitle {
    @extend %base;
    font-size: 12px;
    line-height: 1.33;
  }
}

.certificateUploaded {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.certificateIcon {
  margin: auto;
  & > svg {
    width: 54px;
    height: 74px;
    & > g > path {
      fill: var(--theme-icon-ada-redemption-certificate-color);
    }
    & > g > g {
      stroke: var(--theme-icon-ada-redemption-certificate-color);
    }
  }
}

.removeFileButton {
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 10px;

  .closeCrossIcon {
    & > svg {
      height: 11px;
      width: 11px;
      polygon {
        fill: var(--theme-icon-close-button-color);
      }
    }
  }
}


