.component {
  color: var(--theme-input-placeholder-color);
  font-family: var(--theme-input-hint-font);
  font-size: 16px;
  line-height: 1.38;
}

.dropZone {
  align-items: center;
  background-color: inherit;
  border: solid 1px var(--theme-uploader-border-color);
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  height: 50px;
  padding: 10px 20px;

  &:hover .attachIcon {
    opacity: 1;
  }
}

.label {
  color: var(--theme-input-label-color);
  font-family: var(--font-semibold);
  margin-bottom: 10px;
}

.fileName,
.placeholder {
  overflow: hidden;
  padding-right: 50px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.placeholder {
  opacity: 0.5;
}

.attachIcon {
  opacity: 0.3;
  position: absolute;
  right: 24px;
  & > svg {
    display: block;
    width: 24px;
    path {
      fill: var(--theme-icon-file-upload-color);
    }
  }
}
