.component {
  &:hover {
    .exclamationPointIcon {
      opacity: 1;
    }
  }
}

.tooltip {
  display: inline-block !important;
}

.exclamationPointIcon {
  opacity: 0.3;

  svg {
    height: 14px;
    margin-left: 6px;
    transform: translateY(2px);
    width: 14px;
  }
}
