.component {
  margin-bottom: 20px;
  position: relative;

  @keyframes animateSavingResultLabel {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 0;
    }
  }

  .savingResultLabel {
    animation: animateSavingResultLabel 3s;
    color: var(--theme-input-right-floating-text-color);
    font-family: var(--font-light);
    font-size: 14px;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
  }
}
