.component {
  margin-bottom: 20px;
  position: relative;

  .disabled {
    background-color: var(--theme-input-background-color);
    border-color: var(--theme-input-border-color);
    color: var(--theme-input-text-color);
  }

  &.inactive {
    &:hover {
      input {
        cursor: pointer;
      }
    }
  }

  .button {
    top: 0;
    color: var(--theme-label-button-color);
    cursor: pointer;
    font-family: var(--font-light);
    font-size: 16px;
    line-height: 1.38;
    opacity: 0.5;
    position: absolute;
    right: 0;
    text-transform: lowercase;
    &:hover {
      opacity: 1;
    }
  }

  @keyframes animateSavingResultLabel {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 0;
    }
  }

  .savingResultLabel {
    animation: animateSavingResultLabel 3s;
    color: var(--theme-input-right-floating-text-color);
    font-family: var(--font-light);
    font-size: 14px;
    letter-spacing: -0.3px;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 5px;
  }
}
