.component {
  background-color: var(--theme-input-background-color);
  border: 1px solid var(--theme-input-border-color);
  border-radius: 2px;
  padding-right: 50px;
  position: relative;
  width: 275px;

  &.isActive {
    padding-right: 86px;
    .rightButton {
      @extend .activeButton;
    }
  }

  &:not(.isActive) {
    cursor: pointer;
    &:hover {
      .rightButton {
        @extend .activeButton;
      }
    }
    :global {
      .SimpleInput_input {
        cursor: pointer;
      }
    }
  }

  &.disabled {
    cursor: text !important;
    padding-right: 0;
    pointer-events: none;
  }

  :global {
    .SimpleInput_input {
      background: transparent !important;
      border: 0 none;
      border-radius: 0;
      &:focus {
        border: 0 none;
      }
    }
  }

  @keyframes animateSavingResultLabel {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 0;
    }
  }

  .button {
    background-color: var(
      --theme-wallet-import-stateFolder-button-background-color
    );
    border-radius: 3px;
    cursor: pointer;
    height: 28px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 28px;

    .penIcon {
      svg {
        height: 12px;
        position: relative;
        top: 1px;
        width: 12px;
      }
    }
    .crossIcon {
      svg {
        height: 8px;
        width: 8px;
        g {
          fill: #fff;
        }
      }
    }
    .arrowIcon {
      svg {
        height: 9px;
        path {
          stroke: #fff;
        }
      }
    }
  }

  .activeButton {
    background-color: var(--rp-button-bg-color-hover, #2f496e);
    svg {
      path {
        stroke: var(--theme-input-background-color);
      }
    }
  }

  .rightButton {
    @extend .button;
  }
  .leftButton {
    @extend .button;
    right: 48px;
    &:hover {
      background-color: var(
        --theme-wallet-import-stateFolder-button-background-color
      ) !important;
    }
  }
}
