.component {
  color: var(--theme-widgets-itemsDropdown-option-label-text-color);
  display: flex;
  flex-direction: column;
  flex: 1;
  font-family: var(--font-regular);
  justify-content: space-between;
  max-width: calc(100% - 20px);
  position: relative;

  &.selected {
    height: 50px;
    padding: 8px 20px;
  }

  &.noDetail {
    justify-content: center;
  }
}

.label {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  line-height: 18px;
  max-width: 100%;
  max-width: 100%;
  overflow: hidden;
  overflow: hidden;
  padding-right: 0;
  text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;

  .syncingLabel {
    margin-left: 10px;
    opacity: 0.5;
  }
}

.detail {
  font-size: 12px;
  height: 17px;
  line-height: 16px;
  max-width: 100%;
  opacity: 0.5;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.syncingSpinner {
  height: 24px;
  padding: 0;
  position: absolute;
  right: 12px;
  width: 24px;

  &.selected {
    right: 24px;
  }

  :global {
    .LoadingSpinner_component.LoadingSpinner_medium {
      margin: 0 !important;
      .LoadingSpinner_icon {
        svg path {
          fill: var(--rp-option-text-color) !important;
          opacity: 0.5;
        }
      }
    }
  }
}
