.component {
  width: 240px;

  :global {
    .SimpleFormField_label {
      width: 100%;
    }

    .SimpleInput_input {
      font-family: var(--font-regular);
      font-size: 14px;
      height: 50px;
      padding: 10px 10px;
      width: 50px;
      text-align: center;
    }

    .SimpleTooltip_bubble {
      .SimpleBubble_bubble {
        padding: 8px;
        left: 60px !important;
        text-align: center;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        background: var(--theme-color-error) !important;
      }
      span {
        &:before {
          border-color: transparent transparent
            var(--theme-color-error, transparent) transparent !important;
        }
        &:after {
          border-color: transparent transparent
            var(--theme-color-error, rgba(94, 96, 102, 0.9)) transparent !important;
        }
      }
    }
  }

  .pinCodeInput {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 240px;
    .pinCode {
      &.error {
        input {
          border-color: var(--theme-color-error);
        }
      }
    }
  }

  .tooltip {
    display: inline-block !important;
  }
}
