.root {
  flex-direction: row !important;

  :global {
    .SimpleSwitch_switch {

      &.SimpleSwitch_checked,
      &:not(.SimpleSwitch_checked) {
        width: 25px !important;
        height: 12px !important;
      }

      &.SimpleSwitch_checked {
        span {
          left: 13px !important;
        }
      }
    }
  }

  span
  {
    width: 12px !important;
    height: 12px !important;
  }

  label {
    margin: 0 !important;
    font-family: inherit;
  }
}
