.component {
  :global {
    .SimpleSelect_selectInput {
      input {
        font-family: var(--font-regular);
        font-size: 14px;
        height: 33px;
        line-height: 33px;
        padding: 0 10px;
      }
    }

    .SimpleSelect_selectInput,
    .SimpleSelect_isOpen .SimpleSelect_selectInput {
      &::after {
        bottom: 13px;
        left: auto;
        right: 10px;
      }
    }

    .SimpleOptions_option {
      font-family: var(--font-regular);
      font-size: 14px;
      padding: 5.5px 10px;
    }
  }
}
