.component {
  :global {
    .SimpleButton_root {
      border-radius: 2px;
      font-family: var(--font-regular);
      font-size: 14px;
      font-weight: 500;
      height: 33px;
      line-height: 1.36;
      width: 100%;
    }
  }
}
