.component {
  display: flex;
  min-width: 0;

  .ticker {
    margin-right: 6px;
    text-transform: uppercase;
  }

  .walletName {
    overflow: hidden;
    text-overflow: ellipsis;

    .labelSync {
      opacity: 0.5;
    }
  }

  .topRowSync {
    position: absolute;
    right: 15px;
  }

  .syncing {
    > div {
      height: 24px;
      margin: 0 !important;
      width: 24px;

      :global .LoadingSpinner_icon svg path {
        fill: var(--theme-dialog-fullsize-text-highlight-color) !important;
        opacity: 0.5;
      }
    }
  }
}

.hardwareWalletsIcon {
  svg {
    height: 11px;
    margin-left: 6px;
    width: 11px;
    path {
      fill: var(--theme-staking-font-color-accent);
    }
  }
}
