@import '../stakingConfig';

.component {
  @extend %regularText;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0 0 20px 20px;

  &.isLoading {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;

    .loadingBlockWrapper {
      p {
        margin-bottom: 20px;
        opacity: 0.5;
      }
    }
  }

  .listTitle {
    width: initial;
  }

  h2 {
    color: var(--theme-staking-stake-pools-title-color);
    line-height: 1.38;
    margin: 20px 0 10px;
    padding-left: 20px;
    > span {
      opacity: 0.5;
    }
  }

  .smashSettings {
    font-size: 16px;
    cursor: pointer;
    > span {
      display: inline-block;
      max-width: 570px;
      opacity: 0.5;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      vertical-align: top;
    }
    &:hover {
      svg {
        opacity: 1;
      }
    }
  }
  .smashSettingsIcon svg {
    margin-left: 4px;
    width: 10px;
    opacity: 0.6;
  }
}
