.component {
  background: transparent;
  padding: 20px 0 6px;
  width: 100%;

  /*
   * This makes the Search component to be fixed.
   * Removing this for now until we have a solution that won't take too much space.
   */
  // position: sticky;
  // top: 0;
  // z-index: 2;
}

.container {
  position: relative;
}

.searchIcon {
  left: 20px;
  position: absolute;
  bottom: 12.5px;
  z-index: 1;

  svg {
    width: 15px;
    g > g {
      fill: var(--theme-staking-stake-pools-search-icon-color);
    }
  }
}

.searchInput {
  input {
    border-radius: 4px;
    height: 50px;
    padding-left: 55px;
    // padding-right: 175px;
    padding-right: 250px;
  }
}

.searchFilter {
  display: block;
  position: absolute;
  right: 20px;
  top: 13px;

  li {
    display: inline-block;
    margin-left: 20px;
  }

  button {
    color: var(--theme-staking-stake-pools-search-button-color);
    cursor: pointer;
    font-size: 16px;
    opacity: 0.3;
  }

  .searchFilterActiveItem {
    opacity: 1;
  }
}

.clearSearch {
  position: absolute !important;
  right: 11px;
  bottom: 11px;

  button {
    background-color: rgba(68, 91, 124, 0.05);
    border-radius: 3px;
    cursor: pointer;
    height: 28px;
    width: 28px;
  }

  svg {
    width: 10px;
  }

  &.clearSearchSeparator {
    right: 170px;
    &:after {
      content: '';
      display: block;
      height: 20px;
      margin: 3px 0 0 20px;
      opacity: 0.2;
      background-color: #5e6066;
      width: 1px;
    }
  }
}

.backToTopBtn {
  background-color: #5e6066;
  border-radius: 5px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.36);
  color: #fafbfc;
  cursor: pointer;
  font-size: 12px;
  left: 50%;
  line-height: 1.17;
  opacity: 0.98;
  padding: 6px 12px;
  position: fixed;
  text-align: center;
  top: 144px;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.25s ease-out;
  z-index: 1;
  &.active {
    opacity: 1;
  }
}
