@import '../stakingConfig';

.component {
  @extend %regularText;
  margin: 0 20px 20px;

  &.isLoading {
    align-items: center;
    display: flex;
    flex: 1;
    margin: auto;

    .loadingBlockWrapper {
      p {
        margin-bottom: 20px;
        opacity: 0.5;
      }
    }
  }

  .rankingLoaderWrapper {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5000;
  }

  .listTitle {
    width: initial;
  }

  h2 {
    color: var(--theme-staking-stake-pools-title-color);
    line-height: 1.38;
    margin: 20px 0 10px;
    opacity: 0.5;
    padding-left: 20px;
  }
}
