.component {
  background: transparent;
  padding: 20px 0 0;
  position: initial;
  transition: position 1s ease-out, top 1s ease-out;
  width: 100%;
}

.container {
  position: relative;
}

.searchIcon {
  bottom: 12.5px;
  left: 20px;
  position: absolute;
  z-index: 1;

  svg {
    width: 15px;
    g > g {
      fill: var(--theme-staking-stake-pools-search-icon-color);
    }
  }
}

.searchInput {
  input {
    border-radius: 4px;
    height: 50px;
    padding: 0 68px 0 55px;
  }

  &.inputExtrasSearch {
    input {
      padding-right: 265px;
    }

    &.withGridRewardsView input {
      padding-right: 300px;
    }
  }
}

.inputExtras {
  bottom: 0.5px;
  display: flex;
  height: 48px;
  line-height: 48px;
  position: absolute;
  right: 20px;

  &.inputExtrasSearch {
    right: 217px;

    &.withGridRewardsView {
      right: 252px;
    }
  }
}

.clearSearchButton {
  background-color: var(
    --theme-staking-stake-pools-search-clear-button-background-color
  );
  border-radius: 3px;
  cursor: pointer;
  height: 28px;
  position: relative;
  top: -2px;
  width: 28px;

  &:hover {
    background-color: var(
      --theme-staking-stake-pools-search-clear-button-hover-background-color
    );
  }
}

.clearSearchIcon {
  > svg {
    position: relative;
    top: 0.5px;
    width: 10px;

    > g > g {
      fill: var(--theme-staking-stake-pools-search-clear-button-color);
    }
  }
}

.viewButtons {
  align-items: center;
  bottom: 0;
  display: flex;
  height: 50px;
  justify-content: space-between;
  line-height: 50px;
  position: absolute;
  right: 0;

  .separator {
    color: var(--theme-staking-stake-pools-search-clear-button-color);
    margin-top: -3px;
    opacity: 0.2;
    padding: 0 8px;
    position: relative;
  }

  button {
    align-items: center;
    border-radius: 3px;
    color: var(--theme-about-window-icon-close-button-color);
    cursor: pointer;
    display: flex;
    height: 28px;
    justify-content: center;
    margin: 0 2px;
    width: 28px;

    &:hover {
      background-color: var(
        --theme-staking-stake-pools-search-clear-button-background-color
      );
    }

    :global {
      .SVGInline {
        height: 15px;
      }
    }

    svg {
      width: 18px;

      > g > g {
        fill: var(--theme-staking-stake-pools-search-clear-button-color);
        opacity: 0.3;
      }
    }
  }

  .selected {
    &:hover {
      background-color: transparent;
    }

    svg {
      > g > g {
        opacity: 1;
      }
    }
  }

  .gridView {
    svg {
      width: 15px !important;
    }
  }

  .gridRewardsView {
    svg {
      width: 15px !important;
    }
  }
}
