@import '../stakingConfig';

.component {
  @extend %regularText;
  background: var(--theme-staking-stake-pool-tooltip-background-color);
  border-radius: 5px;
  border: 1px solid var(--theme-staking-stake-pool-tooltip-border-color);
  box-shadow: 0 5px 20px 0 var(--theme-staking-stake-pool-tooltip-shadow-color);
  display: none;
  left: 50px;
  margin: 20px;
  padding: 20px;
  position: absolute;
  top: -21px;
  user-select: text;
  width: 250px;
  z-index: 1;

  &:before,
  &:after {
    border-color: transparent;
    border-style: solid;
    content: '';
    display: block;
    height: 0;
    position: absolute;
    width: 0;
  }

  /* triangle bg color */
  &:after {
    border-right-color: var(
      --theme-staking-stake-pool-tooltip-background-color
    );
    border-width: 10px;
    left: -20px;
    top: 24px;
  }

  /* triangle border */
  &:before {
    border-right-color: var(--theme-staking-stake-pool-tooltip-border-color);
    border-width: 11px;
    left: -22px;
    top: 23px;
  }

  &.flipHorizontal {
    left: auto;
    right: 45px;

    &:after {
      border-right-color: transparent;
      border-left-color: var(
        --theme-staking-stake-pool-tooltip-background-color
      );
      left: auto;
      right: -20px;
    }
    &:before {
      border-right-color: transparent;
      border-left-color: var(--theme-staking-stake-pool-tooltip-border-color);
      left: auto;
      right: -22px;
    }
  }

  &.flipVertical {
    top: auto;
    bottom: -21px;

    &:after {
      top: auto;
      bottom: 21px;
    }
    &:before {
      top: auto;
      bottom: 20px;
    }
  }

  :global {
    button.SimpleButton_root {
      background-color: var(
        --theme-staking-stake-pool-tooltip-delegate-button-background-color
      );
      border: 1px solid
        var(--theme-staking-stake-pool-tooltip-delegate-button-border-color);
      height: 33px;
      user-select: none;
      width: 100%;

      &:hover {
        background-color: var(
          --theme-staking-stake-pool-tooltip-delegate-button-hover-background-color,
          --rp-button-bg-color-hover
        );
        color: var(
          --theme-staking-stake-pool-tooltip-delegate-button-inverse-color
        );
      }

      &:active {
        background-color: var(
          --theme-staking-stake-pool-tooltip-delegate-button-active-background-color
        );
        border: none;
        color: var(
          --theme-staking-stake-pool-tooltip-delegate-button-inverse-color
        );
      }
    }
  }
}

.colorBand {
  border-radius: 4px 4px 0 0;
  top: 0;
  display: block;
  height: 5px;
  left: 0;
  position: absolute;
  width: 100%;
}

.isVisible {
  display: block;
}

.name {
  color: var(--theme-staking-stake-pool-tooltip-text-color);
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 1.38;
  margin-bottom: 3px;
  max-height: 44px;
  overflow: hidden;
  padding-right: 25px;
  text-overflow: ellipsis;
}

.closeButton {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 25px;

  svg {
    height: 11px;
    width: 11px;

    polygon {
      fill: var(--theme-staking-stake-pool-tooltip-text-color);
    }
  }
}

.id {
  color: var(--theme-staking-stake-pool-tooltip-text-color);
  font-size: 14px;
  line-height: 1.36;
  margin-bottom: 9px;
  opacity: 0.6;
}

.description {
  color: var(--theme-staking-stake-pool-tooltip-text-color);
  font-size: 14px;
  line-height: 1.36;
  margin-bottom: 4px;
  max-height: 79px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.url {
  color: var(--theme-staking-stake-pool-tooltip-link-color);
  cursor: pointer;
  font-size: 14px;
  line-height: 1.36;
  margin-bottom: 18px;
  text-decoration: underline;
}

.table {
  @extend %regularText;
  margin-bottom: 14px;

  dt {
    color: var(--theme-staking-stake-pool-tooltip-table-title-color);
    display: inline-block;
    font-size: 14px;
    line-height: 1.36;
    opacity: 0.8;
    width: 60%;
  }

  dd {
    display: inline-block;
    text-align: right;
    width: 40%;
  }

  span {
    border-radius: 3px;
    color: var(--theme-staking-stake-pool-tooltip-table-param-color);
    display: inline-block;
    font-size: 8px;
    font-weight: bold;
    height: 16px;
    line-height: 16px;
    padding: 0 9px;
  }
}

.retirement {
  span {
    background: var(
      --theme-staking-stake-pool-tooltip-table-param-retirement-background-color
    );
  }
}
