.component {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, 80px);
  justify-content: space-between;
}

.preloadingBlockWrapper {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;

  :global {
    .LoadingSpinner_component {
      margin: -44px 0 0 0;
    }
  }
}
