@import '../stakingConfig';

.component {
  @extend %regularText;
  margin: 20px;
  background: var(--theme-staking-stake-pool-tooltip-background-color);
  position: absolute;
  z-index: 1;
  top: -60px;
  left: 50px;
  padding: 20px;
  border: 1px solid var(--theme-staking-stake-pool-tooltip-border-color);
  border-radius: 5px;
  box-shadow: 0 5px 20px 0 var(--theme-staking-stake-pool-tooltip-shadow-color);
  width: 250px;
  display: none;

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
  }

  /* triangle bg color */
  &:after {
    top: 64px;
    left: -20px;
    border-right-color: var(
      --theme-staking-stake-pool-tooltip-background-color
    );
    border-width: 10px;
  }

  /* triangle border */
  &:before {
    top: 63px;
    left: -22px;
    border-right-color: var(--theme-staking-stake-pool-tooltip-border-color);
    border-width: 11px;
  }
}

.visible {
  display: block;
}

.name {
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: 0.5px;
  color: var(--theme-staking-stake-pool-tooltip-text-color);
  margin-bottom: 3px;
}

.id {
  opacity: 0.6;
  font-size: 14px;
  line-height: 1.36;
  color: var(--theme-staking-stake-pool-tooltip-text-color);
  margin-bottom: 3px;
}

.description {
  font-size: 14px;
  line-height: 1.36;
  color: var(--theme-staking-stake-pool-tooltip-text-color);
  margin-bottom: 4px;
}

.url {
  font-size: 14px;
  line-height: 1.36;
  color: var(--theme-staking-stake-pool-tooltip-link-color);
  margin-bottom: 18px;
}

.table {
  @extend %regularText;
  margin-bottom: 14px;
  dt {
    color: var(--theme-staking-stake-pool-tooltip-table-title-color);
    display: inline-block;
    font-size: 14px;
    line-height: 1.36;
    opacity: 0.8;
    width: 60%;
  }
  dd {
    display: inline-block;
    width: 40%;
    text-align: right;
  }
  span {
    border-radius: 3px;
    color: var(--theme-staking-stake-pool-tooltip-table-param-color);
    display: inline-block;
    font-size: 8px;
    font-weight: bold;
    height: 16px;
    line-height: 16px;
    padding: 0 9px;
  }
}

.retirement {
  span {
    background: var(
      --theme-staking-stake-pool-tooltip-table-param-retirement-background-color
    );
  }
}

.delegateButton {
  width: 100% !important;
  background-color: var(
    --theme-staking-stake-pool-tooltip-delegate-button-background-color
  ) !important;
}
