.component {
  background-color: #fafbfc;
  border-radius: 4px;
  border: solid 1px;
  border-bottom: 5px solid;
  cursor: pointer;
  height: 71px;
  margin: 5px;
  position: relative;
  width: 80px;

  &:hover {
    .tooltip {
      display: block;
    }
  }
}

.id {
  color: #5e6066;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.5px;
  line-height: 1;
  margin: 12px 0 9px;
  text-align: center;
}

.index {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.clock {
  background: #ea4c5b;
  width: 18px;
  height: 18px;
  position: absolute;
  border-radius: 0 4px;
  top: 0;
  right: 0;
}

.clockIcon {
  display: block;
  margin: 0;
  padding: 0;
  line-height: 0px;
  text-align: center;
  padding-top: 1px;

  svg {
    width: 15px;
    height: 15px;
  }
}

.tooltip {
  display: none;
}
