@import '../stakingConfig';
@import '../../../themes/mixins/link';

.component {
  @extend %regularText;
  background: var(--theme-staking-stake-pool-tooltip-background-color);
  border: 1px solid var(--theme-staking-stake-pool-tooltip-border-color);
  border-radius: 5px;
  box-shadow: 0 1.5px 5px 0 var(--theme-staking-stake-pool-tooltip-shadow-color);
  display: none;
  padding: 10px;
  position: absolute;
  user-select: text;
  width: 280px;
  z-index: 2;

  :global {
    button.SimpleButton_root {
      background-color: var(
        --theme-staking-stake-pool-tooltip-delegate-button-background-color
      );
      border: 1px solid
        var(--theme-staking-stake-pool-tooltip-delegate-button-border-color);
      border-radius: 2px;
      color: var(--theme-staking-stake-pool-tooltip-delegate-button-text-color);
      height: 33px;
      margin-top: 14px;
      user-select: none;
      width: 100%;

      &:hover {
        background-color: var(
          --theme-staking-stake-pool-tooltip-delegate-button-hover-background-color,
          --rp-button-bg-color-hover
        );
        color: var(
          --theme-staking-stake-pool-tooltip-delegate-button-inverse-text-color
        );
      }

      &:active {
        background-color: var(
          --theme-staking-stake-pool-tooltip-delegate-button-active-background-color
        );
        border: none;
        color: var(
          --theme-staking-stake-pool-tooltip-delegate-button-inverse-text-color
        );
      }
    }
  }
}

.container {
  padding: 10px 10px 0;
}

.colorBand {
  border-radius: 4px 4px 0 0;
  display: block;
  height: 5px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.homepage {
  width: initial;
}

.arrow {
  border-color: transparent;
  border-style: solid;
  height: 0px;
  position: absolute;
  width: 0px;

  &:before {
    border-color: transparent;
    border-style: solid;
    content: '';
    display: block;
    height: 0;
    position: absolute;
    width: 0;
  }

  &.tooltipPositionTop {
    border-top-color: var(--theme-staking-stake-pool-tooltip-border-color);
    border-width: 11px 11px 0 11px;
    &:before {
      border-top-color: var(
        --theme-staking-stake-pool-tooltip-background-color
      );
      border-width: 10px 10px 0px 10px;
      left: -10px;
      top: -11px;
    }
  }
  &.tooltipPositionRight {
    border-right-color: var(--theme-staking-stake-pool-tooltip-border-color);
    border-width: 11px 11px 11px 0;
    &:before {
      border-right-color: var(
        --theme-staking-stake-pool-tooltip-background-color
      );
      border-width: 10px 10px 10px 0px;
      right: -11px;
      top: -10px;
    }
  }
  &.tooltipPositionBottom {
    border-bottom-color: var(--theme-staking-stake-pool-tooltip-border-color);
    border-width: 0 11px 11px 11px;
    &:before {
      border-bottom-color: transparent;
      border-width: 0px 10px 10px 10px;
      left: -10px;
      top: -11px;
    }
  }
  &.tooltipPositionLeft {
    border-left-color: var(--theme-staking-stake-pool-tooltip-border-color);
    border-width: 11px 0 11px 11px;
    &:before {
      border-left-color: var(
        --theme-staking-stake-pool-tooltip-background-color
      );
      border-width: 10px 0px 10px 10px;
      left: -11px;
      top: -10px;
    }
  }
}

.isVisible {
  display: block;
}

.name {
  color: var(--theme-staking-stake-pool-tooltip-text-color);
  font-family: var(--font-semibold);
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 1.38;
  margin-bottom: 3px;
  max-height: 44px;
  overflow: hidden;
  padding-right: 25px;
  text-overflow: ellipsis;
}

.closeButton {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 25px;

  svg {
    height: 8px;
    width: 8px;

    polygon {
      fill: var(--theme-staking-stake-pool-tooltip-text-color);
    }
  }
}

.ticker {
  color: var(--theme-staking-stake-pool-tooltip-text-color);
  display: inline-block;
  font-size: 14px;
  line-height: 1.36;
  margin-bottom: 9px;
  opacity: 0.6;
  vertical-align: middle;
}

.retirement {
  background: var(
    --theme-staking-stake-pool-tooltip-retirement-background-color
  );
  border-radius: 3px;
  color: var(--theme-staking-stake-pool-tooltip-retirement-text-color);
  display: inline-block;
  font-size: 10px;
  margin-bottom: 9px;
  margin-left: 8px;
  padding: 3px 9px;
  vertical-align: middle;
}

.description {
  color: var(--theme-staking-stake-pool-tooltip-text-color);
  font-size: 14px;
  line-height: 1.36;
  margin-bottom: 4px;
  max-height: 57px;

  &.scrollableDescription {
    overflow-y: scroll;
    width: 244px;
  }
}

.table {
  @extend %regularText;
  display: flex;
  flex-wrap: wrap;
  margin: 18px 0 6px 0;

  dt,
  dd {
    height: 19px;
    margin-bottom: 6px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  dt {
    color: var(--theme-staking-stake-pool-tooltip-table-title-color);
    font-size: 14px;
    line-height: 1.36;
    opacity: 0.8;
    width: 65%;
  }

  dd {
    line-height: 0;
    padding-top: 1px;
    text-align: right;
    width: 35%;
  }

  span {
    border-radius: 3px;
    color: var(--theme-staking-stake-pool-tooltip-table-param-color);
    display: inline-block;
    font-size: 8px;
    font-weight: bold;
    height: 16px;
    line-height: 16px;
    padding: 0 9px;
  }

  .ranking,
  .profitMargin,
  .cost,
  .performance {
    width: 35%;
  }
}

.defaultColor {
  span {
    background: var(
      --theme-staking-stake-pool-tooltip-neutral-background-color
    );
    color: var(--theme-staking-stake-pool-tooltip-neutral-text-color);
  }
}

.saturationLabel {
  width: 50% !important;
}

.saturationValue {
  width: 50% !important;

  & > span {
    background: var(
      --theme-staking-stake-pool-tooltip-neutral-background-color
    );
    white-space: nowrap;
  }

  .saturationBar {
    background: var(--theme-staking-stake-pool-saturation-background-color);
    border-radius: 2px;
    height: 5px;
    margin: 0 6px 0 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 40px;

    span {
      border-radius: 2px;
      bottom: 0;
      height: inherit;
      left: 0;
      padding: 0;
      position: absolute;
      top: 0;
    }

    &.green span {
      background: var(--theme-staking-stake-pool-saturation-green-color);
    }

    &.orange span {
      background: var(--theme-staking-stake-pool-saturation-orange-color);
    }

    &.red span {
      background: var(--theme-staking-stake-pool-saturation-red-color);
    }

    &.yellow span {
      background: var(--theme-staking-stake-pool-saturation-yellow-color);
    }
  }
}
