.component {
  background: transparent;
  padding: 20px 0 0;
  width: 100%;
}

.container {
  position: relative;
}

.searchIcon {
  bottom: 12.5px;
  left: 20px;
  position: absolute;
  z-index: 1;

  svg {
    width: 15px;
    g > g {
      fill: var(--theme-staking-stake-pools-search-icon-color);
    }
  }
}

.searchInput {
  input {
    border-radius: 4px;
    height: 50px;
    padding: 0 50px 0 55px;
  }
}

.inputExtras {
  bottom: 0.5px;
  display: flex;
  height: 48px;
  line-height: 48px;
  padding-left: 20px;
  position: absolute;
  right: 110px;
}

.clearSearch {
  margin-top: -2px;

  > div > div {
    margin-left: -19px !important;
  }

  button {
    background-color: var(
      --theme-staking-stake-pools-search-clear-button-background-color
    );
    border-radius: 3px;
    cursor: pointer;
    height: 28px;
    width: 28px;

    &:hover {
      background-color: var(
        --theme-staking-stake-pools-search-clear-button-hover-background-color
      );
    }
  }

  svg {
    position: relative;
    top: 0.5px;
    width: 10px;

    > g > g {
      fill: var(--theme-staking-stake-pools-search-clear-button-color);
    }
  }

  &:hover {
    > div > div {
      height: 30px;
      line-height: 1.3;
    }
  }
}

.viewButtons {
  align-items: center;
  bottom: 0.5px;
  display: flex;
  height: 48px;
  justify-content: space-between;
  line-height: 48px;
  padding-left: 20px;
  position: absolute;
  right: 11px;

  .separator {
    color: var(--theme-about-window-icon-close-button-color);
    opacity: 0.2;
    padding-right: 10px;
    position: relative;
    top: -2px;
  }

  button {
    border-radius: 3px;
    color: var(--theme-about-window-icon-close-button-color);
    height: 28px;
    margin: 0 2px;
    width: 28px;

    &:hover {
      background-color: var(--theme-staking-stake-pools-search-clear-button-background-color);
    }

    svg {
      position: relative;
      top: 1px;
      width: 18px;

      > g > g {
        fill: var(--theme-staking-stake-pools-search-clear-button-color);
        opacity: 0.3;
      }
    }
  }

  .selected {
    svg {
      > g > g {
        opacity: 1;
      }
    }
  }

  .gridView {
    svg {
      width: 15px !important;
    }
  }
}
