.component {
  background: transparent;
  padding: 20px 0 6px;
  width: 100%;
}

.container {
  position: relative;
}

.searchIcon {
  bottom: 12.5px;
  left: 20px;
  position: absolute;
  z-index: 1;

  svg {
    width: 15px;
    g > g {
      fill: var(--theme-staking-stake-pools-search-icon-color);
    }
  }
}

.searchInput {
  input {
    border-radius: 4px;
    height: 50px;
    padding: 0 50px 0 55px;
  }
}

.inputExtras {
  background: var(--rp-input-bg-color);
  bottom: 1px;
  display: flex;
  height: 48px;
  line-height: 48px;
  padding-left: 20px;
  position: absolute;
  right: 20px;
}

.clearSearch {
  margin-top: 11px;

  button {
    background-color: var(
      --theme-staking-stake-pools-search-clear-button-background-color
    );
    border-radius: 3px;
    cursor: pointer;
    height: 28px;
    width: 28px;

    &:hover {
      background-color: var(
          --theme-staking-stake-pools-search-clear-button-hover-background-color
      );
    }
  }

  svg {
    width: 10px;
  }

  &:hover {
    > div > div {
      height: 30px;
      line-height: 1.3;
    }
  }
}
