@import '../stakingConfig';

.component {
  @extend %regularText;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0 20px 20px;

  &.isLoading {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;

    .loadingBlockWrapper {
      p {
        margin-bottom: 20px;
        opacity: 0.5;
      }
    }
  }

  .listTitle {
    width: initial;
  }

  h2 {
    color: var(--theme-staking-stake-pools-title-color);
    line-height: 1.38;
    margin: 20px 0 10px;
    opacity: 0.5;
    padding-left: 20px;

    &.tableHeading {
      &.tableHeadingFixed {
        margin-top: 91px;
      }
    }
  }
}
