@import '../../../../themes/mixins/error-message.scss';

.root {
  font-family: var(--font-medium);
  width: 580px;

  .passphrase {
    margin-top: 20px;
  }

  .hardwareWalletStatusWrapper {
    margin-top: 20px;
    max-width: 640px;
    width: 100%;
  }

  .error {
    @include error-message;
    margin-top: 27px;
    text-align: center;
  }

  .flightCandidateWarning {
    margin-top: 20px;
    @extend .warning;
  }

  .warning {
    p {
      color: var(--theme-send-confirmation-dialog-send-values-color);
      font-family: var(--font-regular);
      line-height: 1.23;
      margin-bottom: 20px;
      b {
        font-family: var(--font-bold);
      }
    }
    em {
      color: var(--theme-send-confirmation-dialog-send-values-color);
      font-family: var(--font-light);
    }
    > div {
      :global {
        .SimpleCheckbox_check {
          border-color: var(--theme-send-confirmation-dialog-send-values-color);
        }
        .SimpleCheckbox_checked {
          background-color: var(
            --theme-send-confirmation-dialog-send-values-color
          );
          opacity: 0.3;
        }
      }
    }
  }

  :global {
    .Dialog_title {
      margin-bottom: 0;
    }

    .LoadingSpinner_component {
      .LoadingSpinner_icon {
        svg {
          path {
            fill: var(
              --theme-button-attention-delete-text-color-disabled
            ) !important;
          }
        }
      }
    }
  }
}
