@import 'theme';

// OVERRIDABLE CONFIGURATION VARIABLES

.dropdown {
  display: inline-block;
}

.label {
  width: 100%;
  height: 100%;
}

// BEGIN SPECIAL STATES ---------- //

// END SPECIAL STATES ---------- //
