.component {
  display: flex;
  padding-top: 30px;
}

.checkbox {
  flex-basis: 40px;
  flex-shrink: 0;
  align-self: center;

  :global .checkbox_field {
    margin: 0;
    padding: 0;
  }
}

.checkboxLabel {
  font-family: $font-light;
  font-size: 16px;
  color: #5e6066;
  white-space: normal;
  line-height: 1.38;
  strong {
    font-family: $font-bold;
  }
}
