.component {
  color: $theme-input-hint-color;
  font-family: $theme-input-hint-font;
  font-size: 16px;
  line-height: 1.38;
}

.dropZone {
  align-items: center;
  background-color: $theme-input-background-color;
  border: solid 1px $color-light-grey;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  height: 50px;
  padding: 10px 20px;

  &:hover .attachIcon {
    opacity: 1;
  }
}

.label {
  font-family: $font-semibold;
  margin-bottom: 10px;
}

.fileName {
  overflow: hidden;
  padding-right: 50px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.placeholder {
  opacity: 0.5;
}

.attachIcon {
  opacity: 0.3;
  position: absolute;
  right: 54px;
  width: 24px;
}
