.component {
  margin-bottom: 20px;
  position: relative;

  :global {
    .SimpleFormField_label {
      color: $theme-label-color !important;
    }

    .SimpleInput_disabled {
      background-color: $theme-input-background-color;
      border-color: $theme-input-border-color;
    }
  }

  &.inactive {
    &:hover {
      input {
        cursor: pointer;
      }
    }
  }

  .button {
    bottom: 13px;
    color: $text-color-accent;
    cursor: pointer;
    font-family: $font-light;
    font-size: 16px;
    line-height: 1.38;
    opacity: 0.5;
    position: absolute;
    right: 22px;
    text-transform: lowercase;
    &:hover {
      opacity: 1;
    }
  }

  @keyframes animateSavingResultLabel {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 0;
    }
  }

  .savingResultLabel {
    animation: animateSavingResultLabel 3s;
    color: $text-color-accent;
    font-family: $font-light;
    font-size: 14px;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
  }
}
