.component {
  margin-bottom: 32px;
  position: relative;

  :global {
    .SimpleFormField_label {
      color: $theme-label-color;
    }

    .SimpleInput_disabled {
      background-color: $theme-input-background-color;
      border-color: $theme-input-border-color;
    }
  }

  .button {
    bottom: 13px;
    color: $text-color-accent;
    cursor: pointer;
    font-family: $font-light;
    font-size: 16px;
    line-height: 1.38;
    opacity: 0.5;
    position: absolute;
    right: 22px;
    text-transform: lowercase;
    &:hover {
      opacity: 1;
    }
  }
}
