@import '../../themes/mixins/link';

.component {
  height: 100%;
  padding: 16px;
  position: relative;
  width: 100%;

  .backgroundContainer {
    background-color: var(--theme-splash-network-background-color);
    height: 100%;
    left: 0;
    object-fit: contain;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;

    .backgroundOverlay {
      background-image: linear-gradient(
        0deg,
        var(--theme-splash-network-background-color1) 0%,
        var(--theme-splash-network-background-color2) 10%,
        var(--theme-splash-network-background-color3) 16%,
        var(--theme-splash-network-background-color4) 20%,
        var(--theme-splash-network-background-color5) 80%,
        var(--theme-splash-network-background-color6) 84%,
        var(--theme-splash-network-background-color7) 90%,
        var(--theme-splash-network-background-color8) 100%
      );
      height: 100%;
      position: absolute;
      width: 100%;
      z-index: 1500;
    }

    .backgroundImage {
      display: block;
      height: 100%;
      opacity: 0.1;
      position: relative;
      width: 100%;

      & > svg {
        display: block;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 1186px;
      }
    }
  }

  .content {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: var(--font-regular);
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2000;

    .daedalusIcon {
      height: 135px;
      margin-bottom: 30px;
      object-fit: contain;
      width: 173px;

      svg {
        path {
          fill: var(--theme-splash-network-logo-fill-color);
        }
      }
    }

    .title {
      color: var(--theme-splash-network-title-color);
      font-family: var(--font-semibold);
      font-size: 20px;
      letter-spacing: 1px;
      line-height: 1.2;
      margin-bottom: 5px;
      text-transform: uppercase;
    }

    .subTitle1 {
      color: var(--theme-splash-network-subTitle1-color);
      font-family: var(--font-semibold);
      font-size: 20px;
      letter-spacing: 1px;
      line-height: 1.2;
      margin-bottom: 5px;
    }

    .subTitle2 {
      color: var(--theme-splash-network-subTitle2-color);
      font-family: var(--font-semibold);
      font-size: 16px;
      letter-spacing: 0.8px;
      line-height: 1.38;
      margin-bottom: 20px;
      text-transform: uppercase;
    }

    .description {
      background-color: var(
        --theme-splash-network-description-background-color
      );
      border-radius: 4px;
      font-size: 14px;
      line-height: 1.43;
      margin-bottom: 30px;
      max-height: 190px;
      max-width: 608px;
      overflow-y: scroll;
      padding: 12px 24px;

      p {
        color: var(--theme-splash-network-description-color);
        margin-bottom: 12px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      b {
        color: var(--theme-splash-network-description-bold-color);
        font-family: var(--font-medium);
      }
    }

    .action {
      .actionButton {
        background-color: var(
          --theme-splash-network-overlay-button-background-color
        );
        border: solid 1px
          var(--theme-splash-network-overlay-button-border-color);
        color: var(--theme-splash-network-overlay-button-text-color);
        font-weight: 500;
        line-height: 1.36;
        margin: 0 auto;

        &:hover {
          background-color: var(
            --theme-splash-network-overlay-button-background-color-hover
          );
          border: none;
          color: var(--theme-splash-network-overlay-button-text-color-hover);
        }
      }
    }

    .learnMore {
      margin-top: 20px;

      button {
        align-items: center;
        border-bottom: 1px solid var(--theme-splash-network-learn-more-color);
        color: var(--theme-splash-network-learn-more-color);
        cursor: pointer;
        display: flex;
        font-size: 14px;
        line-height: 1.36;
        opacity: 0.8;
        padding-bottom: 1px;

        :global {
          .SVGInline {
            height: 15px;
          }
        }

        svg {
          height: 13px;
          margin-left: 2px;
          object-fit: contain;
          width: 13px;

          & > g {
            fill: transparent;
            stroke: var(--theme-splash-network-learn-more-color);
          }
        }
      }
    }
  }
}
