.component {
  background-color: var(--theme-transactions-filter-modal-bg-color);
  flex: initial;
  font-family: var(--font-regular);
  margin: 0 -20px -10px;
  position: relative;
  width: 400px;

  :global {
    .Dialog_content {
      overflow: visible;
    }

    .TinySelect_component {
      .SimpleBubble_root {
        .SimpleBubble_bubble {
          background-color: var(--theme-transactions-filter-modal-bg-color);
        }
      }
      .SimpleOptions_option:not(.SimpleOptions_highlightedOption) {
        background-color: var(--theme-transactions-filter-modal-bg-color);
      }
    }

    .TinyInput_component {
      .TinyInput_contentInReadMode,
      .SimpleInput_input {
        background-color: transparent;
      }
    }

    .TinyDatePicker_component {
      .rdtPicker {
        background-color: var(--theme-transactions-filter-modal-bg-color);
        box-shadow: var(--theme-transactions-filter-date-picker-shadow);

        .rdtMonths .rdtSwitch {
          background-color: var(
            --theme-transactions-date-picker-button-background-color
          );
          pointer-events: none;
        }

        thead tr:first-child th:hover {
          background-color: var(
            --theme-transactions-date-picker-button-background-color-hover
          );
        }

        tr {
          td.rdtActive,
          td.rdtActive:hover {
            background-color: var(
              --theme-transactions-date-picker-button-background-color
            );
            border-radius: 2px;
            font-family: var(--font-semibold);
          }
        }

        td.rdtYear:hover,
        td.rdtMonth:hover,
        td.rdtDay:hover,
        td.rdtHour:hover,
        td.rdtMinute:hover,
        td.rdtSecond:hover,
        .rdtTimeToggle:hover {
          background-color: var(
            --theme-transactions-date-picker-button-background-color-hover
          );
        }

        td.rdtToday:before {
          border-bottom-color: var(
            --theme-transactions-date-picker-button-background-color
          );
        }

        td.rdtActive.rdtToday:before {
          border-bottom-color: var(--theme-transactions-filter-modal-bg-color);
        }
      }
    }
  }

  .title {
    align-items: center;
    color: var(--theme-dialog-text-color);
    display: flex;
    justify-content: space-between;
    margin: 0 10px;

    .titleText {
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 0.5px;
      line-height: 1.38;
    }
    .titleLink {
      color: var(--rp-input-placeholder-color);
      cursor: pointer;
      font-size: 12px;
      line-height: 1.33;
    }
  }

  .content {
    .header {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-top: 14px;
      position: relative;

      label {
        color: var(--theme-dialog-text-color);
        font-family: var(--font-regular);
        font-size: 14px;
        line-height: 1.36;
      }
    }

    .body {
      align-items: center;
      color: var(--theme-dialog-text-color);
      display: flex;
      margin-top: 6px;
    }

    .type {
      margin: 0 10px;

      .body {
        margin-top: 10px;

        .typeCheckbox {
          margin-right: 20px;
        }
      }
    }

    .dateRange {
      margin: 14px 10px 0;

      :global {
        .SimpleFormField_label {
          font-size: 14px;
          margin-bottom: 6px;
        }
      }
    }

    .customDateRange {
      margin: 0 10px;

      .header {
        :global {
          .DialogCloseButton_component {
            bottom: 6.5px;
            right: 10px;
            top: auto;

            svg {
              height: 6px;
              width: 6px;
            }
          }
          .DialogCloseButton_disabled {
            svg {
              height: 6px;
              width: 6px;
            }
          }
        }
      }
      .body {
        .dateRangeInput {
          margin-right: 10px;
        }
      }
    }

    .amountRange {
      margin: 0 10px;

      .body {
        .amountRangeInput {
          margin-right: 10px;
        }
      }
    }

    .action {
      margin-top: 24px;
    }
  }
}
