.component {
  .actionButton {
    border-radius: 2px;
    display: flex;
    padding: 7px 12px;

    .actionLabel {
      color: var(--theme-transactions-filter-button-color);
      font-family: var(--font-medium);
      font-size: 14px;
      line-height: 1.36;
      margin-right: 12px;

      .numberIndicator {
        margin-left: 5px;
      }
    }

    .filterIcon {
      height: 11px;
      width: 11px;

      g {
        stroke: var(--theme-transactions-filter-button-color);
      }
    }
  }
}
