.root {
  border-color: var(--theme-icon-transaction-type-color)
    var(--theme-icon-transaction-type-color) transparent transparent !important;
  border-width: 0.5px !important;
  height: 16.4px !important;
  position: absolute;
  width: 16.4px !important;
}
