.root {
  border-color: var(--theme-icon-transaction-type-color)
    var(--theme-icon-transaction-type-color) transparent transparent !important;
  border-width: 0.5px !important;
  height: 16.5px !important; // changing height a/c to zeplin design
  position: absolute;
  width: 16.5px !important; // changing width a/c to zeplin design
}
