@import '../../../themes/mixins/link';

.component {
  color: var(--theme-transactions-list-item-details-color);
  cursor: pointer;
  position: relative;
}

// ========= TOGGLER =========

.toggler {
  cursor: pointer;
  display: flex;
  padding: 20px;
  -webkit-user-select: none;
}

.arrow {
  bottom: 10px;
  display: none;
  margin-left: -70px;
  margin-top: -17px;
  opacity: 0.1;
  position: sticky;
  text-align: center;
  width: 74px;
  z-index: 1;
  > svg {
    height: 8px;
    width: 25px;
    path {
      stroke: var(--theme-transactions-arrow-stroke-color);
    }
  }
  .component:hover & {
    opacity: 0.2;
  }
  .content:hover & {
    opacity: 0.1;
    &:hover {
      opacity: 0.2;
    }
  }
}

.arrowExpanded {
  display: block;
}

.togglerContent {
  flex: 1;
  margin-left: 20px;
  padding-top: 1px;
}

.header,
.details {
  color: var(--theme-transactions-list-item-details-color);
  display: flex;
  width: 100%;
}

.title,
.amount {
  color: var(--theme-transactions-list-item-details-color);
  font-family: var(--font-semibold);
  font-size: 16px;
  height: 22px;
  line-height: 1.38;
  text-align: left;
}

.amount {
  font-family: var(--font-medium);
  font-size: 16px;
  letter-spacing: 1px;
  margin-left: auto;
  user-select: text;
}

.pendingLabel,
.okLabel,
.in_ledgerLabel,
.pendingWarningLabel {
  background-color: var(--theme-transactions-state-pending-background-color);
  border-radius: 3px;
  color: var(--theme-transactions-state-text-color);
  display: inline-block;
  font-family: var(--font-bold);
  font-size: 8px;
  line-height: 16px;
  margin-left: auto;
  margin-top: 3px;
  padding: 0 9px;
  text-transform: uppercase;
}

.okLabel,
.in_ledgerLabel {
  background-color: var(--theme-transactions-state-ok-background-color);
}

.pendingWarningLabel {
  background-color: var(
    --theme-transactions-state-pending-warning-background-color
  );
}

.type {
  font-family: var(--font-light);
  font-size: 14px;
  margin-top: 3px;
}

// ========= DETAILS =========

.content {
  border-bottom: 1px solid var(--theme-dialog-border-color);
  margin-left: 74px;
  margin-right: 10px;
}

.contentExpanded {
  margin-top: -10px;
  padding-bottom: 20px;
}

.last {
  border: none;
}

.details {
  cursor: default;
  height: auto;

  .row {
    &.retainHeight {
      min-height: 40px;
    }
  }

  * + h2,
  * + .row {
    margin-top: 20px;
  }

  h2 {
    font-family: var(--font-medium);
    font-size: 16px;
    margin-bottom: 8px;
  }

  .addressRow,
  .explorerLinkRow {
    padding-bottom: 6px;
  }

  .addressRow,
  .transactionIdRow,
  .explorerLinkRow {
    line-height: 17px;
  }

  .explorerLinkRow {
    span:nth-child(2) {
      color: var(--theme-transactions-list-item-details-color);
      font-family: var(--font-light);
      font-size: 16px;
      line-height: 1.38;
      margin-left: 6px;
      word-break: break-word;
    }
  }

  span {
    font-family: var(--font-light);
    font-size: 15px;
    user-select: text;
    word-break: break-all;

    &.address,
    &.transactionId {
      font-family: var(--font-mono);
      letter-spacing: 0.5px;
      line-height: 1.4;
    }

    &.explorerLink {
      font-family: var(--font-regular);
      font-size: 16px;
      letter-spacing: -0.4px;
    }
  }

  .pendingTxnNote {
    font-family: var(--font-light);
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 20px;
    margin-top: 20px;

    .articleLink {
      @include link(--theme-link-main-color);
      border-bottom: 1px solid transparent;
      font-size: 16px;
      margin-left: 5px;
      text-decoration-line: none;
      &:hover {
        border-bottom-color: var(--theme-link-main-color);
      }
    }
  }

  &.clickable {
    .transactionId,
    .address,
    .explorerLink {
      @include link(--theme-link-main-color);
      border-bottom-color: var(--theme-link-main-color);
    }
  }
}

.detailsClosed {
  max-height: 0;
  overflow: hidden;
  padding-bottom: 0;
}

.detailsExpanded {
  max-height: 100%;
  padding: 10px 10px 0;
}

.conversion {
  display: flex;
}

.conversionRate {
  margin-left: 76px;
}

.currencySymbol {
  display: inline-block;
  margin-bottom: -1px;
  margin-left: 4px;
  & > svg {
    height: 12px;
    width: 12px;
    & > g > g {
      stroke: var(--theme-icon-transactions-ada-symbol-color);
    }
  }
}
