.component {
  margin: 20px;

  :global {
    .input_input {
      padding: 0;
    }

    .input_inputElement {
      background: url('../../../assets/images/search-ic.svg') no-repeat 20px
        center;
      background-color: var(--theme-transactions-search-background-color);
      background-size: 15px;
      border-radius: 4px;
      font-family: var(--font-regular);
      padding: 16px 1rem 16px 52px;
      &:focus {
        background: url('../../../assets/images/search-ic-dark.svg') no-repeat
          20px center;
        background-size: 15px;
      }
    }

    .input_hint {
      left: 54px;
      top: 19px;
    }
  }
}
