@import '../../themes/mixins/error-message';

.component {
  background-color: var(--theme-main-body-background-color);
  display: flex;
  flex-direction: column;
  font-family: var(--font-regular);
  height: 100%;
  padding: 20px;

  :global {
    .SimpleFormField_label {
      color: var(--theme-input-label-color);
    }
  }
}

.export {
  font-size: 16px;
  margin-bottom: 20px;

  h2 {
    color: var(--theme-bordered-box-text-color);
    font-family: var(--font-medium);
    line-height: 1.38;
  }

  p, li {
    color: var(--theme-bordered-box-text-color);
    font-family: var(--font-regular);
    line-height: 1.38;
    opacity: 0.5;
  }

  p:first-of-type {
    margin-top: 14px;
  }

  li {
    list-style-type: disc;
    margin-left: 18px;
  }

  strong {
    color: var(--theme-bordered-box-text-color);
    font-family: var(--font-bold);
  }

  & > .export_link {
    color: var(--theme-bordered-box-text-color);
    cursor: pointer;
    font-size: 16px;
    text-decoration: underline;
    margin-top: 14px;
  }
}

.actionButtons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;

  .exportLink {
    color: var(--theme-bordered-box-text-color);
    cursor: pointer;
    font-family: var(--font-medium);
    font-size: 16px;
  }
}

.error {
  @include error-message;
  text-align: center;
}

