// TODO: Remove once the new wallet creation process is ready
@import '../../themes/mixins/loading-spinner';
@import '../../themes/mixins/place-form-field-error-below-input';

.spendingPasswordWrapper {
  .spendingPasswordFields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 250px;
    opacity: 1;
    overflow: visible;
    transition: all 400ms ease;

    & > div {
      margin-top: 30px;
      width: 275px;
    }

    @include place-form-field-error-below-input;

    .passwordInstructions {
      color: var(--theme-dialog-text-color);
      font-family: var(--font-light);
      line-height: 1.38;
      margin-top: 16px;
    }
  }
}

.isSubmitting {
  box-shadow: none !important;
  @include loading-spinner('../../assets/images/spinner-light.svg');
}
