@import '../../themes/mixins/loading-spinner';
@import '../../themes/mixins/error-message';

.component {
  padding: 20px;

  .syncingTransactionsWrapper {
    margin-bottom: 20px;

    :global {
      .LoadingSpinner_component {
        margin-top: 10px;
      }
    }

    .syncingTransactionsText {
      color: var(--theme-transactions-list-group-date-color);
      font-family: var(--font-regular);
      font-size: 16px;
      line-height: 1.38;
      opacity: 0.5;
      text-align: center;
    }
  }
}

.amountInput,
.receiverInput {
  margin-bottom: 20px;
  position: relative;

  :global {
    .SimpleFormField_error a {
      color: var(--rp-formfield-error-text-color, rgba(222, 50, 38, 0.5));
    }
  }
}

.adaLabel {
  bottom: 16px;
  color: var(--theme-input-right-floating-text-color);
  font-family: var(--font-light);
  position: absolute;
  right: 20px;
  text-transform: uppercase;
}

.nextButton {
  display: block !important;
  margin: 30px auto 0;
}
