.buttonsContainer {
  display: flex;
  flex-direction: column;
  width: 580px;
}

.firstRow {
  display: flex;
}

.secondRow {
  display: flex;
}

.component {
  margin: 0 -20px -10px;

  :global {
    .Dialog_title {
      margin-bottom: 10px !important;
    }

    .DialogCloseButton_component {
      right: 16px;
    }
  }
}
