@import '../../themes/mixins/loading-spinner';
@import '../../themes/mixins/error-message';
@import '../../themes/mixins/place-form-field-error-below-input';

.component {
  &.dialogWithCertificateRestore {
    :global {
      .Dialog_title {
        margin-bottom: 0;
      }
    }
  }

  .walletName {
    margin-bottom: 20px;
  }

  .spendingPasswordWrapper {
    border-top: 1px solid var(--theme-dialog-border-color);
    margin-top: 30px;
    padding-top: 20px;

    .passwordSectionLabel {
      font-family: var(--font-medium);
      font-size: 16px;
      line-height: 1.38;
      margin-bottom: 14px;
    }

    .passwordSectionDescription {
      font-family: var(--font-light);
      font-size: 16px;
      line-height: 1.38;
    }

    .spendingPasswordFields {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-height: 250px;
      opacity: 1;
      overflow: visible;
      transition: all 400ms ease;

      & > div {
        margin-top: 20px;
        width: 275px;
      }

      @include place-form-field-error-below-input;

      .passwordInstructions {
        color: var(--theme-dialog-text-color);
        font-family: var(--font-light);
        line-height: 1.38;
        margin-top: 10px;
      }
    }
  }

  .restoreTypeChoice {
    display: flex;
    margin-bottom: 20px;
    width: 100%;

    button {
      color: var(--theme-choice-tabs-text-color);
      cursor: pointer;
      flex: 1;
      font-family: var(--font-medium);
      font-size: 16px;
      opacity: 0.5;
      padding: 20px;
      text-align: center;
    }

    .activeButton {
      border-bottom: 2px solid
        var(--theme-choice-tabs-bottom-border-color-active);
      color: var(--theme-choice-tabs-text-color-active);
      cursor: default;
      opacity: 1;
    }
  }

  .error {
    @include error-message;
    margin-top: 20px;
    text-align: center;
  }

  .isSubmitting {
    box-shadow: none !important;
    @include loading-spinner('../../assets/images/spinner-light.svg');
  }
}
