@import '../../themes/mixins/loading-spinner';
@import '../../themes/mixins/error-message';

.component {
  background-color: var(--theme-main-body-background-color);
  display: flex;
  flex-direction: column;
  font-family: var(--font-regular);
  height: 100%;
  overflow: overlay;
  padding: 20px;

  :global {
    .SimpleFormField_label {
      color: var(--theme-input-label-color);
    }
  }
}

.headline {
  color: var(--theme-ada-redemption-headline-color);
  font-family: var(--font-semibold);
  font-size: 16px;
  margin-bottom: 14px;
  margin-top: 10px;
}

.instructions {
  color: var(--theme-ada-redemption-instructions-color);
  font-family: var(--font-light);
  font-size: 16px;
  line-height: 1.38;
  margin-bottom: 20px;

  strong {
    font-family: var(--font-bold);
  }

  p {
    margin-bottom: 10px;
  }
}

.fileUpload {
  margin-bottom: 20px;
  position: relative;
}

.walletRows {}

.walletRow {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  & > div {
    flex-grow: 1;
    margin-right: 20px;
  }

  & + .walletRow {
    margin-top: 10px;
  }

  .importButton,
  .importButtonSpinning {
    height: 48px;
    min-width: 130px;
    width: auto;
  }

  .importButtonSpinning {
    box-shadow: none !important;
    @include loading-spinner("../../assets/images/spinner-light.svg");
  }
}

.extractingWalletsWrapper {
  margin-bottom: 20px;

  :global {
    .LoadingSpinner_component {
      margin-top: 20px;
    }
  }

  .extractingWalletsText {
    color: var(--theme-transactions-list-group-date-color);
    font-family: var(--font-regular);
    font-size: 16px;
    line-height: 1.38;
    opacity: 0.5;
    text-align: center;
  }
}

.maskPasswords {
  position: relative;
  z-index: 2;
  > div {
    position: absolute;
    right: 0;
  }
}

.passwordsField {
  z-index: 1;
  textarea {
    max-height: 430px;
    overflow: hidden;
  }
}

.submitButton,
.submitButtonSpinning {
  display: block !important;
  margin: 30px auto 0;
}

.submitButtonSpinning {
  box-shadow: none !important;
  @include loading-spinner("../../assets/images/spinner-light.svg");
}

.error {
  @include error-message;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
