@import '../../themes/mixins/loading-spinner';
@import '../../themes/mixins/error-message';

.component {
  padding: 20px;

  .syncingTransactionsWrapper {
    margin-bottom: 20px;

    :global {
      .LoadingSpinner_component {
        margin-top: 10px;
      }
    }

    .syncingTransactionsText {
      color: var(--theme-transactions-list-group-date-color);
      font-family: var(--font-regular);
      font-size: 16px;
      line-height: 1.38;
      opacity: 0.5;
      text-align: center;
    }
  }

  .walletTokenSendForm {
    padding-right: 10px;

    .walletTokenSendFormContainer {
      display: flex;
      width: 100%;
    }

    .fieldsLine {
      border-bottom: 1px solid #c6cdd6;
      border-left: 1px solid #c6cdd6;
      border-top: 1px solid #c6cdd6;
      border-radius: 2px;
      height: 202px;
      margin-right: 12px;
      margin-top: 55px;
      width: 6px;
    }

    .fieldsContainer {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
}

.amountInput,
.receiverInput,
.estimatedFeeInput,
.depositInput {
  margin-bottom: 20px;
  position: relative;

  :global {
    .SimpleFormField_error a {
      color: var(--rp-formfield-error-text-color, rgba(222, 50, 38, 0.5));
    }
  }
}

.estimatedFeeInput,
.depositInput {
  :global {
    .AmountInputSkin_total {
      left: 180px;
    }
  }
}

.estimatedFeeInput {
  padding-left: 18px;
}

.adaLabel {
  bottom: 16px;
  color: var(--theme-input-right-floating-text-color);
  font-family: var(--font-light);
  position: absolute;
  right: 20px;
  text-transform: uppercase;
}

.buttonsContainer {
  align-items: center;
  display: flex;
  justify-content: center;

  button {
    margin: 0 10px;
  }
}
