@import '../../themes/mixins/loading-spinner';
@import '../../themes/mixins/error-message';

.component {
  padding: 20px;
}

.amountInput,
.receiverInput {
  position: relative;
  margin-bottom: 20px;
}

.adaLabel {
  bottom: 16px;
  color: var(--theme-input-right-floating-text-color);
  font-family: var(--font-light);
  position: absolute;
  right: 20px;
  text-transform: uppercase;
}

.nextButton {
  display: block !important;
  margin: 30px auto 0;
}