.component {
  align-items: center;
  display: flex;
  flex: 1;
}

.notification {
  color: var(--theme-transactions-list-group-date-color);
  font-family: var(--font-regular);
  font-size: 16px;
  line-height: 1.38;
  margin-top: 10px;
  opacity: 0.6;
  text-align: center;
}

.buttonsContainer {
  max-width: 640px;
  margin: auto;
}

.firstRow {
  display: flex;
}

.secondRow {
  display: flex;
}
