@import '../../themes/mixins/loading-spinner';
@import '../../themes/mixins/error-message';

.component {
  padding: 20px;

  .syncingTransactionsWrapper {
    margin-bottom: 20px;

    :global {
      .LoadingSpinner_component {
        margin-top: 10px;
      }
    }

    .syncingTransactionsText {
      color: var(--theme-transactions-list-group-date-color);
      font-family: var(--font-regular);
      font-size: 16px;
      line-height: 1.38;
      opacity: 0.5;
      text-align: center;
    }
  }

  .walletTokenSendForm {
    padding-right: 10px;

    .walletTokenSendFormContainer {
      display: flex;
      width: 100%;
    }

    .fieldsLine {
      border-bottom: var(--theme-bordered-box-border);
      border-left: var(--theme-bordered-box-border);
      border-radius: 0 0 2px 2px;
      height: 100%;
      left: 50px;
      max-height: 120px;
      position: absolute;
      top: 136px;
      width: 6px;
    }

    .fieldsContainer {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
}

.assetInput,
.receiverInput,
.estimatedFeeInput,
.depositInput {
  margin-bottom: 20px;
  position: relative;

  :global {
    .SimpleFormField_error a {
      color: var(--rp-formfield-error-text-color, rgba(222, 50, 38, 0.5));
    }

    .SimpleInput_disabled {
      font-family: var(--font-regular);
    }
  }
}

.receiverInput {
  input {
    display: flex;
    overflow: hidden;
    padding-right: 60px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .clearReceiverContainer {
    bottom: 0.5px;
    display: flex;
    height: 48px;
    line-height: 48px;
    padding-left: 20px;
    position: absolute;
    right: 10px;

    .clearReceiverButton {
      background-color: var(
        --theme-staking-stake-pools-search-clear-button-background-color
      );
      border-radius: 3px;
      cursor: pointer;
      height: 28px;
      width: 28px;

      &:hover {
        background-color: var(
          --theme-staking-stake-pools-search-clear-button-hover-background-color
        );
      }

      .clearReceiverIcon {
        > svg {
          position: relative;
          top: 0.5px;
          width: 10px;

          > g > g {
            fill: var(--theme-staking-stake-pools-search-clear-button-color);
          }
        }
      }
    }
  }
}

.estimatedFeeInput,
.depositInput {
  :global {
    .AmountInputSkin_total {
      font-family: var(--font-regular);
      left: 95px;
    }
  }
}

.assetInput {
  margin-left: 25px;

  .amountTokenTotal {
    color: var(--theme-input-right-floating-text-color);
    font-family: var(--font-regular);
    font-size: 14px;
    line-height: 1.36;
    position: absolute;
    right: 18px;
  }
}

.addAssetButton {
  font-family: var(--font-semibold);
  font-size: 10px;
  font-weight: 500;
  height: 20px;
  letter-spacing: 0.5px;
  line-height: 1.2;
  margin-top: 24px;
  text-transform: uppercase;
  width: 143px;
}

.clearAssetContainer {
  bottom: 0.5px;
  display: flex;
  height: 48px;
  line-height: 48px;
  padding-left: 20px;
  position: absolute;
  right: 80px;

  .clearAssetButton {
    background-color: var(
        --theme-staking-stake-pools-search-clear-button-background-color
    );
    border-radius: 3px;
    cursor: pointer;
    height: 28px;
    width: 28px;

    &:hover {
      background-color: var(
          --theme-staking-stake-pools-search-clear-button-hover-background-color
      );
    }

    .clearReceiverIcon {
      > svg {
        position: relative;
        top: 0.5px;
        width: 10px;

        > g > g {
          fill: var(--theme-staking-stake-pools-search-clear-button-color);
        }
      }
    }
  }
}

.adaLabel {
  bottom: 16px;
  color: var(--theme-input-right-floating-text-color);
  font-family: var(--font-light);
  position: absolute;
  right: 20px;
  text-transform: uppercase;
}

.removeReceiverButton {
  display: none;
  font-family: var(--font-semibold);
  font-size: 10px;
  font-weight: 500;
  height: 20px;
  left: 83px;
  letter-spacing: 0.5px;
  line-height: 1.2;
  position: absolute;
  text-transform: uppercase;
  top: 2px;
  width: 61.5px;
  z-index: 1;

  &.active {
    display: block;
  }
}

.addNewReceiverButton {
  margin: 20px 0;
  width: 100%;
}

.buttonsContainer {
  align-items: center;
  display: flex;
  justify-content: center;

  button {
    margin: 0 10px;
  }
}
