// TODO: Remove once the new wallet creation process is ready
@import '../../themes/mixins/loading-spinner';
@import '../../themes/mixins/place-form-field-error-below-input';

.spendingPassword {
  .spendingPasswordSwitch {
    border-top: 1px solid var(--theme-dialog-border-color);
    margin-top: 30px;
    padding-top: 20px;

    & > .passwordLabel {
      color: var(--rp-switch-label-text-color);
      font-family: var(--font-semibold);
      font-size: 16px;
      line-height: 1.38;
      margin-bottom: 10px;
    }

    :global {
      .SimpleSwitch_root {
        margin-bottom: 0;
      }
    }
  }

  .spendingPasswordFields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 400ms ease;

    &.show {
      max-height: 250px;
      opacity: 1;
      overflow: visible;
    }

    & > div {
      margin-top: 30px;
      width: 275px;
    }

    @include place-form-field-error-below-input;

    .passwordInstructions {
      color: var(--theme-dialog-text-color);
      font-family: var(--font-light);
      line-height: 1.38;
      margin-top: 16px;
    }
  }
}

.isSubmitting {
  box-shadow: none !important;
  @include loading-spinner('../../assets/images/spinner-light.svg');
}
