@import '../../themes/mixins/loading-spinner';
@import '../../themes/mixins/error-message';

.component {
  background-color: var(--theme-main-body-background-color);
  display: flex;
  flex-direction: column;
  font-family: var(--font-regular);
  height: 100%;
  padding: 20px;

  :global {
    .SimpleFormField_label {
      color: var(--theme-input-label-color);
    }
  }
}

.headline {
  font-family: var(--font-medium);
  font-size: 18px;
  margin-bottom: 2rem;
  margin-top: 10px;
  color: var(--theme-ada-redemption-headline-color);
}

.instructions {
  margin-bottom: 25px;
  font-family: var(--font-regular);
  font-size: 16px;
  line-height: 1.38;
  color: var(--theme-ada-redemption-instructions-color);
  strong {
    font-family: var(--font-bold);
  }
  p {
    margin-bottom: 10px;
  }
}

.fileUpload {
  margin-bottom: 20px;
  position: relative;
}

.walletRows {}

.walletRow {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  & > div {
    flex-grow: 1;
    margin-right: 20px;
  }

  & + .walletRow {
    margin-top: 10px;
  }

  .importButton {
    height: 48px;
    min-width: 130px;
    width: auto;
  }
}

.extractingWalletsWrapper {
  margin-bottom: 20px;

  :global {
    .LoadingSpinner_component {
      margin-top: 20px;
    }
  }

  .extractingWalletsText {
    color: var(--theme-transactions-list-group-date-color);
    font-family: var(--font-regular);
    font-size: 16px;
    line-height: 1.38;
    opacity: 0.5;
    text-align: center;
  }
}

.submitButton,
.submitButtonSpinning {
  display: block !important;
  margin-top: 30px;
  width: 100% !important;
}

.submitButtonSpinning {
  box-shadow: none !important;
  @include loading-spinner("../../assets/images/spinner-light.svg");
}

.error {
  @include error-message;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
