%contentBorderAndBackground {
  border: solid 1px $theme-staking-content-border-color;
  border-radius: 4px;
  background-color: $theme-staking-content-background-color;
}

%baseTypography {
  font-size: 16px;
  line-height: 1.38;
}

%accentText {
  @extend %baseTypography;
  font-family: $font-semibold;
  color: $theme-staking-font-color-accent;
}

%regularText {
  @extend %baseTypography;
  font-family: $font-regular;
  color: $theme-staking-font-color-regular;
}
