$staking-background-color: $theme-staking-background-color;
$staking-content-background-color: $theme-staking-content-background-color;
$staking-content-border-color: $theme-staking-content-border-color;
$staking-font-color-regular: $text-color-regular;
$staking-font-color-accent: $text-color-accent;
$staking-font-color-link: $text-color-accent;

%contentBorderAndBackground {
  border: solid 1px $staking-content-border-color;
  border-radius: 4px;
  background-color: $staking-content-background-color;
}

%baseTypography {
  font-size: 16px;
  line-height: 1.38;
}

%accentText {
  @extend %baseTypography;
  font-family: $font-semibold;
  color: $staking-font-color-accent;
}

%regularText {
  @extend %baseTypography;
  font-family: $font-regular;
  color: $staking-font-color-regular;
}
