@import "./stakingConfig";

.component {
  margin: 30px;
  text-align: center;
}

.heading {
  @extend %accentText;
  margin-bottom: 7px;
}

.timeLeft {
  @extend %accentText;
  margin-bottom: 7px;
  font-size: 36px;
}

.info {
  @extend %regularText;
  margin-bottom: 7px;
  span.link {
    text-decoration: underline;
    color: $staking-font-color-link;
  }
}

