@import "./stakingConfig";

.component {
  margin: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #dfe4e8;
}

%base {
  text-align: center;
  margin-bottom: 7px;
}

.heading {
  @extend %base;
  @extend %accentText;
}

.timeLeft {
  @extend %base;
  @extend %accentText;
  font-size: 36px;
}

.info {
  @extend %base;
  @extend %regularText;

  span.link {
    text-decoration: underline;
    color: $staking-font-color-link;
  }
}

