.component {
  :global {
    .recharts-cartesian-axis-tick text {
      font-family: var(--font-medium);
      font-size: 10px;
      fill: #c2cad4;
    }
  }
}

.toolTip {
  position: fixed;
  overflow: visible;
}
