@import "stakingConfig";

.component {
  width: 330px;
  height: auto;
  padding: 20px;
  border-radius: 4px;
  background-color: var(--theme-staking-content-background-color);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.25);
}

.slot {
  @extend %accentText;
}

.date {
  @extend %regularText;
  font-size: 14px;
  margin-bottom: 6px;
}

.hash {
  @extend %accentText;
  font-size: 14px;
  word-wrap: break-word;
  margin-bottom: 6px;
}




