.dialog {
  min-width: 500px;
  max-width: 640px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.25);
  &:focus {
    outline: none;
  }
}

.overlay {
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(black, 0.6);
}
