@import '../settingsConfig';

.component {
  background-color: var(--theme-settings-menu-box-background-color);
  border: var(--theme-settings-menu-box-border);
  border-radius: 4px;
  margin: 20px 0;
  padding: 16px 0;
  width: 240px;
}
