@import '../../../themes/mixins/animations';
@import '../../../themes/mixins/link';

.component {
  align-items: center;
  background-color: var(--theme-system-error-overlay-background-color);
  bottom: 0;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.25);
  color: var(--theme-system-error-overlay-text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  padding: 50px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 21;

  .icon {
    margin-bottom: 36px;
    object-fit: contain;
    & > svg {
      height: 110px;
      width: 110px;
      path {
        fill: var(--theme-system-error-overlay-attention-icon-color);
      }
      path:nth-child(1) {
        opacity: 0.2;
      }
      path:nth-child(2) {
        opacity: 0.6;
      }
    }
  }

  h1,
  p,
  button {
    font-family: var(--font-regular);
  }

  h1 {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8.5px;
  }

  p {
    font-size: 16px;
    line-height: 1.38;
    margin-bottom: 20px;
    opacity: 0.8;
  }


  .supportPortalLink{
    border-bottom: 1px solid var(--theme-system-error-overlay-text-color);
    color: var(--theme-system-error-overlay-text-color);
    font-size: 16px;
    line-height: 1.38;

    &:after {
      background-color: var(--theme-system-error-overlay-support-link-icon-color);
    }
  }
  
  .checkLink {
    display: inline-block;
    border-bottom: 1px solid var(--theme-system-error-overlay-text-color);
    color: var(--theme-system-error-overlay-text-color);
    cursor: pointer;
    font-size: 14px;
    line-height: 1.36;
    margin-top: 30px;
    opacity: 0.8;
    font-family: var(--font-regular);

    &.disabled {
      cursor: default;
      text-decoration: none;
      @include animated-ellipsis($width: 16px);
    }
  }
}
