.component {
  color: var(--theme-dialog-text-color);
  font-family: var(--font-light);
  width: 440px;

  p {
    line-height: 1.38;

    &:not(:last-child) {
      padding-bottom: 10px;
    }
  }
}
