.component {
  margin: 0 auto 20px;
  width: 340px;

  :global {
    .SimpleStepper_wrapper .SimpleStepper_stepsWrapper li:after {
      left: -43%;
    }
  }
}

.stepCounter {
  font-family: var(--font-regular);
  font-size: 12px;
  line-height: 1.83;
  margin-bottom: 5px;
  text-align: center;
}
