.component {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-y: overlay;
}

.navigation {
  flex-shrink: 0;
  height: 50px;
  position: relative;
}

.page {
  height: calc(100% - 50px);
  overflow: overlay;
  position: relative;
}

.settingsTabPage {
  overflow: hidden;
}
