.component {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.navigation {
  flex-shrink: 0;
  height: 50px;
  position: relative;
  z-index: 1;
}

.page {
  height: calc(100% - 50px);
  overflow: overlay;
  position: relative;
}

.settingsTabPage {
  overflow: hidden;
}
