.delegationSteps {
  font-family: var(--font-regular);

  :global {
    .Dialog_title {
      letter-spacing: 2px;
    }

    .BackToTopButton_component {
      margin-left: 0 !important;
    }
  }

  .delegationStepsIndicatorWrapper {
    margin: -20px auto 20px;
    width: 300px;

    .stepIndicatorLabel {
      color: var(--theme-delegation-steps-activation-steps-indicator-color);
      font-family: var(--font-medium);
      font-size: 12px;
      font-weight: 500;
      line-height: 1.83;
      margin-bottom: 10px;
      text-align: center;
    }
  }

  .content {
    font-size: 16px;
    line-height: 1.38;
    text-align: left;
  }
}
