.delegationStepsActivationDialogWrapper {
  .content {
    .description {
      color: var(--theme-delegation-steps-activation-description-color);
      margin-bottom: 20px;
      span > span {
        font-weight: bold;
      }
    }

    .resumeWrapper {
      display: flex;
    }

    .resumeWrapper,
    .totalWrapper,
    .addressWrapper {
      font-family: var(--font-medium);
      font-size: 16px;
      font-weight: 500;
      line-height: 1.38;
      margin-bottom: 20px;

      .label {
        color: var(--theme-delegation-steps-activation-fees-label-color);
        margin-bottom: 6px;
      }

      .amount {
        color: var(--theme-delegation-steps-activation-fees-amount-color);
        user-select: text;
        span {
          opacity: 0.5;
        }
      }

      .amountWrapper {
        width: 50%;
      }

      .feesWrapper {
        width: 50%;
        .amount {
          opacity: 0.5;
        }
      }

      .addressValue {
        color: var(--theme-delegation-steps-activation-address-value-color);
        font-family: var(--font-light);
        font-weight: 300;
        opacity: 0.5;
        user-select: text;
        word-break: break-all;
      }
    }
  }
}
