.delegationStepsChooseWalletDialogWrapper {
  :global {
    .Dialog_subtitle {
      color: var(--theme-delegation-steps-choose-wallet-steps-indicator-color);
    }

    .SimpleInput_input {
      &::selection {
        background: transparent;
      }
    }
  }

  .content {
    .description {
      color: var(--theme-delegation-steps-choose-wallet-description-color);
      span > span {
        color: var(
          --theme-delegation-steps-choose-wallet-description-highlighted-color
        );
        font-family: var(--font-medium);
        font-weight: 500;
      }
    }

    .walletSelect {
      margin-top: 20px;
      &.error {
        input {
          border-color: var(--theme-color-error);
        }
        :global {
          .SimpleSelect_selectInput {
            &:after {
              background-color: var(--theme-color-error);
            }
          }
        }
      }
    }

    .errorMessage {
      color: var(
        --theme-delegation-steps-choose-wallet-error-message-light-color
      );
      font-size: 14px;
      letter-spacing: normal;
      margin-top: 10px;
      span > span {
        color: var(--theme-delegation-steps-choose-wallet-error-message-color);
        font-family: var(--font-medium);
        font-weight: 500;
      }
    }
  }
}
