@import '../../../themes/mixins/loading-spinner';

.delegationStepsNotAvailableDialogWrapper {
  .content {
    text-align: center;

    .icon {
      display: inline-block;
      height: 66px;
      margin: 10px 0 30px;
      svg {
        height: 66px;
        width: 66px;
        g {
          fill: var(
            --theme-delegation-steps-not-available-icon-color
          ) !important;
        }
      }
    }

    .description {
      color: var(--theme-delegation-steps-not-available-description-text-color);
      span > span {
        color: var(
          --theme-delegation-steps-not-available-description-highlight-text-color
        );
        font-family: var(--font-medium);
        font-weight: 500;
      }
    }
  }
}
