@import '../../../themes/mixins/loading-spinner';
@import '../../../themes/mixins/link';

.delegationStepsIntroDialogWrapper {
  .content {
    color: var(--theme-delegation-steps-intro-content-text-color);

    .link {
      font-size: 16px;
      @include link(--theme-link-main-color);
    }

    .stepsExplanation {
      border-top: 1px solid
        var(--theme-delegation-steps-intro-divider-border-color);
      margin-top: 20px;
      padding-top: 20px;
      .label {
        color: var(--theme-delegation-steps-intro-list-label-color);
        font-family: var(--font-medium);
        font-weight: 500;
      }
      ol {
        margin-left: 14px;
      }
      ol,
      li {
        margin-top: 11px;
        span {
          color: var(--theme-delegation-steps-intro-list-numbers-color);
          margin-right: 14px;
          &.optionalLabel {
            color: var(
              --theme-delegation-steps-intro-list-optional-label-color
            );
          }
        }
      }
    }
  }
}
