.delegationStepsChooseStakePoolDialogWrapper {
  font-family: var(--font-regular);

  :global {
    .Dialog_title {
      letter-spacing: 2px;
      margin-bottom: 0;
    }

    .Dialog_content {
      width: 600px;
    }

    .StakePoolTooltip_component {
      &.StakePoolTooltip_isVisible {
        opacity: 0.9;
        background-color: #5e6066;
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.25);
        &:before {
          opacity: 0.9;
          border-right-color: #5e6066;
        }

        &:after {
          border-right-color: #5e6066;
          opacity: 0.9;
        }
      }
      .StakePoolTooltip_container {
        h3 {
          color: #fafbfc;
        }
        .StakePoolTooltip_id {
          color: #fafbfc; 
        }
        .StakePoolTooltip_description {
          color: #fafbfc; 
        }
        .StakePoolTooltip_url {
          color: #85b6f9; 
        }
        .StakePoolTooltip_table {
          dt {
            color: #fafbfc;    
          }
          dd {
            span {
              color: #fafbfc;
            }
          }
        }
      }
      .StakePoolTooltip_colorBand {
        display: none;
      }
    }
    .StakePoolThumbnail_slug {
      color: #5e6066;
      margin: 0 0 4px;
    }
  }

  .delegationStepsIndicatorWrapper {
    margin: auto;
    width: 410px;

    .stepIndicatorLabel {
      color: var(--theme-delegation-steps-choose-wallet-steps-indicator-color);
      font-family: var(--font-medium);
      font-size: 12px;
      font-weight: 500;
      line-height: 1.83;
      margin-bottom: 10px;
      text-align: center;
    }
  }

  .content {
    color: rgba(94, 96, 102, 0.8);
    font-size: 16px;
    line-height: 1.38;
    text-align: left;

    .description {
      margin: 20px auto;
    }

    .delegatedStakePoolsWrapper {
      display: flex;

      .placeholderImage {
        height: 103px;
        svg {
          width: 116px;
        }
      }

      .selectedPoolBlock {
        background-color: #5da377;
        border-radius: 5.8px;
        border: solid 2px #c6cdd6;
        height: 103px;
        width: 116px;

        .label {
          color: #fafbfc;
          font-family: var(--font-semibold);
          font-size: 20.3px;
          font-weight: 600;
          margin-top: 12px;
          text-align: center;
        }

        .checkmarkWrapper {
          text-align: center;
          margin-top: 14px;
          .checkmarkImage {
            svg {
              width: 22.5px;
              path {
                stroke: #fafbfc;
              }
            }
          }
        }
      }

      .delegatedStakePoolsList {
        margin-left: 20px;

        .stakePoolsDelegatingListLabel {
          color: #5e6066;
          font-family: var(--font-medium);
          font-size: 16px;
          font-weight: 500;
          line-height: 1.38;
          margin-bottom: 10px;
        }

        :global {
          .StakePoolsList_component {
            grid-gap: 20px;
            justify-content: left;
          }
        }
      }
    }
  }
}
