@import '../../../themes/mixins/animations';
@import '../../../themes/mixins/loading-spinner';
@import '../../../themes/mixins/error-message';

.delegationStepsConfirmationDialogWrapper {
  .content {
    .description {
      color: var(--theme-delegation-steps-confirmation-description-color);
      font-family: var(--font-light);
      margin-bottom: 20px;
      span {
        span {
          font-family: var(--font-medium);
        }
      }
    }

    .feesWrapper {
      font-family: var(--font-medium);
      font-weight: 500;
      line-height: 1.38;
      margin-bottom: 20px;

      .feesLabel {
        color: var(--theme-delegation-steps-confirmation-fees-label-color);
        margin-bottom: 6px;
      }

      .calculatingFeesLabel {
        @include animated-ellipsis($width: 20px);
        -webkit-backface-visibility: hidden;
      }

      .feesAmount {
        color: var(--theme-delegation-steps-confirmation-fees-amount-color);
        user-select: text;

        .feesAmountLabel {
          font-family: var(--font-light);
        }
      }
    }
  }

  .error {
    @include error-message;
    margin-top: 27px;
    text-align: center;
  }
}

.submitButtonSpinning {
  box-shadow: none !important;
  @include loading-spinner('../../../assets/images/spinner-light.svg');
}
