.component {
  color: var(--theme-delegation-steps-choose-wallet-error-message-color);
  margin: 18px 0 22px;
  span {
    line-height: 1.38;
  }
}

.centerText {
  text-align: center;
  margin: 20px 0;
}
