@import '../../../themes/mixins/error-message';

.dialog {
  font-family: var(--font-medium);
  width: 580px;

  :global {
    .Dialog_title {
      margin-bottom: 20px;
    }
  }

  .currencySymbol {
    font-family: var(--font-light);
    text-transform: uppercase;
  }

  .addressToLabel {
    font-size: 16px;
    line-height: 1.38;
  }

  .addressFrom {
    font-family: var(--font-light);
    line-height: 1.38;
    margin-bottom: 20px;
    margin-top: 6px;
    user-select: text;
    word-break: break-all;
    word-wrap: break-word;
  }

  .addressTo {
    font-family: var(--font-light);
    line-height: 1.38;
    margin-bottom: 5px;
    margin-top: 6px;
    user-select: text;
    word-break: break-all;
    word-wrap: break-word;
  }

  .amountFeesWrapper {
    display: flex;
    flex-direction: row;

    .amountWrapper {
      width: 50%;
    }

    .amountWrapper {
      margin-right: 10px;
    }

    .amountLabel,
    .feesLabel {
      line-height: 1.38;
    }

    .amount {
      line-height: 1.38;
      user-select: text;
      word-break: break-word;
    }
  }

  .receiverRow {
    display: flex;
    flex-direction: column;

    & + .receiverRow {
      margin-top: 15px;
    }

    .receiverRowItem {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      h2 {
        display: flex;
        line-height: 1.38;
      }

      .receiverRowItemAddresses {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
      }
    }
  }

  .feesWrapper {
    margin-top: 15px;
  }

  .adaAmountFeesWrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-top: 15px;

    .adaAmountWrapper,
    .feesWrapper {
      margin-top: 0;
      width: 50%;
    }

    .adaAmountWrapper {
      margin-right: 10px;
    }

    .feesWrapper {
      margin-left: 10px;
    }

    .adaAmountLabel,
    .feesLabel {
      line-height: 1.38;
    }

    .adaAmount,
    .fees {
      color: var(--theme-send-confirmation-dialog-send-values-color);
      line-height: 1.38;
      margin-top: 6px;
      user-select: text;
      word-break: break-word;
    }

    .fees {
      opacity: 0.5;
    }
  }

  .assetsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5px;
    width: 100%;

    .assetsSeparator {
      border-bottom: 1px solid var(--theme-transactions-list-item-details-color);
      border-bottom-left-radius: 2px;
      border-left: 1px solid var(--theme-transactions-list-item-details-color);
      height: 35px;
      margin-left: 5px;
      margin-top: -40px;
      opacity: 0.3;
      position: relative;
      top: 40px;
      width: 6px;
    }

    .assetsContainer {
      display: flex;
      justify-content: space-between;
      padding: 3px 0 3px 20px;
      width: 100%;

      h3 {
        display: inline-flex;
        font-family: var(--font-light);

        > span {
          margin-right: 12px;
          white-space: nowrap;
        }
      }

      .unformattedAmountLine {
        border-bottom: 1px solid
          var(--theme-transactions-list-item-details-color);
        border-bottom-left-radius: 2px;
        border-left: 1px solid var(--theme-transactions-list-item-details-color);
        flex-grow: 1;
        height: 12px;
        margin: 0 8px 0 4px;
        opacity: 0.3;
      }

      .unformattedAmountLabel {
        align-items: center;
        display: flex;
        font-family: var(--font-regular);
        font-size: 11px;
        line-height: 21px;

        .questionMark {
          height: 10px;
          margin: 1px 1px 0 2px;
          width: 10px;

          :global {
            .SVGInline {
              align-items: center;
              display: flex;
              height: 100%;
              justify-content: center;
              width: 100%;

              svg {
                height: 10px;
                width: 10px;

                path {
                  fill: var(
                    --theme-staking-stake-pool-tooltip-table-title-color
                  );
                  opacity: 0.3;
                }
              }
            }
          }

          &:hover {
            :global {
              .SVGInline {
                svg {
                  path {
                    opacity: 0.5;
                  }
                }
              }
            }
          }
        }
      }

      .unformattedAmount {
        font-family: var(--font-bold);
        font-size: 11px;
        line-height: 21px;
        padding-left: 4px;
        padding-right: 8px;
      }
    }
  }

  .assetToken {
    margin-top: -2px;
  }

  .amountFeesWrapper {
    align-items: center;
    background-color: var(--theme-staking-stake-pool-grey-bg-color);
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    height: 21px;
    justify-content: flex-end;
    max-width: 250px;
    padding: 3px 9px;

    .amountLabel,
    .feesLabel {
      line-height: 1.38;
    }

    .amount {
      font-size: 11px;
      font-weight: bold;
      line-height: 1.36;
      margin-left: initial;
    }

    .fees {
      color: var(--theme-send-confirmation-dialog-send-values-color);
      line-height: 1.38;
      margin-top: 8px;
      user-select: text;
      word-break: break-word;
    }

    .fees {
      opacity: 0.5;
    }
  }

  .fees {
    color: var(--theme-send-confirmation-dialog-send-values-color);
    line-height: 1.38;
    margin-top: 8px;
    user-select: text;
    word-break: break-word;
  }

  .totalAmountLabel {
    line-height: 1.38;
  }

  .totalAmount {
    color: var(--theme-send-confirmation-dialog-send-values-color);
    line-height: 1.38;
    margin-top: 6px;
    user-select: text;
    word-break: break-word;
  }

  .passphrase {
    margin-top: 20px;
  }

  .hardwareWalletStatusWrapper {
    margin-top: 20px;
    max-width: 640px;
    width: 100%;
  }

  .error {
    @include error-message;
    margin-top: 27px;
    text-align: center;
  }

  .flightCandidateWarning {
    margin-top: 20px;

    p {
      color: var(--theme-send-confirmation-dialog-send-values-color);
      font-family: var(--font-regular);
      line-height: 1.23;
      margin-bottom: 20px;

      b {
        font-family: var(--font-bold);
      }
    }

    em {
      color: var(--theme-send-confirmation-dialog-send-values-color);
      font-family: var(--font-light);
    }

    > div {
      :global {
        .SimpleCheckbox_check {
          border-color: var(--theme-send-confirmation-dialog-send-values-color);
        }

        .SimpleCheckbox_checked {
          background-color: var(
            --theme-send-confirmation-dialog-send-values-color
          );
        }
      }
    }
  }

  :global {
    .LoadingSpinner_component {
      .LoadingSpinner_icon {
        svg {
          path {
            fill: var(
              --theme-button-attention-delete-text-color-disabled
            ) !important;
          }
        }
      }
    }
  }
}
