@import '../../../themes/mixins/loading-spinner';
@import '../../../themes/mixins/error-message';
@import '../../../themes/mixins/link';

.instructionsContentWrapper {
  color: var(--theme-dialog-text-color);
  font-family: var(--font-light);

  .subtitle {
    line-height: 1.38;
  }

  .subtitle2 {
    line-height: 1.38;
    font-family: var(--font-medium);
  }

  .instructionsList {
    border-top: 1px solid var(--theme-dialog-border-color);
    margin-top: 20px;

    .link,
    .instructionsListLabel {
      font-weight: 500;
      font-family: var(--font-medium);
      margin-top: 20px;
    }

    .link {
      @include link(--theme-paper-wallet-create-certificate-dialog-explorer-link-color);
    }

    ul {
      list-style: initial;
      margin: 11px 0 0 20px;
    }

    li {
      line-height: 1.38;
      margin-bottom: 6px;
    }
  }

  .printingInstructions {
    border-top: 1px solid var(--theme-dialog-border-color);
    margin-top: 20px;
    padding-bottom: 0;
    padding-top: 20px;
    line-height: 1.38;

    strong {
      font-family: var(--font-medium);
    }
  }
}

.error {
  @include error-message;
  margin-top: 20px;
  text-align: center;
}

.submitButtonSpinning {
  box-shadow: none !important;
  @include loading-spinner('../../../assets/images/spinner-light.svg');
}
