@import '../../../themes/mixins/loading-spinner';
.instructionsContentWrapper {
  color: var(--theme-instructions-text-color);
  font-family: var(--font-light);

  .subtitle {
    line-height: 1.38;
  }

  .instructionsList {
    border-top: 1px solid var(--theme-separation-border-color);
    margin-top: 20px;

    a,
    .instructionsListLabel {
      font-weight: 500;
      font-family: var(--font-medium);
      margin-top: 20px;
    }

    ul {
      list-style: initial;
      margin: 11px 0 0 20px;
    }

    li {
      line-height: 1.38;
      margin-bottom: 6px;
    }

    a {
      color: var(--theme-paper-wallet-create-certificate-dialog-explorer-link-color);
    }

  }
}
.submitButtonSpinning {
  @include loading-spinner("../../../assets/images/spinner-light.svg");
}
