@import '../../../themes/mixins/loading-spinner';
@import '../../../themes/mixins/place-form-field-error-below-input';

.component {
  .passwordChoiceContentWrapper {
    color: var(--theme-instructions-text-color);

    .subtitle,
    .passwordComplexityText {
      font-family: var(--font-light);
      line-height: 1.38;
    }

    .content {
      border-top: 1px solid var(--theme-separation-border-color);
      margin-top: 20px;

      .passwordComplexityText {
        margin: 20px 0;
      }

      .setPasswordWrapper {
        border-bottom: 1px solid var(--theme-separation-border-color);
        display: flex;
        justify-content: space-between;
        margin: 0 -15px;
        padding-bottom: 20px;

        @include place-form-field-error-below-input;

        .passwordWrapper,
        .repeatPasswordWrapper {
          margin: 0 15px;
          position: relative;
          width: 50%;
        }
      }

      .checkbox {
        margin-top: 20px;
      }

      .passwordVisibilityToggler {
        bottom: 15px;
        height: 49px;
        opacity: 0.5;
        position: absolute;
        right: 0;
        top: 32px;
        width: 40px;

        svg > path {
          fill: var(--theme-password-toggler-color);
        }

        &:hover {
          svg > path {
            opacity: 1;
          }
        }

        svg {
          height: 19px;
          left: 10px;
          position: absolute;
          top: 15px;
          width: 19px;
        }

        &:hover {
          cursor: pointer;
        }
      }

      :global {
        input {
          padding-right: 40px;
        }
      }

      strong {
        font-weight: 500;
      }
    }
  }
}

.submitButtonSpinning {
  @include loading-spinner("../../../assets/images/spinner-light.svg");
}
