.printContentWrapper {
  color: var(--theme-instructions-text-color);

  .subtitle {
    font-family: var(--font-light);
    line-height: 1.38;
  }

  .content {
    margin-top: 20px;

    .checkbox {
      margin-top: 20px;
    }
  }
}
