.printContentWrapper {
  color: var(--theme-dialog-text-color);

  .subtitle,
  .info {
    font-family: var(--font-light);
    line-height: 1.38;
    margin-bottom: 20px;
  }

  .info {
    font-weight: bold;
  }

  .content {
    .checkbox {
      margin-top: 20px;
    }
  }
}
