.securingPasswordContentWrapper {
  color: var(--theme-instructions-text-color);

  .infoLabel {
    line-height: 1.38;
    font-family: var(--font-light);
  }

  .content {
    .recoveryPhrase {
      background-color: var(--theme-separation-border-color);
      border-radius: 2px;
      font-family: var(--font-medium);
      font-size: 16px;
      line-height: 1.38;
      margin: 20px 0;
      min-height: 50px;
      padding: 14px;
      text-align: center;
      word-spacing: 2px;
    }

    .paperWalletImageWrapper {
      margin-top: 30px;
      text-align: right;

      img {
        height: 276.5px;
        pointer-events: none;
        width: 502px;
      }
    }

    .securingPasswordConfirmation {
      margin-top: 30px;
    }
  }
}
