.terms {
  color: var(--theme-terms-of-use-text-color);
  text-align: justify;

  h1, h2 {
    font-family: var(--font-medium);
    font-size: 19px;
    margin-bottom: 11px;
  }

  h2 {
    margin-top: 22px;
  }

  ul {
    list-style: disc;
    margin-left: 20px;
  }

  p, li {
    font-family: var(--font-regular);
    line-height: 1.38;
    margin-bottom: 11px;

    strong {
      font-weight: 500;
    }
  }
}
