@import '../../votingConfig';

.component {
  text-align: center;

  .heading {
    @extend %accentText;
    font-size: 19px;
    margin-bottom: 14px;
    text-transform: uppercase;
  }

  .subtitle {
    @extend %regularText;
    font-size: 14px;
    margin-bottom: 14px;
    text-transform: uppercase;
  }

  .votingRegistrationStepsIndicatorWrapper {
    margin: auto;
    width: 450px;

    .stepIndicatorLabel {
      color: var(
        --theme-voting-registration-steps-activation-steps-indicator-color
      );
      font-family: var(--font-medium);
      font-size: 12px;
      font-weight: 500;
      line-height: 1.83;
      margin-bottom: 10px;
      text-align: center;
    }
  }

  .container {
    font-family: var(--font-regular);
    text-align: center;
  }
  .content {
    font-size: 16px;
    line-height: 1.38;
    margin-bottom: 24px;
    margin-top: 20px;
    text-align: left;
  }
}
