.component {
  background-color: var(--theme-block-consolidation-background-color);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 20;

  .learnMoreButton {
    background-color: var(--theme-block-consolidation-button-background-color);
    border: solid 1px var(--theme-block-consolidation-button-border-color);

    .externalLinkIcon {
      display: inline-block;
      margin-right: 10px;
      width: 12px;
      g {
        stroke: var(--theme-block-consolidation-button-icon-color);
      }
    }

    &:not(.disabled):hover {
      background-color: var(
        --theme-block-consolidation-button-background-color-hover
      );
      border: none;
      p {
        color: var(--theme-block-consolidation-button-text-color-hover);
      }
      .externalLinkIcon {
        g {
          stroke: var(--theme-block-consolidation-button-icon-color-hover);
        }
      }
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: overlay;
  position: relative;

  @media (max-height: 650px) {
    justify-content: start;
  }
}

.content {
  border-radius: 4px;
  font-family: var(--font-regular);
  margin: 20px;
  padding: 20px;
  text-align: center;

  h1 {
    color: var(--theme-block-consolidation-title-text-color);
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 14px;
  }

  p {
    color: var(--theme-block-consolidation-text-color);
    font-size: 16px;
  }
}
.description {
  line-height: 1.38;
  margin: 0 auto 8px;
  max-width: 610px;

  b {
    font-family: var(--font-medium);
    color: var(--theme-block-consolidation-text-highlight-color);
  }

  &:last-of-type {
    margin-bottom: 40px;
  }
}
.descriptionNoCurrentEpoch {
  b {
    display: none;
  }
}

.epochs {
  height: 149px;
  margin: 0 auto 60px;
  position: relative;
  width: 620px;

  p {
    color: var(--theme-block-consolidation-epochs-text-color);
    font-size: 14px;
    line-height: 1.29;
    position: absolute;
    right: 25px;
    top: 54px;
    width: 118px;

    em {
      font-size: 16px;
    }

    b {
      font-size: 18px;
      font-weight: 600;
    }
  }

  img {
    width: 100%;
  }
}
.epochsNoCurrentEpoch {
  em,
  b:nth-of-type(2) {
    display: none;
  }
}

.indicator {
  margin-bottom: 53px;
  position: relative;

  p {
    font-size: 14px;
    color: var(--theme-block-consolidation-indicator-text-color);
  }
}

.indicatorContainer {
  background-color: var(
    --theme-block-consolidation-indicator-container-background-color
  );
  border-radius: 5px;
  height: 24px;
  margin: 0 auto;
  position: relative;
  width: 600px;
}
.indicatorContainerNoCurrentEpochs {
  background: repeating-linear-gradient(
    -44.46deg,
    var(--theme-block-consolidation-stripe-dark-1-background-color),
    var(--theme-block-consolidation-stripe-dark-1-background-color) 10px,
    var(--theme-block-consolidation-stripe-dark-2-background-color) 10px,
    var(--theme-block-consolidation-stripe-dark-2-background-color) 20px
  );
  animation: indicatorContainerNoCurrentEpochs 0.5s linear infinite;
}

.indicatorEpochsSynced {
  background: repeating-linear-gradient(
    -63deg,
    var(--theme-block-consolidation-stripe-dark-1-background-color),
    var(--theme-block-consolidation-stripe-dark-1-background-color) 10px,
    var(--theme-block-consolidation-stripe-dark-2-background-color) 10px,
    var(--theme-block-consolidation-stripe-dark-2-background-color) 20px
  );
  border-radius: 5px;
  height: 24px;
  position: relative;

  p {
    position: absolute;
    bottom: -18px;
    white-space: nowrap;
  }
}

.indicatorEpochsConsolidatedContainer {
  padding-right: 80px;
  position: absolute;
  top: 0;
  width: 100%;
}

.indicatorEpochsConsolidated {
  background: repeating-linear-gradient(
    -63deg,
    var(--theme-block-consolidation-stripe-light-1-background-color),
    var(--theme-block-consolidation-stripe-light-1-background-color) 10px,
    var(--theme-block-consolidation-stripe-light-2-background-color) 10px,
    var(--theme-block-consolidation-stripe-light-2-background-color) 20px
  );
  border-radius: 5px;
  height: 24px;
  position: relative;

  p {
    line-height: 1.43;
    position: absolute;
    right: 8px;
    top: -23px;
    white-space: nowrap;
  }
}

.zeroEpoch {
  line-height: 24px;
  margin-right: 15px;
  position: absolute;
  right: 100%;
  white-space: nowrap;
}

.fullEpoch {
  left: 100%;
  line-height: 24px;
  margin-left: 15px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.indicatorEpochsBehind {
  bottom: 0;
  height: 47px;
  position: absolute;
  right: 80px;
  width: 1px;
  z-index: 1;
  background: linear-gradient(
    to top,
    var(--theme-block-consolidation-indicator-epochs-behind-background-color-1),
    var(--theme-block-consolidation-indicator-epochs-behind-background-color-2)
  );

  p {
    left: 8px;
    line-height: 1.43;
    position: absolute;
    top: 0;
    white-space: nowrap;
  }
}

.closeButton {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 1;

  span {
    height: 44px;
    width: 44px;

    &:hover {
      border-radius: 50%;
      background-color: var(--theme-about-window-icon-close-hover-background);
    }
  }

  svg {
    height: 12px;
    margin-top: 16px;
    width: 12px;

    polygon {
      fill: var(--theme-about-window-icon-close-button-color);
    }
  }
}

:global {
  @keyframes indicatorContainerNoCurrentEpochs {
    0% {
      background-position-x: 0;
    }
    100% {
      background-position-x: 27px;
    }
  }
}
