@import '../../themes/mixins/link';

.component {
  align-items: center;
  background: var(--theme-internet-offline-window-background-color);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 50px 64px;
  width: 100%;
}

.disconnectedIconContainer {
  width: 306px;

  .disconnectedIcon {
    width: 100%;

    svg > g {
      & > path:last-child {
        fill: var(--theme-internet-offline-window-text-color);
      }

      circle,
      g,
      path {
        stroke: var(--theme-internet-offline-window-text-color);
      }
    }
  }
}

.disconnectedTitle {
  color: var(--theme-internet-offline-window-text-color);
  font-family: var(--font-regular);
  font-size: 20px;
  line-height: 1.2;
  margin-top: 36px;
}

.disconnectedDescription {
  color: var(--theme-internet-offline-window-description-color);
  font-family: var(--font-regular);
  font-size: 16px;
  line-height: 1.38;
  margin-top: 16px;
}

.disconnectedAction {
  margin-top: 30px;

  .checkAgainButton {
    background-color: var(
      --theme-internet-offline-window-button-background-color
    );
    border: 1px solid var(--theme-internet-offline-window-button-border-color);
    border-radius: 5px;
    color: var(--theme-internet-offline-window-button-text-color);
    height: 50px;
    width: 360px;

    :global {
      .SimpleLoadingSpinner_root {
        border-color: var(--theme-internet-offline-window-button-text-color)
          var(--theme-internet-offline-window-button-text-color) transparent
          transparent;
      }
    }

    &:not(.disabled):hover {
      background-color: var(
        --theme-internet-offline-window-button-background-color-hover
      );
      border-color: var(
        --theme-internet-offline-window-button-border-color-hover
      );
      color: var(--theme-internet-offline-window-button-text-color-hover);

      :global {
        .SimpleLoadingSpinner_root {
          border-color: var(
              --theme-internet-offline-window-button-text-color-hover
            )
            var(--theme-internet-offline-window-button-text-color-hover)
            transparent transparent;
        }
      }
    }

    &:not(.disabled):active {
      background-color: var(
        --theme-internet-offline-window-button-background-color-active
      );
      border-color: var(
        --theme-internet-offline-window-button-border-color-hover
      );
      color: var(--theme-internet-offline-window-button-text-color-hover);

      :global {
        .SimpleLoadingSpinner_root {
          border-color: var(
              --theme-internet-offline-window-button-text-color-hover
            )
            var(--theme-internet-offline-window-button-text-color-hover)
            transparent transparent;
        }
      }
    }
  }
}
