.component {
  align-items: center;
  background: #202225;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: var(--font-medium);
  font-size: 14px;
  line-height: 1.5;
  justify-content: space-between;
  padding: 30px;
  width: 100%;
}

.tables {
  color: #fff;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.table {
  width: calc(50% - 15px);

  th {
    text-align: left;
  }

  td {
    &.red {
      color: #cd3100;
    }

    &.green {
      color: #1cac63;
    }

    & + td {
      text-align: right;
    }
  }

  button {
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.5;
    position: relative;

    &::after {
      border-top: 1px solid #fff;
      bottom: 1px;
      content: '';
      left: 0;
      position: absolute;
      right: 1px;
    }

    &:disabled {
      cursor: default;

      &::after {
        display: none;
      }
    }
  }

  hr {
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
  }
}

.closeButton {
  cursor: pointer;
  position: fixed;
  right: 20px;
  top: 20px;

  svg {
    width: 16px;
    height: 16px;
    polygon {
      fill: #fff;
    }
  }
}
