.component {
  align-items: center;
  background: var(--theme-connecting-background-color);
  color: var(--theme-connecting-text-color);
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: var(--font-medium);
  font-size: 14px;
  line-height: 1.5;
  justify-content: center;
  width: 100%;
}

.table {
  width: 50%;

  th {
    padding-top: 30px;
    text-align: left;
  }

  td {
    &.red {
      color: #cd3100;
    }

    &.green {
      color: #1cac63;
    }

    & + td {
      text-align: right;
    }
  }

  td + td {
    text-align: right;
  }

  button {
    color: var(--theme-connecting-text-color);
    cursor: pointer;
    font-size: 14px;
    line-height: 1.5;
    position: relative;

    &::after {
      border-top: 1px solid var(--theme-connecting-text-color);
      bottom: 1px;
      content: '';
      left: 0;
      position: absolute;
      right: 1px;
    }

    &:disabled {
      cursor: default;

      &::after {
        display: none;
      }
    }
  }

  hr {
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
  }
}
