@import '../stakingConfig';

.component {
  @extend %regularText;
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  p {
    margin-bottom: 20px;
    opacity: 0.5;
  }
}
