.component {
  border-radius: 5.8px;
  height: 71px;
  width: 80px;

  &.retiring {
    background: var(
      --theme-staking-stake-pool-retirement-background-color
    ) !important;
  }

  &.alreadyDelegated {
    opacity: 0.3;
  }
}

.selectPoolBlockPlaceholder {
  border: 2px solid
    var(--theme-delegation-steps-choose-stake-pool-thumb-border-color);
  border-style: dashed;
  .icon {
    margin-top: 24.5px;
    text-align: center;
    svg {
      height: 16px;
      path {
        stroke: var(
          --theme-delegation-steps-choose-stake-pool-checkmark-icon-color
        );
      }
    }
  }
}

.selectedPoolBlock {
  border: 1px solid
    var(--theme-delegation-steps-choose-stake-pool-thumb-border-color);
  .ticker {
    color: var(
      --theme-delegation-steps-choose-stake-pool-selected-ticker-color
    );
    font-family: var(--font-semibold);
    font-size: 14px;
    letter-spacing: -0.5px;
    line-height: 1.57;
    margin-top: 8px;
    text-align: center;
  }

  .icon {
    margin-top: 10px;
    text-align: center;
    svg {
      vertical-align: top;
      width: 15.5px;
      path {
        stroke: var(
          --theme-delegation-steps-choose-stake-pool-selected-checkmark-icon-color
        );
      }
    }
  }

  &.retiring {
    .icon {
      margin-top: 5px;
      svg {
        width: 20px;
        path {
          stroke: var(--theme-staking-stake-pool-retirement-background-color);
        }
      }
    }
  }
}

.noDataDashIcon {
  path {
    fill: var(--theme-staking-stake-pool-grey-color) !important;
    opacity: 1 !important;
    stroke: var(--theme-staking-stake-pool-grey-color) !important;
  }
}
