.component {
  height: 69px;
  padding: 6px 0 0;
  position: relative;
  width: 78px;

  &.hideSaturation {
    padding-top: 11px;

    .ticker {
      margin-bottom: 5px;
    }
  }

  .ticker {
    align-items: center;
    color: var(--theme-staking-stake-pool-ticker-color);
    display: flex;
    font-family: var(--font-semibold);
    font-size: 14px;
    height: 22px;
    justify-content: center;
    letter-spacing: -0.5px;
    line-height: 1;
    margin-bottom: 2px;
    text-align: center;
  }

  .id {
    align-items: center;
    background-color: var(
      --theme-staking-stake-pool-tooltip-neutral-background-color
    );
    border-radius: 3px;
    color: var(--theme-staking-stake-pool-ticker-color);
    display: flex;
    font-family: var(--font-semibold);
    font-size: 11px;
    height: 22px;
    justify-content: center;
    line-height: 1.27;
    margin: 0 3.5px 2px;
    text-align: center;
  }

  .ranking {
    font-size: 20px;
    font-weight: bold;
    height: 22px;
    line-height: 100%;
    position: relative;
    text-align: center;

    sup {
      font-family: Verdana;
      font-size: 14px;
      margin-left: -1px;
      position: absolute;
      top: -2px;
    }
  }

  .rewards {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.5px;
    line-height: 1.57;
    padding: 3px 0;
    position: relative;
    text-align: center;

    .adaIcon {
      svg {
        height: 11px;
        margin-left: 3px;
        width: 10px;

        & > g {
          & > g {
            stroke: var(--theme-staking-wallet-row-ticker-ada-icon-fill-color);
          }
        }
      }
    }
  }

  .noDataDash {
    align-items: center;
    display: flex;
    height: 27px;
    justify-content: center;

    :global {
      .SVGInline {
        align-items: center;
        display: flex;
        justify-content: center;

        svg {
          height: 3px;
          width: 12px;

          path {
            fill: var(--theme-staking-stake-pool-grey-color) !important;
            opacity: 1 !important;
          }
        }
      }
    }
  }

  .clock {
    background: var(--theme-staking-stake-pool-retirement-background-color);
    border-radius: 0 2px 0 4px;
    height: 18px;
    position: absolute;
    right: 0;
    top: 0;
    width: 18px;
  }

  .clockIcon {
    display: block;
    line-height: 0;
    margin: 1px 0 0;
    padding: 0;
    text-align: center;

    svg {
      height: 15px;
      width: 15px;
    }
  }

  .colorBand {
    border-radius: 0 0 4px 4px;
    bottom: 0;
    display: block;
    height: 5px;
    left: 0;
    position: absolute;
    width: 100%;
  }

  .greyColorBand {
    background: var(--theme-staking-stake-pool-grey-color);
    border-radius: 0 0 4px 4px;
    bottom: 0;
    display: block;
    height: 5px;
    left: 0;
    position: absolute;
    width: 100%;
  }

  .saturationBar {
    background: var(--theme-staking-stake-pool-saturation-background-color);
    border-radius: 2px;
    height: 5px;
    margin: 2px auto 0;
    overflow: hidden;
    position: relative;
    width: 40px;

    span {
      border-radius: 2px;
      bottom: 0;
      height: inherit;
      left: 0;
      position: absolute;
      top: 0;
    }

    &.green span {
      background: var(--theme-staking-stake-pool-saturation-green-color);
    }

    &.orange span {
      background: var(--theme-staking-stake-pool-saturation-orange-color);
    }

    &.red span {
      background: var(--theme-staking-stake-pool-saturation-red-color);
    }

    &.yellow span {
      background: var(--theme-staking-stake-pool-saturation-yellow-color);
    }
  }
}
