.component {
  position: relative;

  .content {
    border-radius: 4px;

    &.disabled {
      opacity: 0.3;
    }

    &.isHighlighted {
      box-shadow: 0 0 4px 2px var(--theme-staking-stake-pool-glow-color);
    }

    &.shouldHighlightOnHover:hover {
      @extend .isHighlighted;
    }

    &:not(.isSelected) {
      background-color: var(--theme-staking-stake-pool-background-color);
      border: 1px solid var(--theme-staking-stake-pool-border-color);
      cursor: pointer;
      height: 71px;
      width: 80px;
    }
  }
}
