.root {
  margin-left: 230px;
  top: 0;
  transition: opacity 0.25s;
  transition-delay: 0s;

  .tippy-arrow {
    &:before,
    &:after {
      margin-left: 45px;
    }
  }

  &:hover {
    transition-delay: 0.25s;
  }
}
