.root {
  display: flex;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.columnIcons {
  margin-right: 12px;
}

.columnMessages {
  margin-right: 60px;
  text-align: left;
}

.cell {
  align-items: center;
  color: var(--theme-connecting-sync-progress-color);
  display: flex;
  font-size: 18px;
  height: 28px;
  line-height: 1.22;
  margin-bottom: 14px;
}

.cell:last-child {
  margin: 0;
}

.cellTextRight {
  justify-content: flex-end;
}

.faded {
  opacity: 0.5;
}

.icon {
  font-size: 28px;

  svg {
    fill: currentColor;
    height: 1em;
    position: relative;
    top: 0.125em;
    width: 1em;
  }
}

.iconRotating {
  :global {
    animation: loading-spin 1.2s linear infinite;
  }
}

.iconDescription {
  opacity: 0.3;

  &:hover {
    opacity: 0.5;
  }
}
