@import '../votingConfig';

.component {
  flex: 1 0 0;
  padding: 20px;
}

.heading {
  @extend %accentText;
  font-family: var(--font-semibold);
  font-size: 18px;
  letter-spacing: 2px;
  margin-bottom: 14px;
  text-align: center;
  text-transform: uppercase;
}

.info {
  @extend %regularText;
  p {
    display: block;
    margin-bottom: 1em;
  }
}
