.root {
  background-color: var(--theme-mnemonic-background-color);
  font-size: 16px !important;
  margin: 10px 0;
  width: 130px !important;

  &.disabled {
    cursor: default !important;
    opacity: 0.3;
  }

  &:not(.disabled) {
    &:active {
      cursor: pointer;
      &:hover {
        background-color: var(
          --theme-mnemonic-background-color-hover
        ) !important;
      }
    }
  }
}
