.root {
  background-color: var(--theme-mnemonic-background-color);
  font-size: 16px !important;
  margin: 5px 0;
  width: 187px !important;

  &.disabled {
    cursor: default !important;
    opacity: 0.3;
  }
}
