@import '../../../themes/mixins/loading-spinner';

.words {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.checkbox {
  margin-top: 30px;

  & + .checkbox {
    margin-top: 20px;
  }
}

.component {
  :global {
    .WalletRecoveryInstructions_component {
      text-align: center;
    }
  }

  :global {
    .LoadingSpinner_component {
      .LoadingSpinner_icon {
        svg {
          path {
            fill: var(--theme-button-primary-text-color-disabled) !important;
          }
        }
      }
    }
  }
}

.isBold {
  label {
    font-family: var(--font-medium);
  }
}
