.component {
  background-color: var(--theme-backup-mnemonic-background-color);
  border-radius: 2px;
  color: var(--theme-dialog-text-color);
  font-family: var(--font-medium);
  font-size: 16px;
  line-height: 1.38;
  min-height: 50px;
  padding: 14px;
  text-align: center;
  word-spacing: 2px;
}
