@import '../../../themes/mixins/loading-spinner';

.words {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}

.checkbox {
  margin-top: 30px;

  & + .checkbox {
    margin-top: 20px;
  }
}

.component {
  :global {
    .WalletRecoveryInstructions_component {
      text-align: center;
    }
  }
}

.isSubmitting {
  box-shadow: none !important;
  @include loading-spinner('../../../assets/images/spinner-light.svg');
}
