.component {
  position: absolute;
  width: 100%;
  z-index: 9999;
  display: block;
}
h2 {
  color: rgb(68, 68, 68);
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin-right: 5px;
}
.component * {
  font-family: '.SFNSText-Regular', 'San Francisco', BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', 'Lucida Grande', 'Arial', sans-serif;
}
.content {
  background: #f2f2f2;
  box-shadow: 0 0 10px 5px black;
  padding: 10px;
}
.menuSlot {
  display: inline-block;
  margin-right: 10px;
  button {
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    font-size: 14px;
    margin-right: 5px;
    padding: 3px;
  }
}
.selected {
  background-color: rgba(0, 0, 0, 0.07);
  color: rgb(68, 68, 68);
}
