// ========= LAYOUT =========

.component {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: calc(100% - 40px);
  height: 30px;
  border-radius: 4px;
}

.label {
  font-size: 14px;
  font-family: var(--font-regular);
  display: block;
  overflow: visible;
}

.icon {
  margin-right: 10px;
  & > svg {
    max-height: 19px;
    max-width: 19px;
  }

  @media (max-width: 950px) {
    display: none;
  }
}

// ========= STATES =========

.activeIcon {
  path {
    fill: var(--theme-icon-nav-color-active);
  }
}

.normalIcon {
  path {
    fill: var(--theme-icon-nav-color);
  }
}

.normal {
  .container {
    color: var(--theme-nav-item-text-color);
  }

  &:hover {
    .container {
      background-color: var(--theme-nav-item-background-color-hover);
    }
    cursor: pointer;
  }
}

.active {
  .container {
    background-color: var(--theme-nav-item-background-color-active);
    color: var(--theme-nav-item-text-color-active);
  }

  &:hover {
    cursor: default;
  }
}
