.component {
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.navItem {
  height: 100%;
  width: percentage(1/5); // Update when adding new nav items!
  background-color: var(--theme-nav-item-background-color);
}
