.options {
  ul {
    li {
      background: var(--theme-nav-dropdown-item-background-color);
      border-radius: 4px;
      color: var(--theme-nav-dropdown-item-text-color);
      font-size: 14px;
      height: 29px;
      padding: 0 12px;
      text-align: right;
      &.highlightedOption {
        background-color: inherit;
      }
      &:hover {
        background-color: var(--theme-nav-dropdown-item-background-color-hover);
      }
      &.selectedOption {
        display: block;
        font-weight: 600;
        cursor: default;
        &:after {
          display: none;
        }
      }
      span {
        line-height: 29px;
        white-space: nowrap;
      }
      &:first-child {
        border-radius: 4px 4px 0 0;
      }
      &:last-child {
        border-radius: 0 0 4px 4px;
      }
    }
  }
}
