.component {
  display: inline-flex;
  min-width: 0;
  width: 100%;
  > span {
    min-width: 0;
  }
  :global {
    [data-tippy-root] {
      pointer-events: all !important;
    }
  }
}
.content {
  display: flex;
  height: 22px;
  min-width: 0;
  position: relative;
}
.fingerprint {
  background: var(--theme-widgets-asset-token-fingerprint-background-color);
  border-radius: 3px;
  color: var(--theme-widgets-asset-token-text-color);
  display: inline-flex;
  font-family: var(--font-medium);
  font-size: 11px;
  font-weight: 500;
  line-height: 1.27;
  padding: 4px;
  white-space: nowrap;
}
.metadataName {
  color: var(--theme-widgets-asset-token-text-color);
  font-family: var(--font-light);
  font-size: 11px;
  line-height: 1.27;
  margin: 4px 0 4px 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.metadata {
  display: none;
}
.tooltipContent {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 9px 3px;
  user-select: text;
  .fingerprint {
    cursor: pointer;
    position: relative;
    .copyIcon {
      position: absolute;
      right: -18px;
      top: 5px;
    }
    &:hover {
      .copyIcon {
        opacity: 1;
      }
    }
  }
  dl {
    line-height: 1;
    width: 100%;
  }
  dt {
    display: inline-block;
    font-family: var(--font-medium);
    font-size: 12px;
    font-weight: 500;
    line-height: 1.33;
    text-align: right;
    white-space: nowrap;
    width: 67px;
  }
  dd {
    cursor: pointer;
    display: inline-flex;
    font-family: var(--font-light);
    font-size: 12px;
    line-height: 1.33;
    margin: 10px 0 0 10px;
    width: calc(100% - 87px);
    em {
      &:not(.singleline) {
        max-height: 47px;
        overflow-wrap: break-word;
        overflow-x: hidden;
        overflow-y: auto;
      }
      &.singleline {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .copyIcon {
      margin: 3px 0 0 10px;
    }
    &:hover {
      .copyIcon {
        opacity: 1;
      }
    }
  }
  .assetItem {
    cursor: pointer;
    display: inline-flex;
    width: 100%;
  }
  .copyIcon {
    height: 10px;
    line-height: 0;
    opacity: 0;
    transition: opacity 0s;
    svg {
      height: 10px;
      width: 8px;
    }
    g {
      fill: var(--theme-widgets-asset-token-text-color);
    }
    svg > path {
      stroke: var(--theme-widgets-asset-token-text-color);
    }
  }
  .copiedIcon {
    opacity: 1;
  }
}
