.component {
  display: flex;
  position: relative;
  width: 100%;
}
.fingerprint {
  background: var(--theme-widgets-asset-token-background-color);
  border-radius: 3px;
  color: var(--theme-widgets-asset-token-text-color);
  display: inline-flex;
  font-family: var(--font-regular);
  font-size: 11px;
  font-weight: bold;
  line-height: 1.27;
  padding: 4px;
  white-space: nowrap;
}
.policyId {
  color: var(--theme-widgets-asset-token-text-color);
  font-family: var(--font-regular);
  font-size: 11px;
  line-height: 1.27;
  margin: 4px 0 4px 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.metadata {
  display: none;
}

.tooltipContent {
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  .fingerprint {
    margin-bottom: 10px;
  }
  dl {
    width: 100%;
  }
  dt {
    width: 67px;
    display: inline-block;
    font-family: var(--font-medium);
    font-size: 12px;
    line-height: 1.33;
    text-align: right;
    color: #5e6066;
  }
  dd {
    display: inline-flex;
    font-size: 12px;
    line-height: 1.33;
    margin: 0 0 0 10px;
    width: calc(100% - 87px);
    em {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
