.component {
  background-color: #5e6066;
  border-radius: 5px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.36);
  color: #fafbfc;
  cursor: pointer;
  font-size: 12px;
  left: 50%;
  line-height: 1.17;
  opacity: 0.98;
  padding: 6px 12px;
  position: fixed;
  text-align: center;
  top: 144px;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.25s ease-out, top 0.25s ease-out;
  z-index: 3;
  &.isActive {
    opacity: 1;
  }
}
