.component {
  align-items: center;
  background-color: var(--theme-dialog-big-button-background-color);
  border: solid 1px var(--theme-dialog-big-button-border-color);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  margin: 10px;
  padding: 20px;
}

.disabled {
  cursor: default;
  opacity: 0.3;
}

.icon {
  & > svg {
    height: 48px;
    path {
      fill: var(--theme-icon-add-wallet-dialog-big-button-color);
    }
  }
}

.label {
  color: var(--theme-dialog-big-button-label-color);
  font-family: var(--font-medium);
  font-size: 19px;
  line-height: 1.37;
  margin-top: 20px;
}

.description {
  color: var(--theme-dialog-big-button-description-color);
  font-family: var(--font-regular);
  font-size: 13px;
  height: 19px;
  line-height: 1.36;
}
