.component {
  background: var(--theme-bordered-box-background-color);
  border: var(--theme-bordered-box-border);
  border-radius: 4px;
  padding: 20px;
}
.fullHeight {
  height: 100%;
}
.fullInnerWidth {
  padding: 10px 0 0;
}
