@import '../staking/stakingConfig';

.timeLeftContainer {
  display: flex;
  justify-content: center;

  .timeLeft {
    background-color: var(--theme-staking-countdown-widget-background-color);
    display: flex;
    padding: 10px 20px;

    .fieldPanel {
      align-items: flex-end;
      display: flex;

      .left {
        width: 60px;

        .fieldLabel {
          align-items: center;
          color: var(--theme-staking-countdown-widget-field-label-color);
          display: flex;
          font-size: 12px;
          font-weight: 500;
          height: 22px;
          justify-content: center;
          opacity: 0.7;
          text-transform: uppercase;
        }
        .fieldValue {
          align-items: center;
          color: var(--theme-staking-countdown-widget-field-value-color);
          display: flex;
          font-size: 36px;
          font-weight: 500;
          height: 44px;
          justify-content: center;
        }
      }

      .right {
        align-items: center;
        display: flex;
        height: 44px;

        .delimeterIcon {
          height: 14px;
          width: 4px;

          svg {
            path {
              fill: var(
                --theme-staking-countdown-widget-delimeter-background-color
              );
            }
          }
        }
      }
    }
  }
}
