@import '../staking/stakingConfig';

.timeLeftContainer {
  display: flex;
  justify-content: center;

  .timeLeft {
    background-color: var(--theme-staking-countdown-widget-background-color);
    display: flex;
    padding: 10px 20px;

    .fieldPanel {
      align-items: flex-end;
      display: flex;

      .left {
        width: 60px;

        .fieldLabel {
          @extend %regularText;

          align-items: center;
          display: flex;
          font-size: 12px;
          height: 22px;
          justify-content: center;
          opacity: 0.7;
          text-transform: uppercase;
        }
        .fieldValue {
          @extend %accentText;

          align-items: center;
          display: flex;
          font-size: 36px;
          height: 44px;
          justify-content: center;
        }
      }

      .right {
        align-items: center;
        display: flex;
        height: 44px;
        opacity: 0.5;

        .fieldDelimeter {
          @extend %regularText;

          font-size: 28px;
        }
      }
    }
  }
}
