.overlay {
  background-color: var(--theme-wallet-import-background-color) !important;

  .modal {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    height: 100% !important;
    width: 100% !important;
  }
}
