.modal {
  background-color: var(--theme-dialog-set-wallet-password-background-color) !important;
  border-radius: 0 !important;
  bottom: 0;
  box-shadow: 0 5px 20px 0 var(--theme-dialog-set-wallet-password-box-shadow) !important;
  height: calc(100% - 85px);
  max-height: 100% !important;
  max-width: 100% !important;
  position: absolute;
  right: 0;
  width: calc(100% - 85px);
}
