.overlay {
  background-color: var(--theme-dialog-fullsize-background-color) !important;
  .modal {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    height: auto !important;
    max-width: 740px !important;
    width: 100% !important;
  }
  .dialogWrapper {
    position: static;
  }
  :global {
    // Background Color Transparent
    .AutocompleteOverrides_autocompleteContent,
    .SimpleInput_customValueBlock,
    .SimpleInput_customValueWrapper,
    .SimpleInput_input,
    .SimpleInput_input:focus,
    .SimpleInput_input:hover,
    .SimpleLink_root,
    .SimpleOptions_option {
      background-color: transparent !important;
    }
    // Background Color Darker
    .DialogCloseButton_component,
    .SimpleOptions_highlightedOption {
      background-color: var(
        --theme-dialog-fullsize-field-background-color
      ) !important;
    }
    // Background Opaque (se same as the normal background, without the opacity)
    .SimpleBubble_bubble {
      background-color: var(
        --theme-dialog-fullsize-background-color-opaque
      ) !important;
    }
    // Background Light
    .SelectOverrides_selectInput,
    .SelectOverrides_selectInput:hover {
      &:after {
        background-color: var(--theme-dialog-fullsize-text-color);
      }
    }
    // Text Title color
    .Dialog_title {
      color: var(--theme-dialog-fullsize-title-text-color);
    }
    // Text color default
    .Dialog_content,
    .Dialog_dialogWrapper,
    .SimpleCheckbox_label,
    .SimpleFormField_label,
    .SimpleInput_input,
    .SimpleInput_input::placeholder,
    .SimpleInput_input:focus,
    .SimpleInput_input:hover,
    .SimpleLink_root {
      color: var(--theme-dialog-fullsize-text-color);
    }
    // Text color highlight
    .SimpleAutocomplete_autocompleteContent input,
    .SimpleOptions_option,
    .SimpleLink_root {
      color: var(--theme-dialog-fullsize-text-highlight-color);
      &:after {
        background-color: var(
          --theme-dialog-fullsize-text-highlight-color
        ) !important;
      }
    }
    // Border Color
    .AutocompleteOverrides_autocompleteContent,
    .SelectOverrides_selectInput input,
    .SimpleInput_customValueBlock,
    .SimpleInput_customValueWrapper .SimpleInput_input,
    .SimpleInput_input:focus,
    .SimpleInput_input:hover,
    .SimpleLink_root {
      border-color: var(--theme-dialog-fullsize-text-color) !important;
    }
    .Dialog_dialogWrapper {
      position: static;
    }
    .DialogCloseButton_component {
      border-radius: 50%;
      height: 44px;
      opacity: 0.5;
      right: 10px;
      top: 10px;
      width: 44px;
      z-index: 999;
      &:hover {
        opacity: 1;
      }
    }
    // SVG Fill color
    .DialogCloseButton_component,
    .DialogCloseButton_component:hover,
    .DialogCloseButton_disabled {
      svg polygon {
        fill: var(--theme-dialog-fullsize-text-color);
      }
    }

    .CheckboxOverrides_check {
      background-color: transparent;
      border-color: var(--theme-splash-network-overlay-button-border-color);
      &:after {
        border-color: var(--theme-splash-network-overlay-button-border-color);
      }
      &.SimpleCheckbox_checked {
        background-color: var(
          --theme-splash-network-overlay-button-background-color-hover
        );
        &:after {
          border-color: var(--theme-dialog-fullsize-background-color);
        }
      }
    }
    .WalletsDropdownOption_label,
    .WalletsDropdownOption_detail {
      color: var(--theme-splash-network-overlay-button-text-color) !important;
      // &:placeholder {
      //   color: var(--theme-splash-network-overlay-button-text-color) !important;
      // }
    }
    button.primary {
      background-color: var(
        --theme-splash-network-overlay-button-background-color
      );
      border: solid 1px var(--theme-splash-network-overlay-button-border-color);
      color: var(--theme-splash-network-overlay-button-text-color);
      font-weight: 500;
      line-height: 1.36;
      margin: 0 auto;

      &:hover {
        background-color: var(
          --theme-splash-network-overlay-button-background-color-hover
        );
        border: none;
        color: var(--theme-splash-network-overlay-button-text-color-hover);
      }
      &:disabled {
        background-color: var(
          --theme-splash-network-overlay-button-background-color
        );
        border: solid 1px
          var(--theme-splash-network-overlay-button-border-color);
        color: var(--theme-splash-network-overlay-button-text-color);
        opacity: 0.3;
        &:hover {
          background-color: var(
            --theme-splash-network-overlay-button-background-color
          );
          border: solid 1px
            var(--theme-splash-network-overlay-button-border-color);
          color: var(--theme-splash-network-overlay-button-text-color);
        }
      }
    }
  }
}
