.dialogWrapper {
  color: var(--theme-dialog-title-color);
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
  width: 580px;

  & > .title {
    font-family: var(--font-medium);
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.39;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
  }

  & > .subtitle {
    font-family: var(--font-medium);
    font-size: 12px;
    font-weight: 500;
    line-height: 1.83;
    text-align: center;
  }

  & > .content {
    flex: 1;
    margin-right: -25px;
    overflow-x: hidden;
    overflow-y: overlay;
    padding-right: 25px;
    scroll-behavior: smooth;
  }

  & > .actions {
    display: flex;
    flex-shrink: 0;
    margin-top: 30px;

    button {
      width: 50%;

      &:only-child {
        margin: auto;
        width: 65%;
      }

      & + button {
        margin-left: 20px;
      }
    }
  }
}
