.root {
  background-color: var(--theme-button-flat-background-color);
  border-radius: 5px;
  color: var(--theme-button-flat-text-color);
  height: 36px;
  min-width: 160px;
  padding: 8.5px 32.5px;

  &.withIconAfter {
    &:after {
      background-color: var(--theme-button-flat-text-color);
    }
  }
}
