.root {
  background-color: var(--theme-button-flat-background-color);
  border-radius: 5px;
  color: var(--theme-button-flat-text-color);
  font-size: 14px;
  font-weight: 500;
  height: auto;
  line-height: 1.43;
  min-width: 160px;
  padding: 8.5px 32.5px;

  &.withIconAfter {
    &:after {
      background-color: var(--theme-button-flat-text-color);
    }
  }
}
