.component {
  margin: 0 40px;
  overflow: visible;

  &:hover {
    .info {
      opacity: 1;
    }
  }

  .icon {
    pointer-events: none;

    svg {
      height: 22px;
      width: 22px;

      path {
        fill: var(--theme-node-sync-icon-color);
      }
    }
  }

  &.syncing {
    .icon :global {
      svg {
        animation: loading-spin 1.5s linear;
        animation-iteration-count: infinite;
      }
    }
  }
}
