.component {
  background-color: var(--theme-notification-message-background-color);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.25);
  height: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  transition: all 200ms linear;
  width: 100%;
}

.show {
  height: 62px;
  padding: 9px 0;
}

.icon {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
  & > svg {
    height: 44px;
    width: 44px;
  }
}

.message {
  color: var(--theme-notification-message-text-color);
  display: inline-block;
  font-family: var(--font-regular);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 45px;
}
