.component {
  background-color: var(--theme-test-environment-label-background-color);
  border-radius: 4px 0 0 4px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.38);
  color: var(--theme-test-environment-label-text-color);
  font-family: var(--font-regular);
  font-size: 14px;
  height: 34px;
  line-height: 1.21;
  padding: 8px 50px 0 16px;
  position: absolute;
  right: 0;
}
