@import '../../../themes/mixins/buttons';
@import '../sidebarConfig';

.wallets {
  height: calc(100% - #{$sidebar-button-height});
  overflow-x: hidden;
  overflow-y: auto;
}

.addWalletButton {
  @include button;
  align-items: center;
  background-color: var(--theme-sidebar-menu-add-button-background-color-active);
  bottom: 0;
  color: var(--theme-sidebar-menu-add-button-text-color);
  display: flex;
  height: $sidebar-button-height;
  position: absolute;
  width: $sidebar-width - $sidebar-minimized-category-width;

  &:hover {
    background-color: var(--theme-sidebar-menu-add-button-background-color-hover);
  }

  .icon {
    width: 25px;
    line-height: 12px;
    margin: 0 20px;
    & > svg {
      width: 25px;
      path {
        fill: var(--theme-icon-add-wallet-from-sidebar-color);
      }
    }
  }

  span {
    font-family: var(--font-regular);
    font-size: 18px;
  }
}
