.component {
  box-sizing: border-box;
  display: flex;
  padding: 10.5px 0;
  word-break: break-all;

  .addressId {
    flex-grow: 1;
    font-family: var(--font-mono);
    letter-spacing: -0.4px;
    margin-right: 32.5px;
    user-select: text;
  }
}

.usedWalletAddress {
  .addressId {
    opacity: 0.4;
  }
}
