$bg1: var(--theme-bordered-box-background-color);
$bg0: rgba(0, 0, 0, 0);

.component {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 10.5px 0;
  word-break: break-all;
  &.usedWalletAddress {
    .addressId,
    .shareIcon {
      opacity: 0.4;
    }
    .shareAddressLabel {
      opacity: 0.2;
    }
  }
}
.addressId {
  cursor: default;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  font-family: var(--font-mono);
  letter-spacing: -0.4px;
  margin-right: 4px;
  overflow: hidden;
  position: relative;
  user-select: none;
  white-space: nowrap;

  .addressElement {
    position: absolute;
    visibility: hidden;
  }
  .ellipsis {
    left: 50%;
    margin-left: -5px;
    position: absolute;
    text-align: center;
    width: 10px;
  }
  .addressIdBegin,
  .addressIdEnd {
    flex-shrink: 0;
    max-width: 50%;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    &:after {
      background: rgb(255, 255, 255);
      bottom: 0;
      position: absolute;
      top: 0;
      width: 15px;
    }
  }
  .addressIdBegin {
    &:after {
      background: linear-gradient(90deg, $bg0 0%, $bg1 50%);
      right: -1px;
    }
  }
  .addressIdEnd {
    direction: rtl;
    &:after {
      background: linear-gradient(90deg, $bg1 50%, $bg0 100%);
      left: -1px;
    }
  }
  &.ellipsisIsVisible {
    .addressIdBegin,
    .addressIdEnd {
      &:after {
        content: '';
      }
    }
  }
}
.addressActions {
  display: flex;
  flex-direction: row;
  height: 18px;
  justify-content: flex-end;
  width: 90px;
}
.invalidAddress {
  & > svg {
    height: 12px;
    width: 12px;
  }
}
.shareAddressButton {
  cursor: pointer;
  line-height: 1.36;
  margin-left: 22.5px;
  white-space: nowrap;
}
.shareIcon {
  & > svg {
    height: 12px;
    width: 12px;
    path {
      fill: var(--theme-icon-copy-address-color);
    }
  }
}
.shareAddressLabel {
  color: var(--theme-label-button-color);
  font-size: 14px;
  margin-left: 6px;
  opacity: 0.5;
}
.copyAddress {
  cursor: pointer;
  display: flex;
  white-space: nowrap;
}
.copyAddressLabel {
  color: var(--theme-label-button-color);
  font-size: 14px;
  margin-left: 6px;
  opacity: 0.5;
}
.copyIcon {
  cursor: pointer;
  margin-left: 4px;
  object-fit: contain;
  & > svg {
    height: 12px;
    width: 10px;
    path {
      fill: var(--theme-icon-copy-address-color);
    }
  }
}
