.component {
  flex: 1;
  flex-grow: 1;

  *::-webkit-scrollbar-button {
    display: none;
  }

  :global(.ReactVirtualized__Grid__innerScrollContainer) {
    overflow: visible !important;
  }
}

.list {
  overflow-x: hidden !important;
  padding-right: 2px;
  will-change: none !important;

  &:focus {
    outline: 0;
  }
}

.address {
  & + .address {
    border-top: 1px solid var(--theme-dialog-border-color);
  }
}
