.component {
  height: 100%;
  width: 100%;
  width: -webkit-calc(100% + 20px);

  :global(.ReactVirtualized__Grid__innerScrollContainer) {
    overflow: visible !important;
  }
}

.list {
  overflow-x: hidden !important;
  padding-right: 15px;
  will-change: none !important;
  &:focus {
    outline: 0;
  }
}

.address {
  & + .address {
    border-top: 1px solid var(--theme-dialog-border-color);
  }
}
