.component {
  width: 100%;
  width: -webkit-calc(100% + 20px);
  height: 100%;

  :global(.ReactVirtualized__Grid__innerScrollContainer) {
    overflow: visible !important;
  }
}

.list {
  overflow-y: scroll;
  will-change: none !important;
  &:focus {
    outline: 0;
  }
}

.address {
  & + .address {
    border-top: 1px solid var(--theme-dialog-border-color);
  }
}
