@import '../../../themes/mixins/loading-spinner';
@import '../../../themes/mixins/error-message';

.component {
  flex: 1;
  min-height: 500px;
  overflow-x: hidden;
  overflow-y: overlay;
  padding: 20px;
  &::-webkit-scrollbar-button {
    display: block;
    height: 7px;
  }
  @media (max-width: 1000px) {
    min-height: 600px;
  }
}

.copyIconBig {
  cursor: pointer;
  margin-left: 6px;
  object-fit: contain;
  & > svg {
    height: 14.5px;
    width: 11.5px;
    path {
      fill: var(--theme-icon-copy-address-color);
    }
  }
}

.qrCodeAndInstructions {
  display: flex;
  flex-direction: row;
  margin: 10px 0 24px;
  position: relative;
  width: 100%;

  .qrCode {
    align-items: flex-start;
    display: flex;
    margin-right: 20px;

    canvas {
      border: 4px solid var(--theme-receive-qr-code-background-color);
      box-sizing: content-box;
      margin-bottom: 1.5rem;
    }
  }

  .instructions {
    color: var(--theme-bordered-box-text-color);
    font-family: var(--font-regular);
    font-size: 14px;
    line-height: 19px;

    .hash {
      font-family: var(--font-mono);
      font-size: 19px;
      line-height: 23px;
      margin-bottom: 6px;
      user-select: text;
      word-break: break-all;
    }

    .usedHash {
      opacity: 0.4;
    }

    .hashLabel {
      margin-bottom: 6px;
      opacity: 0.5;
    }

    .instructionsText {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 12px;
      word-break: break-word;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.generatedAddresses {
  color: var(--theme-bordered-box-text-color);
  display: flex;
  flex: 1;
  flex-direction: column;
  font-family: var(--font-regular);
  font-size: 16px;
  line-height: 22px;
  width: 100%;

  h2 {
    font-family: var(--font-medium);
    padding-bottom: 10px;

    button {
      color: var(--theme-label-button-color);
      cursor: pointer;
      font-family: var(--font-regular);
      font-size: 16px;
      line-height: 22px;
      margin-left: 12px;
      opacity: 0.55;

      &:hover {
        text-decoration: underline;
      }
    }

    .hideUsed {
      float: right;
      height: 20px;
      text-align: right;
    }
  }
}
