
%actionButton {
  box-sizing: border-box;
  height: 33px;
  border-radius: 5px;
  font-family: var(--font-medium);
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  color: var(--theme-node-update-button-text-color);
  margin-left: 10px;
  max-width: 200px;
  cursor: pointer;
  padding: 0 30px;
  white-space: nowrap;
}

.component {
  background-color: var(--theme-node-update-background-color);
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  .acceptButton {
    @extend %actionButton;
    background-color: var(--theme-node-update-accept-button-background-color);
    &:hover {
      background-color: var(--theme-node-update-accept-button-background-color-hover) !important;
    }
    &:active {
      background-color: var(--theme-node-update-accept-button-background-color-active) !important;
    }
  }

  .denyButton {
    @extend %actionButton;
    background-color: var(--theme-node-update-deny-button-background-color);
    &:hover {
      background-color: var(--theme-node-update-deny-button-background-color-hover) !important;
    }
    &:active {
      background-color: var(--theme-node-update-deny-button-background-color-active) !important;
    }
  }
}

.titleBar {
  display: flex;
}

.title {
  height: 22px;
  font-family: var(--font-medium);
  font-size: 16px;
  line-height: 1.5;
  color: var(--theme-node-update-title-color);
  flex-grow: 1;
}

.message {
  margin-top: 12px;
  font-family: var(--font-regular);
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.5px;
  color: var(--theme-node-update-message-color);
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.toggleButton {
  align-self: flex-start;
  cursor: pointer;
  margin-top: 3px;
}

.arrow {
  & > svg {
    width: 16px;
    transform: rotate(180deg);
    polyline {
      stroke: var(--theme-icon-node-update-notification-arrow-color);
    }
  }
}

.arrowCollapsed {
  & > svg {
    width: 16px;
    polyline {
      stroke: var(--theme-icon-node-update-notification-arrow-color);
    }
  }
}
