%actionButton {
  box-sizing: border-box;
  height: 33px;
  border-radius: 5px;
  font-family: $font-medium;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  color: #fafbfc;
  margin-left: 10px;
  max-width: 200px;
  cursor: pointer;
  padding: 0 30px;
  white-space: nowrap;
}

.component {
  background-color: $color-primary-bg;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  .acceptButton {
    @extend %actionButton;
    background-color: #445b7c;
    &:hover {
      background-color: darken(#445b7c, 10%);
    }
  }

  .denyButton {
    @extend %actionButton;
    background-color: #afb9c6;
    margin-left: 10px;
    &:hover {
      background-color: darken(#afb9c6, 10%);
    }
  }
}

.titleBar {
  display: flex;
}

.title {
  height: 22px;
  font-family: $font-medium;
  font-size: 16px;
  line-height: 1.5;
  color: $text-color-accent;
  flex-grow: 1;
}

.message {
  margin-top: 12px;
  font-family: $font-regular;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.5px;
  color: $text-color-accent;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.toggleButton {
  align-self: flex-start;
  cursor: pointer;
  margin-top: 3px;
}

.arrow {
  width: 16px;
  transform: rotate(180deg);
}

.arrowCollapsed {
  width: 16px;
}
