.component {
  //position: relative;
  background-color: $color-primary-bg;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.titleBar {
  display: flex;
}

.title {
  height: 22px;
  font-family: $font-medium;
  font-size: 16px;
  line-height: 1.38;
  color: $text-color-accent;
  flex-grow: 1;
}

.message {
  margin-top: 12px;
  font-family: $font-regular;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.5px;
  color: $text-color-accent;
}

.actions {
  margin-top: 20px;
  margin-left: auto;
}

%actionButton {
  width: 120px;
  height: 33px;
  border-radius: 5px;
  font-family: $font-medium;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  color: #fafbfc;
  margin-left: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.acceptButton {
  @extend %actionButton;
  background-color: #445b7c;
  &:hover {
    background-color: darken(#445b7c, 10%);
  }
}

.denyButton {
  @extend %actionButton;
  background-color: #afb9c6;
  &:hover {
    background-color: darken(#afb9c6, 10%);
  }
}

.toggleButton {
  align-self: flex-start;
  cursor: pointer;
}

.arrow {
  width: 16px;
  transform: rotate(180deg);
}

.arrowCollapsed {
  width: 16px;
}
