.component {
  background-color: #f4eade;
}

.appBar {
  h1 {
    text-indent: -9999px;
    background: url("../../../assets/images/header-logo.svg") no-repeat center;
    background-size: 262px;
  }
}
