// CSS arrow box inspired from http://www.cssarrowplease.com/
@mixin arrow($direction, $bg-color, $border-color, $size) {
  &:after, &:before {
    @if $direction == down { top: 100%; }
    @if $direction == up { bottom: 100%; }
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-color: rgba($bg-color, 0);
    @if $direction == down { border-top-color: $bg-color; }
    @if $direction == up { border-bottom-color: $bg-color; }
    border-width: $size;
    margin-left: -$size;
  }

  &:before {
    border-color: rgba($border-color, 0);
    @if $direction == down { border-top-color: $border-color; }
    @if $direction == up { border-bottom-color: $border-color; }
    border-width: $size;
    margin-left: -$size;
  }
}
