.component {
  opacity: 0.9;
  box-shadow: 0 1.5px 5px 0 rgba(0, 0, 0, 0.18);
  background-color: #5e6066;
  border-radius: 4px;

  p {
    font-family: var(--font-regular);
    font-size: 12px;
    line-height: 1.17;
    text-align: center;
    color: #fafbfc;
    padding: 6px 12px;

    b {
      font-family: var(--font-bold);
    }
  }
}
