.component {
  display: flex;
  flex-direction: column;
  font-family: var(--font-regular);
  height: 100%;
  justify-content: space-between;
  min-height: 455px;
  padding: 30px;

  h1 {
    font-size: 16px;
    line-height: 1.38;
    margin-bottom: 14px;
  }

  > p {
    color: rgba(94, 96, 102, 0.7);
    font-family: var(--font-light);
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 20px;
  }

  > b {
    color: #5e6066;
    font-family: var(--font-regular);
  }
}

// CHARTS STYLES

.responsiveContainer {
  > div > svg {
    padding: 15px 15px 15px 0;
  }
}

.bar {
  path {
    fill: rgba(68, 91, 124, 0.5);
  }
}

.yAxisLabel {
  text,
  tspan {
    fill: rgba(194, 202, 212, 0.6);
    font-family: var(--font-regular);
    font-size: 10px;
    line-height: 1.3;
  }
}

.xAxisLabel {
  transform: rotate(90deg) translate(36px, 16px);
  transform-origin: right bottom;
  text,
  tspan {
    fill: rgba(194, 202, 212, 0.6);
    font-family: var(--font-regular);
    font-size: 10px;
    line-height: 1.3;
    transform: rotate(90deg);
  }
}
