.component {
  text {
    font-size: 10px;
    font-weight: 100;
    stroke: var(--theme-utxo-tick-text-color);
    font-family: var(--font-regular);
  }
}

.vertical {
  text {
    transform: rotate(90deg);
  }
}
