.actionBtn {
  background-color: rgba(45, 45, 45, 0.1);
  border: 1px solid #2d2d2d;
  border-radius: 5px;
  box-sizing: border-box;
  color: #2d2d2d;
  font-family: var(--font-medium);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.36;
  margin-bottom: 22.5px;
  min-height: 50px;
  width: 360px;
  &:hover {
    background-color: #2d2d2d;
    color: #fff;
    cursor: pointer;
  }
}

.closeButton {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 4;

  span {
    border-radius: 50%;
    height: 44px;
    width: 44px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.16);
      border-radius: 50%;
    }
  }

  svg {
    height: 12px;
    margin-top: 16px;
    width: 12px;

    polygon {
      fill: #2d2d2d;
    }
    path {
      stroke: #2d2d2d;
    }
  }
}

.component {
  align-items: center;
  background-color: rgba(255, 185, 35, 0.96);
  color: #2d2d2d;
  display: flex;
  flex-direction: column;
  font-family: var(--font-regular);
  height: 100vh;
  justify-content: center;
  position: fixed;
  top: 0px;
  width: 100vw;
  z-index: 20;
}

.content {
  background-color: rgba(45, 45, 45, 0.1);
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 30px;
  max-height: 464px;
  max-width: 600px;
  min-height: 100px;
  min-width: 600px;
  opacity: 0.8;
  overflow-y: scroll;
  padding: 12px 20px;
  &::-webkit-scrollbar-thumb {
    background-color: rgba(45, 45, 45, 0.3);
    min-height: 60px;
    outline: none;
    width: 4px;

    &:hover {
      background-color: rgba(45, 45, 45, 0.5);
    }
  }

  h1,
  h2 {
    font-family: var(--font-medium);
    font-size: 16px;
    margin-bottom: 11px;
  }

  h2 {
    margin-top: 13px;
  }

  ol,
  ul {
    list-style: disc;
    margin-left: 20px;
  }

  ol {
    list-style-type: decimal;
  }

  p,
  li {
    color: rgba(45, 45, 45, 0.7);
    font-family: var(--font-regular);
    font-size: 14px;
    line-height: 1.38;
    margin-bottom: 11px;

    strong {
      font-weight: 500;
    }
  }
  li {
    margin-bottom: 4px;
  }
  a {
    color: #2d2d2d;
  }
}

.counter {
  color: #2d2d2d;
  font-family: var(--font-medium);
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 30px;
  margin-top: 22.5px;
}

.date {
  font-family: var(--font-medium);
  font-size: 14px;
  line-height: 1.43;
  margin-bottom: 22.5px;
  opacity: 0.5;
}

.title {
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 3px;
  margin-top: 22.5px;
}
