.actionBtn {
  background-color: rgba(45, 45, 45, 0.1);
  border: 1px solid #2d2d2d;
  box-sizing: border-box;
  border-radius: 5px;
  color: #2d2d2d;
  font-family: var(--font-medium);
  font-size: 14px;
  font-weight: 500;
  height: 50px;
  line-height: 1.36;
  width: 360px;
  &:hover {
    background-color: #2d2d2d;
    color: #fff;
  }
}

.closeButton {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 4;

  span {
    border-radius: 50%;
    height: 44px;
    width: 44px;

    &:hover {
      background-color: var(--theme-about-window-icon-close-hover-background);
      border-radius: 50%;
    }
  }

  svg {
    height: 12px;
    margin-top: 16px;
    width: 12px;

    polygon {
      fill: #2d2d2d;
    }
    path {
      stroke: #2d2d2d;
    }
  }
}

.component {
  align-items: center;
  background-color: rgba(255, 185, 35, 0.96);
  color: #2d2d2d;
  display: flex;
  flex-direction: column;
  font-family: var(--font-regular);
  height: 100vh;
  justify-content: center;
  width: 100vw;
  z-index: 3;
}

.content {
  background-color: rgba(45, 45, 45, 0.1);
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 30px;
  max-height: 200px;
  max-width: 600px;
  padding: 12px 24px;
  overflow-y: scroll;
  opacity: 0.8;
  ::-webkit-scrollbar-thumb {
    background-color: rgba(45, 45, 45, 0.3);
    outline: none;

    &:hover {
      background-color: rgba(45, 45, 45, 0.5);
    }
  }
}

.date {
  font-family: var(--font-medium);
  font-size: 14px;
  line-height: 1.43;
  margin-bottom: 20px;
  opacity: 0.5;
}

.dismissBtn {
  background-color: transparent;
  border: 1px solid #fff;
  color: #2d2d2d;
  height: 30px;
  width: 300px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: rgba(193, 66, 66, 0.7);
  }
}

.icon {
  margin-bottom: 36px;
  object-fit: contain;
  transform: rotate(180deg);
  & > svg {
    height: 110px;
    width: 110px;
    path {
      fill: #2d2d2d;
    }
    path:nth-child(1) {
      opacity: 0.2;
    }
    path:nth-child(2) {
      opacity: 0.6;
    }
  }
}

.title {
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 3px;
}
