.component {
  align-items: center;
  background-color: rgba(193, 66, 66, 0.7);
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
  z-index: 3;
}

.content {
  color: #fff;
  margin-bottom: 1vh;
}

.date {
  color: #fff;
  margin-bottom: 1vh;
}

.dismissBtn {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  height: 30px;
  width: 300px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: rgba(193, 66, 66, 0.7);
  }
}

.title {
  color: #fff;
  font-size: 20px;
  margin-bottom: 1vh;
}
