.actionBtn {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid #fafbfc;
  border-radius: 5px;
  box-sizing: border-box;
  color: #fafbfc;
  font-family: var(--font-medium);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.36;
  min-height: 50px;
  width: 360px;
  &:hover {
    background-color: #fafbfc;
    color: #ab1700;
  }
}

.component {
  align-items: center;
  background-color: rgba(171, 23, 0, 0.94);
  color: #fafbfc;
  display: flex;
  flex-direction: column;
  font-family: var(--font-regular);
  height: 100vh;
  justify-content: center;
  position: fixed;
  top: 0px;
  width: 100vw;
  z-index: 20;
}

.content {
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 30px;
  max-height: 464px;
  max-width: 600px;
  min-width: 600px;
  opacity: 0.8;
  overflow-y: scroll;
  padding: 12px 24px;
  ::-webkit-scrollbar-thumb {
    background-color: rgba(250, 251, 252, 0.3);
    outline: none;
    width: 4px;

    &:hover {
      background-color: rgba(250, 251, 252, 0.5);
    }
  }

  h1,
  h2 {
    font-family: var(--font-medium);
    font-size: 19px;
    margin-bottom: 11px;
  }

  h2 {
    margin-top: 13px;
  }

  ol,
  ul {
    list-style: disc;
    margin-left: 20px;
  }
  ol {
    list-style-type: decimal;
  }

  p,
  li {
    color: rgba(250, 251, 252, 0.7);
    font-family: var(--font-regular);
    font-size: 14px;
    line-height: 1.38;
    margin-bottom: 11px;

    strong {
      font-weight: 500;
    }
  }
  li {
    margin-bottom: 4px;
  }
  a {
    color: #fafbfc;
  }
}

.date {
  font-family: var(--font-medium);
  font-size: 14px;
  line-height: 1.43;
  margin-bottom: 20px;
  opacity: 0.5;
}

.title {
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 3px;
}
