.sadWalletImage {
  display: block;
  margin-bottom: 30px;
  text-align: center;
  svg {
    height: 71px;
    stroke: var(--theme-delegation-steps-success-tada-color);
    path {
      stroke: var(--theme-delegation-steps-success-tada-color);
    }
    g {
      ellipse {
        &:nth-child(7),
        &:nth-child(8),
        &:nth-child(9) {
          stroke: var(--theme-delegation-steps-success-tada-color);
        }

        &:nth-child(11),
        &:nth-child(12),
        &:nth-child(13),
        &:nth-child(14),
        &:nth-child(15),
        &:nth-child(16) {
          fill: var(--theme-delegation-steps-success-tada-color);
        }
      }
    }
  }
}
.description {
  color: rgba(255, 255, 255, 0.7);
  font-family: var(--font-regular);
  font-size: 16px;
  line-height: 1.38;
  margin-bottom: 30px;
  text-align: center;
  b {
    color: #ffffff;
    font-family: var(--font-semibold);
  }
}
