.overlay {
  background-color: var(--theme-wallet-import-background-color) !important;

  .modal {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    height: auto !important;
    max-width: 740px !important;
    width: 100% !important;
  }

  .dialogWrapper {
    position: static;
  }

  :global {
    .Dialog_dialogWrapper {
      position: static;
    }
  }
}

.closeButton {
  background-color: var(--rp-autocomplete-bg-color, #fafbfc);
  border-radius: 50%;
  height: 44px;
  opacity: 0.5;
  right: 10px;
  top: 10px;
  width: 44px;
  z-index: 999;
  &:hover {
    opacity: 0.8;
  }
}
