.component {
  font-family: var(--font-regular);
  font-size: 16px;
  line-height: 1.38;
  text-align: center;

  b {
    color: var(--theme-dialog-fullsize-text-highlight-color);
    font-family: var(--font-bold);
  }

  .description {
    margin-top: 15px;
  }

  :global {
    .LoadingSpinner_component {
      margin: 0 auto 20px !important;

      .LoadingSpinner_icon {
        svg {
          path {
            fill: var(--theme-dialog-fullsize-text-color) !important;
          }
        }
      }
    }
  }
}

.closeButton {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 1;

  span {
    border-radius: 50%;
    height: 44px;
    width: 44px;

    &:hover {
      background-color: var(--theme-network-window-icon-close-hover-background);
    }
  }

  svg {
    height: 12px;
    margin-top: 16px;
    width: 12px;

    polygon {
      stroke: var(--theme-network-window-white-color);
    }

    path {
      stroke: var(--theme-network-window-white-color);
    }
  }
}
