@import '../../../themes/mixins/error-message';
.component {
  .description {
    color: var(--theme-staking-redeemItnRewards-text-color);
    font-family: var(--font-regular);
    font-size: 16px;
    height: 132px;
    line-height: 1.38;
    margin-bottom: 20px;
    text-align: center;
    width: 620px;
  }
  .recoveryPhrase {
    margin-bottom: 20px;
  }
  .walletsDropdown {
    margin-bottom: 20px;
  }
  hr {
    background-color: var(--theme-staking-redeemItnRewards-separator-color);
    border: none;
    height: 1px;
    margin-bottom: 17px;
  }
  .checkbox {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 30px;
    }
  }
}
.error {
  @include error-message;
  margin-bottom: 1rem;
  text-align: center;
}
