@import '../../../themes/mixins/error-message';

.component {
  .description {
    font-family: var(--font-regular);
    font-size: 16px;
    line-height: 1.38;
    margin-bottom: 20px;
    text-align: center;

    b {
      color: var(--theme-dialog-fullsize-text-highlight-color);
      font-family: var(--font-bold);
    }

    .itnLink {
      @extend .description;

      &:after {
      }
    }
  }

  .recoveryPhrase {
    margin-bottom: 20px;

    :global {
      .SimpleOptions_option {
        padding: 14px 20px;
      }
    }
  }

  .walletsDropdownWrapper {
    margin-bottom: 17px;
  }

  .walletsDropdown {
    &.disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  .checkbox {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 30px;
    }
  }
}

.errorMessage {
  color: var(--theme-delegation-steps-choose-wallet-error-message-light-color);
  font-size: 14px;
  letter-spacing: normal;
  margin-bottom: 10px;
  margin-top: -5px;

  span {
    color: var(--theme-delegation-steps-choose-wallet-error-message-color);
    font-family: var(--font-medium);
    font-weight: 500;
  }
}

.error {
  @include error-message;
  margin-bottom: 1rem;
  text-align: center;
}

:global {
  .DialogFullSizeOverride_overlay .DialogCloseButton_component {
    background-color: transparent !important;
    opacity: 1;

    &:hover {
      background-color: var(
        --theme-dialog-fullsize-field-background-color
      ) !important;
    }
  }
}
