@import '../../../themes/mixins/error-message';
.component {
  .description {
    font-family: var(--font-regular);
    font-size: 16px;
    height: 132px;
    line-height: 1.38;
    margin-bottom: 20px;
    text-align: center;
    .itnLink {
      @extend .description;
      &:after {
      }
    }
    b {
      font-family: var(--font-bold);
    }
  }
  .recoveryPhrase {
    margin-bottom: 20px;
  }
  .walletsDropdownWrapper {
    margin-bottom: 17px;
  }
  .walletsDropdown {
    margin-bottom: 20px;
  }
  hr {
    border: none;
    height: 1px;
    margin-bottom: 17px;
  }
  .checkbox {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 30px;
    }
  }
}
.error {
  @include error-message;
  margin-bottom: 1rem;
  text-align: center;
}
