@import '../../../themes/mixins/error-message';

.component {
  .description {
    font-family: var(--font-regular);
    font-size: 16px;
    line-height: 1.38;
    margin-bottom: 20px;
    text-align: center;

    b {
      color: var(--theme-dialog-fullsize-text-highlight-color);
      font-family: var(--font-bold);
    }

    .itnLink {
      @extend .description;

      &:after {
      }
    }
  }

  .recoveryPhrase {
    margin-bottom: 20px;
  }

  .walletsDropdownWrapper {
    margin-bottom: 17px;
  }

  .checkbox {
    margin-bottom: 20px;

    label {
      color: var(--theme-dialog-fullsize-title-text-color);
      font-family: var(--font-regular);
    }

    &:last-child {
      margin-bottom: 30px;
    }
  }
}

.errorMessage {
  color: var(--theme-delegation-steps-choose-wallet-error-message-light-color);
  font-size: 14px;
  letter-spacing: normal;
  margin-bottom: 10px;
  margin-top: -5px;

  span {
    color: var(--theme-delegation-steps-choose-wallet-error-message-color);
    font-family: var(--font-medium);
    font-weight: 500;
  }
}

.error {
  @include error-message;
  margin-bottom: 1rem;
  text-align: center;
}

.closeButton {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 1;

  span {
    border-radius: 50%;
    height: 44px;
    width: 44px;

    &:hover {
      background-color: var(--theme-network-window-icon-close-hover-background);
    }
  }

  svg {
    height: 12px;
    margin-top: 16px;
    width: 12px;

    polygon {
      stroke: var(--theme-network-window-white-color);
    }

    path {
      stroke: var(--theme-network-window-white-color);
    }
  }
}

:global {
  .DialogFullSizeOverride_overlay .DialogCloseButton_component {
    background-color: transparent !important;
    opacity: 1;

    &:hover {
      background-color: var(
        --theme-network-window-icon-close-hover-background
      ) !important;
    }
  }
}
