.component {
}
.walletToLabel {
  color: #ffffff;
  font-family: var(--font-medium);
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  height: 22px;
  letter-spacing: normal;
  line-height: 1.38;
  margin-bottom: 6px;
  width: 20px;
}

.sectionValue {
}
.section {
  color: rgb(255, 255, 255);
  font-family: var(--font-regular);
  font-size: 16px;
  line-height: 1.38;
  margin-bottom: 20px;
  span {
    font-family: var(--font-light);
  }
  b {
    font-family: var(--font-regular);
  }
  > div:last-child {
    @extend .sectionValue;
  }
}
.sectionHalf {
  display: inline-block;
  width: 50%;
}
.sectionAccent {
  .sectionValue {
    color: #ea4c5b;
  }
}
.sectionOpacity {
  .sectionValue {
    opacity: 0.5;
  }
}

.to {
  @extend .section;
  @extend .sectionOpacity;
}
.rewardsTotal {
  @extend .section;
  @extend .sectionHalf;
  @extend .sectionAccent;
}
.transactionFees {
  @extend .section;
  @extend .sectionHalf;
  @extend .sectionAccent;
  @extend .sectionOpacity;
}
.finalTotal {
  @extend .section;
  @extend .sectionAccent;
}
.spendingPassword {
  @extend .section;
  span {
    font-family: var(--font-regular);
    em {
      font-family: var(--font-light);
      opacity: 0.5;
    }
  }
}
