@import '../votingConfig';

.root {
  @extend %regularText;
  align-items: start;
  background-color: var(--theme-button-flat-background-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 271px;

  .fundName {
    color: var(--theme-button-flat-text-color);
    font-family: var(--font-semibold);
    font-size: 18px;
    line-height: 1.33;
    margin-bottom: 11px;
  }

  .block {
    align-items: start;
    display: flex;
    flex-direction: column;

    .label {
      color: var(--theme-button-flat-text-color);
      display: block;
    }

    .value {
      color: var(--theme-button-flat-text-color);
      font-family: var(--font-medium);
    }

    & + .block {
      margin-top: 11px;
    }
  }

  .resultsButton {
    margin-top: 20px;
  }
}
