@import '../votingConfig';

.root {
  @extend %regularText;
  background-color: var(--theme-button-flat-background-color);
  border-radius: 5px;
  padding: 20px;

  .title {
    font-family: var(--font-semibold);
    font-size: 18px;
    line-height: 1.33;
  }

  .votingInstructions {
    display: block;
    font-family: var(--font-light);
    margin-top: 11px;
  }

  .date {
    display: block;
    font-family: var(--font-medium);
  }

  .stepsTitle {
    font-family: var(--font-medium);
    margin-top: 14px;
  }

  .step {
    align-items: center;
    display: flex;
    margin-top: 11px;
    width: 100%;
  }

  .button {
    border-radius: 5px;
    font-size: 14px;
    height: auto;
    margin-top: 20px;
    padding: 8px 26.5px;
    width: auto;
  }
}
