@import '../votingConfig';

.component {
  padding: 20px;
  text-align: center;

  :global {
    button.SimpleButton_root {
      width: 415px;
    }
  }

  .separator {
    margin: 20px 0;
    opacity: 0.2;
  }

  .bottomContent {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    .leftContent {
      max-width: 271px;
    }

    .rightContent {
      margin-left: 20px;
    }
  }

  .appStoreSpacing {
    margin-top: 30px;
  }
}
