@import '../../../themes/mixins/link';
.component {
  padding: 20px;

  .headerWrapper {
    display: flex;
    line-height: 1.38;
    margin: 0 20px 10px;

    & > .title {
      color: var(--theme-staking-font-color-lighter);
      flex-grow: 1;
      font-family: var(--font-regular);
      font-size: 16px;
    }

    & > .actionLabel {
      color: var(--theme-staking-font-color-light);
      cursor: pointer;
      font-family: var(--font-medium);
      font-size: 14px;
      &:hover {
        color: var(--theme-staking-font-color-light);
      }
    }
  }

  .noRewardsLabel {
    color: var(--theme-staking-font-color-lighter);
    flex-grow: 1;
    font-family: var(--font-regular);
    font-size: 16px;
    text-align: center;
  }

  .note {
    color: var(--theme-staking-font-color-lighter);
    font-family: var(--font-regular);
    font-size: 14px;
    line-height: 1.43;
    padding: 10px 20px;
    & > button {
      @include link(--theme-staking-link-color-light);
      font-size: 14px;
      &:hover {
        border-bottom: 1px solid var(--theme-staking-link-color);
        color: var(--theme-staking-link-color);
        svg {
          g {
            stroke: var(--theme-staking-link-color);
          }
        }
      }
    }
  }

  .loadingSpinnerWrapper {
    margin: auto;
  }

  table {
    border-style: hidden;
    user-select: text;
    width: 100%;

    thead {
      background-color: var(--theme-staking-table-head-background-color);
    }

    tr,
    td,
    th {
      border: 1px solid var(--theme-staking-table-border-color);
    }

    th {
      color: var(--theme-staking-font-color-regular);
      cursor: pointer;
      font-family: var(--font-semibold);
      font-size: 14px;
      line-height: 1.14;
      padding: 14px 20px;
      text-align: left;

      &:hover {
        & > .sortIcon {
          opacity: 0.5;
          visibility: visible;
        }
      }

      & > .sortIcon {
        margin-left: 6px;
        visibility: hidden;
        & > svg {
          height: 7.5px;
          width: 7px;
          & > path {
            fill: var(--theme-staking-font-color-regular);
          }
        }
        &.ascending {
          & > svg {
            transform: rotate(180deg);
          }
        }
        &.sorted {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    td {
      color: var(--theme-staking-font-color-regular);
      font-family: var(--font-light);
      font-size: 14px;
      line-height: 1.3;
      padding: 14px 20px;
      text-align: left;
      width: 25%;

      p {
        -webkit-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;

        .stakePoolReference {
          font-family: var(--font-medium);
        }
      }
    }
  }
}
