.component {
  .label {
    font-family: var(--font-medium);
    line-height: 1.38;
    margin-bottom: 6px;
  }
  p {
    font-family: var(--font-light);
    line-height: 1.38;
    margin-bottom: 20px;
  }
  .rewardsAddress {
    cursor: pointer;
    .copyIconWrapper {
      margin-left: 7px;
      .copyIcon,
      [data-tippy-root] {
        transition: opacity 0.25s;
        opacity: 0;
      }
      .copyIcon {
        svg {
          height: 16px;
          width: 11px;
          g {
            fill: var(--theme-dialog-title-color);
          }
        }
      }
      &.visible {
        .copyIcon {
          opacity: 1;
          svg {
            path {
              stroke: var(--theme-dialog-title-color);
            }
          }
        }
      }
    }
    &:hover {
      .copyIcon,
      [data-tippy-root] {
        opacity: 1;
      }
    }
  }
  .loadingSpinner {
    margin-bottom: 30px;
  }
  .table {
    td {
      font-family: var(--font-regular);
    }
  }
  .stakePoolTicker {
    color: var(--theme-staking-stake-pool-tooltip-link-color);
  }
  :global {
    .Dialog_content .LoadingSpinner_icon {
      svg {
        path {
          fill: var(--theme-dialog-title-color) !important;
        }
      }
    }
  }
}
