.component {
  .label {
    font-family: var(--font-medium);
    line-height: 1.38;
    margin-bottom: 6px;
  }
  p {
    font-family: var(--font-light);
    line-height: 1.38;
    margin-bottom: 20px;
  }
  .table {
    margin-top: 30px;
    thead {
      background: transparent;
    }
    th {
      border: none;
      font-size: 10px;
      padding: 10px 18px;
      text-transform: uppercase;
    }
    td {
      border-width: 1px 0;
      font-size: 12px;
      padding: 10px 18px;
    }
  }
}
