// THEME CONFIGURATION

$path: "react-polymorph/lib/themes/simple/";
$theme-assets-path: "react-polymorph/lib/themes/simple/assets";

$theme-font-thin: var(--font-thin);
$theme-font-light: var(--font-light);
$theme-font-medium: var(--font-medium);
$theme-font-regular: var(--font-regular);
$theme-font-bold: var(--font-bold);

@import "~react-polymorph/lib/themes/simple/_theme";

// TODO: add all other SimpleSelect variables here
$select-input-border-focus-color: var(--theme-input-focus-border-color);

$switch-on-accent-color: var(--theme-switch-background-color-checked);
$switch-off-accent-color: var(--theme-switch-background-color-checked);
$switch-thumb-accent-color: var(--theme-switch-thumb-color-checked);
$switch-label-color: var(--theme-switch-label-color);
