@import "../daedalus/_theme";

$simple-theme: (

  assets-path: "react-polymorph/lib/themes/simple/assets",

  font-thin: $font-thin,
  font-light: $font-light,
  font-regular: $font-regular,
  font-medium: $font-medium,
  font-bold: $font-bold,

  form-field-label-margin-bottom: 10px,
);

@import "~react-polymorph/lib/themes/simple/_config";
