@import "_config";
// Theme config overrides go here …
@import "~react-polymorph/lib/themes/simple/SimpleModal";
// Css module overrides go here …

.overlay {
  z-index: 100;
}

.modal {
  display: flex;
  flex-direction: column;
  max-height: 90%;

  :global {
    .WalletExportDialogChoices_component {
      & > button {
        color: var(--theme-dialog-choice-tabs-text-color);
      }

      & > .WalletExportDialogChoices_activeButton {
        color: var(--theme-dialog-choice-tabs-text-color-active);
        border-bottom: 2px solid var(--theme-dialog-choice-tabs-bottom-border-color-active);
      }
    }
  }
}
