@import "_config";
// Theme config overrides go here …
@import "~react-polymorph/lib/themes/simple/SimpleButton";
// Css module overrides go here …

.root {
  background: $theme-button-background-color;
  font-size: 14px;
  font-family: $font-medium;
  position: relative;
  text-transform: none;
  width: 360px;
  height: 50px;
}

:global {
  .primary {
    &[disabled] {
      background: $theme-button-background-color;
      color: $theme-button-text-color;
      opacity: 0.3;
    }
    &:not([disabled]) {
      color: $theme-button-text-color;
      background: $theme-button-background-color;
      &:hover {
        background: $theme-button-background-color-hover;
      }
      &:active {
        background: $theme-button-background-color;
      }
    }
  }

  .flat {
    &:not([disabled]) {
      background-color: #eef1f3;
      color: #5e6066;
      &:hover {
        color: #5e6066;
        background-color: darken(#eef1f3, 7%);
      }
    }
    &[disabled] {
      color: darken(#eef1f3, 7%);
      opacity: 0.3;
    }
  }
}