@import "_config";
// Theme config overrides go here …
@import "~react-polymorph/lib/themes/simple/SimpleCheckbox";
// Css module overrides go here …

.root {
  .checked {
    background-color: var(--theme-checkbox-background-color-checked);
  }
}

.check {
  border: 1px solid var(--theme-checkbox-border-color);
}

.label {
  color: var(--theme-checkbox-label-color);
}
