@import "_config";
// Theme config overrides go here …
@import "~react-polymorph/lib/themes/simple/SimpleButton";
// Css module overrides go here …

.root {
  background: var(--theme-button-primary-background-color);
  font-size: 14px;
  font-family: var(--font-medium);
  position: relative;
  text-transform: none;
  width: 360px;
  height: 50px;
}

:global {
  .primary {
    &[disabled] {
      background: var(--theme-button-primary-background-color-disabled);
      color: var(--theme-button-primary-text-color-disabled);
      cursor: default !important;
      &:hover,
      &:active {
        background: var(--theme-button-primary-background-color-disabled);
      }
    }
    &:not([disabled]) {
      background: var(--theme-button-primary-background-color);
      color: var(--theme-button-primary-text-color);
      &:hover {
        background: var(--theme-button-primary-background-color-hover);
      }
      &:active {
        background: var(--theme-button-primary-background-color-active);
      }
    }
  }

  .flat {
    &[disabled] {
      background: var(--theme-button-flat-background-color-disabled);
      color: var(--theme-button-flat-text-color-disabled);
      cursor: default !important;
      &:hover,
      &:active {
        background: var(--theme-button-flat-background-color-disabled);
      }
    }
    &:not([disabled]) {
      background-color: var(--theme-button-flat-background-color);
      color: var(--theme-button-flat-text-color);
      &:hover {
        background-color: var(--theme-button-flat-background-color-hover);
        color: var(--theme-button-flat-text-color);
      }
      &:active {
        background-color: var(--theme-button-flat-background-color-active);
      }
    }
  }
}
