@import "_config";
// Theme config overrides go here …
@import "~react-polymorph/lib/themes/simple/SimpleModal";
// Css module overrides go here …

.overlay {
  background-color: $theme-modal-overlay-background-color;
  z-index: 100;
}

.modal {
  display: flex;
  flex-direction: column;
  background: $theme-modal-background-color;

  :global {
    .SimpleInput_root {
      & > .SimpleInput_input {
        color: $theme-dialog-input-text-color;
        background-color: $theme-dialog-input-background-color;
        &::-webkit-input-placeholder {
          color: $theme-dialog-input-placeholder-color;
        }
      }
    }
    .SimpleSwitch_label{
      color: $theme-dialog-switch-label-color;
    }

    .SimpleFormField_label {
      color: $theme-dialog-input-label-color;
    }

    .SimpleCheckbox_label {
      color: $theme-dialog-checkbox-label-color;
    }

    .WalletExportDialogChoices_component {
      & > button {
        color: $theme-dialog-choice-tabs-text-color;
      }

      & > .WalletExportDialogChoices_activeButton {
        color: $theme-dialog-choice-tabs-text-color-active;
        border-bottom: 2px solid $theme-dialog-choice-tabs-bottom-border-color-active;
      }
    }
  }
}
