@import "_config";
// Theme config overrides go here …
@import "~react-polymorph/lib/themes/simple/SimpleButton";
// Css module overrides go here …

.root {
  background: $theme-button-primary-background-color;
  font-size: 14px;
  font-family: $font-medium;
  position: relative;
  text-transform: none;
  width: 360px;
  height: 50px;
}

:global {
  .primary {
    &[disabled] {
      background: $theme-button-primary-background-color;
      color: $theme-button-primary-text-color;
      opacity: 0.3;
    }
    &:not([disabled]) {
      color: $theme-button-primary-text-color;
      background: $theme-button-primary-background-color;
      &:hover {
        background: $theme-button-primary-background-color-hover;
      }
      &:active {
        background: $theme-button-primary-background-color;
      }
    }
  }

  .flat {
    &:not([disabled]) {
      background-color: $theme-button-flat-background-color;
      color: $theme-button-flat-text-color;
      &:hover {
        color: $theme-button-flat-text-color;
        background-color: $theme-button-flat-background-color-hover;
      }
    }
    &[disabled] {
      color: $theme-button-flat-background-color-hover;
      opacity: 0.3;
    }
  }
}