@import "_config";
// Theme config overrides go here …
@import "~react-polymorph/lib/themes/simple/SimpleModal";
// Css module overrides go here …

.overlay {
  background-color: var(--theme-modal-overlay-background-color);
  z-index: 100;
}

.modal {
  display: flex;
  flex-direction: column;
  background: var(--theme-modal-background-color);

  :global {
    .SimpleInput_root {
      & > .SimpleInput_input {
        color: var(--theme-dialog-input-text-color);
        background-color: var(--theme-dialog-input-background-color);
        &::-webkit-input-placeholder {
          color: var(--theme-dialog-input-placeholder-color);
        }
      }
    }
    .SimpleSwitch_label{
      color: var(--theme-dialog-switch-label-color);
    }

    .SimpleFormField_label {
      color: var(--theme-dialog-input-label-color);
    }

    .SimpleCheckbox_label {
      color: var(--theme-dialog-checkbox-label-color);
    }

    .WalletExportDialogChoices_component {
      & > button {
        color: var(--theme-dialog-choice-tabs-text-color);
      }

      & > .WalletExportDialogChoices_activeButton {
        color: var(--theme-dialog-choice-tabs-text-color-active);
        border-bottom: 2px solid var(--theme-dialog-choice-tabs-bottom-border-color-active);
      }
    }
  }
}
