@import "_config";
// Theme config overrides go here …
@import "~react-polymorph/lib/themes/simple/SimpleSwitch";
// Css module overrides go here …

.root {
  flex-direction: row-reverse;
  margin-bottom: 30px;
  &:not(.checked) {
    .switch {
      box-shadow: 0 2px 0 -1px transparent; // fix for cut-off bottom
      opacity: 0.3;
    }
  }
}

.label {
  margin: 0 30px 0 0 !important;
  opacity: 0.5;
  width: 100%;
}
