@import "_config";
// Theme config overrides go here …
@import "~react-polymorph/lib/themes/simple/SimpleFormField";
// Css module overrides go here …

.error {
  color: var(--theme-input-error-color);
  opacity: 0.75;
}

.label {
  color: var(--theme-input-label-color);
}
