@import "_config";
// Theme config overrides go here …
$select-arrow-color: var(--theme-select-arrow-color);
$select-arrow-color-open: var(--theme-select-arrow-color-open);
@import "~react-polymorph/lib/themes/simple/SimpleSelect";
// Css module overrides go here …
