@import "_config";
// Theme config overrides go here …
@import "~react-polymorph/lib/themes/simple/SimpleButton";
// Css module overrides go here …
@import '../mixins/buttons';

.root {
  background: var(--theme-button-primary-background-color);
  font-size: 14px;
  font-family: var(--font-medium);
  height: 50px;
  line-height: 20px;
  position: relative;
  text-transform: none;
  width: 360px;
  padding: 0;
}

:global {
  @include simpleButton('primary');
  @include simpleButton('flat');
  @include simpleButton('attention');
  @include simpleButton('disclaimer');
  .disclaimer {
    border: 1px solid var(--theme-button-disclaimer-border-color);
    min-height: 50px;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:active {
      color: var(--theme-button-disclaimer-background-color);
    }
    &:disabled {
      color: var(--theme-button-disclaimer-text-color-disabled);
      border-color: var(--theme-button-disclaimer-border-color-disabled);
    }
  }
}
