@import '../../../../themes/mixins/loading-spinner';
@import '../../../../themes/mixins/error-message';

.isSubmitting {
  @include loading-spinner("../../../../assets/images/spinner-light.svg");
}

.instructions {
  color: var(--theme-instructions-text-color);
  margin-bottom: 18px;
  margin-top: 30px;

  p {
    font-family: var(--font-regular);
    line-height: 1.38;
  }
}

.error {
  @include error-message;
  text-align: center;
}

:global {
  .SimpleModal_modal {
    min-width: 640px;
  }
}
