.instructions {
  color: var(--theme-instructions-text-color);
  margin-top: 30px;

  p {
    font-family: var(--font-regular);
    line-height: 1.38;
  }
}

.checkbox {
  margin-top: 30px;
}

.recoveryPhrase {
  background-color: var(--theme-mnemonic-background-color);
  border-radius: 2px;
  color: var(--theme-instructions-text-color);
  font-family: var(--font-medium);
  font-size: 16px;
  line-height: 1.38;
  margin-top: 10px;
  min-height: 50px;
  padding: 14px;
  text-align: center;
  -webkit-user-select: none;
}

.paperWalletImageWrapper {
  margin-top: 30px;
  text-align: right;

  img {
    height: 276px;
    width: 490px;
  }
}

