@import '../../../../themes/mixins/loading-spinner';
@import '../../../../themes/mixins/error-message';

.component {
  :global .dialog_body {
    overflow-y: hidden;
  }
}

.isSubmitting {
  button {
    @include loading-spinner("../../../../assets/images/spinner-light.svg");
  }
}

.instructions {
  color: $text-color-accent;
  margin-bottom: 18px;
  margin-top: 30px;

  p {
    font-family: $font-regular;
    line-height: 1.38;
  }
}

.error {
  @include error-message;
  text-align: center;
}
