@import '../../../themes/mixins/loading-spinner';

.component {
  align-items: center;
  background-color: $color-primary-bg;
  display: flex;
  height: 100%;
  justify-content: center;
}

.centeredBox {
  background-color: $color-lighter-grey;
  border: solid 1px $color-light-grey;
  border-radius: 4px;
  padding: 30px 30px 20px;
  overflow: visible;
  width: 620px;
}

.submitButton,
.submitButtonSpinning {
  display: block !important;
  height: 50px !important;
  margin: 0 auto;
  width: 360px;
}

.submitButton {
  font-size: 14px !important;
  line-height: 50px !important;
}

.submitButtonSpinning {
  @include loading-spinner("../../../assets/images/spinner-light.svg");
}
