.root {
  .toolbar {
    border-bottom: 1px solid
      var(--theme-tokens-picker-toolbar-border-bottom-color);
    display: flex;
    padding: 20px 0;
    transition-duration: 0.2s;
    transition-property: box-shadow border-color;
    transition-timing-function: ease-in-out;

    &.scrollNotTop {
      border-bottom-color: transparent;
      box-shadow: 0 10px 10px -10px var(--theme-tokens-picker-toolbar-box-shadow);
    }

    .filterSelect {
      font-family: var(--font-medium);
      font-size: 16px;
      line-height: 1.38;

      :global {
        .SimpleOptions_option {
          padding: 6px 12px;
        }
      }
    }

    :global {
      .SimpleInput_customValueBlock {
        height: auto;
        padding-right: 10px;
      }

      .SimpleBubble_bubble {
        border: none;
        width: 90px;
      }

      .SimpleInput_customValueWrapper .SimpleInput_input {
        border: none;
        height: auto;
        padding: 0;
        width: 120px;
      }

      .SelectOverrides_selectInput {
        align-items: baseline;
        display: flex;
        position: relative;

        &:after {
          bottom: 0;
          left: 0;
          position: relative;
        }
      }
    }

    .count {
      font-family: var(--font-light);
      font-size: 14px;
      line-height: 1.43;
      margin-left: auto;
    }

    .toogleAllButton {
      background: var(--theme-widgets-asset-token-fingerprint-background-color);
      border-radius: 3px;
      color: var(--theme-widgets-asset-token-text-color);
      cursor: pointer;
      font-family: var(--font-regular);
      font-size: 14px;
      line-height: 1.43;
      margin-left: 6px;
      padding: 0 6px;
      white-space: nowrap;
    }
  }

  .noResults {
    display: inline-block;
    font-family: var(--font-regular);
    font-size: 16px;
    line-height: 1.38;
    margin: 30px;
  }

  .list {
    height: 450px;
    margin-right: -25px;
    overflow-y: scroll;
    padding-right: 5px;
  }

  .listItem {
    display: flex;

    &:first-of-type {
      padding-top: 6px;
    }

    &:not(:last-of-type) {
      .token {
        border-bottom: 1px solid var(--theme-tokens-picker-token-separator);
      }
    }
  }

  .checkbox {
    align-self: flex-start;
    margin-right: 20px;
    margin-top: 14px;
  }

  :global {
    .SimpleCheckbox_disabled {
      opacity: 0.3;
    }
  }

  .token {
    flex: 1;

    &:global(.WalletToken_isExpanded) {
      padding-bottom: 14px;
    }
  }

  .tokenHeader {
    padding-bottom: 14px;
    padding-top: 14px;

    :global {
      .WalletTokenHeader_asset {
        margin-left: 12px;
      }
    }
  }

  .tokenFooter {
    margin-top: 14px;
    padding-top: 5px;
  }
}

.dialog {
  :global {
    .Dialog_contentWrapper {
      overflow-y: hidden;
    }
  }
}
