%contentBorderAndBackground {
  background-color: var(--theme-staking-content-background-color);
  border: solid 1px var(--theme-staking-content-border-color);
  border-radius: 4px;
}

%baseTypography {
  font-size: 16px;
  line-height: 1.38;
}

%accentText {
  @extend %baseTypography;
  color: var(--theme-staking-font-color-accent);
  font-family: var(--font-semibold);
}

%accentBoldText {
  @extend %baseTypography;
  color: var(--theme-staking-font-color-accent);
  font-family: var(--font-bold);
}

%regularText {
  @extend %baseTypography;
  color: var(--theme-staking-font-color-regular);
  font-family: var(--font-regular);
}

%regularLightColorText {
  @extend %baseTypography;
  color: var(--theme-staking-font-color-light);
  font-family: var(--font-regular);
}
