@import "./stakingConfig";

.component {
  @extend %contentBorderAndBackground;
  display: flex;
  margin-bottom: 20px;
  padding: 14px 20px;
}

.label {
  flex: 1;
  padding-top: 1px;
  font-family: var(--font-semibold);
  font-size: 16px;
  line-height: 1.38;
  color: var(--theme-switch-label-color);
}
