@import './stakingConfig';

.component {
  @extend %regularText;
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  text-align: center;

  b {
    @extend %accentText;
  }

  .description {
    margin-top: 15px;
    max-width: 680px;
  }
}
