@import '../stakingConfig';
@import '../../../themes/mixins/link';

.component {
  background-color: var(--theme-staking-background-color);
  height: 100%;
  padding: 20px;

  .learnMoreButton {
    color: var(--theme-staking-learn-more-button-color);

    .externalLinkIcon {
      @include link(--theme-staking-learn-more-icon-color);
      border-bottom: none;
      svg {
        margin-left: 8px;
      }
    }
  }
}

.mainContent {
  @extend %contentBorderAndBackground;
  padding: 20px;
  text-align: center;
}

.heading {
  @extend %accentText;
  font-size: 19px;
  margin-bottom: 14px;
}

.description {
  @extend %regularText;
  margin-bottom: 24px;
}

.timeLeftDesc {
  @extend %accentText;
}
