$walletNavThemeColor: $color-primary;
$walletNavHeight: 200px;
$walletNavSeparatorWidth: 20px;
$walletNavSeparatorMargin: 40px;
$walletNavButtonContentHeight: 55%;

@mixin walletNavLabelFont {
  letter-spacing: 2px;
  font-size: 14px;
  font-family: $font-medium;
}
