$wallet-nav-bg-color: #1c2e47;
$wallet-nav-bg-color-active: white;
$wallet-nav-color: rgba(#fafbfc, 0.6);
$wallet-nav-color-hover: white;
$wallet-nav-color-active: #1d2e47;
$walletNavHeight: 126px;

@mixin walletNavLabelFont {
  font-size: 14px;
  font-family: $font-regular;
}
