%link {
  display: block;
  text-decoration: none;
}

.component {
  display: flex;
  height: 100%;
}

.button {
  height: 100%;
  display: flex;
  justify-content: center;
}

.walletButton {
  @extend .button;
}

.walletHomeLink {
  @extend %link;
  width: 50%;
}

.sendLink {
  @extend %link;
  width: 25%;
}

.receiveLink {
  @extend %link;
  width: 25%;
}
