.component {
  display: flex;
  height: 100%;
}

%button {
  height: 100%;
}

.homeLink {
  @extend %button;
  width: 50%;
}

.sendLink {
  @extend %button;
  width: 25%;
}

.receiveLink {
  @extend %button;
  width: 25%;
}
