@import './_walletNavConfig';

// ========= LAYOUT =========

.component {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: calc(100% - 40px);
  height: 30px;
  border-radius: 4px;
}

.label {
  @include walletNavLabelFont;
  display: block;
  overflow: visible;
}

.icon {
  max-height: 19px;
  max-width: 19px;
  margin-right: 10px;

  @media (max-width: 950px) {
    display: none;
  }
}

// ========= STATES =========

.normal {
  .container {
    color: $wallet-nav-color;
  }

  &:hover {
    .container {
      background-color: $wallet-nav-bg-color-hover;
    }
    cursor: pointer;
  }
}

.active {
  .container {
    background-color: $wallet-nav-bg-color-active;
    color: $wallet-nav-color-active;
  }

  &:hover {
    cursor: default;
  }
}
