%link {
  display: block;
  text-decoration: none;
}

.component {
  display: flex;
}

.button {
  display: block;
  height: 200px;
}

.walletButton {
  @extend .button;
}

.walletDetailsLink {
  @extend %link;
  width: 50%;
}

.sendLink {
  @extend %link;
  width: 25%;
}

.receiveLink {
  @extend %link;
  width: 25%;
}
