@import './_walletNavConfig';

%base {
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

// ========= STATES =========

.normal {
  @extend %base;
  ackground-color: rgba($walletNavThemeColor, 0.2);
  color: $walletNavThemeColor;
  &:hover {
    cursor: pointer;
    background-color: rgba($walletNavThemeColor, 0.25);
  }
}

.active {
  @extend %base;
  background-color: $walletNavThemeColor;
  color: white;
  .walletName {
    &:after {
      border-bottom-color: white;
    }
  }
  &:hover {
    cursor: default;
  }
}

// ======== CHILDREN ========

.container {
  text-align: center;
  height: $walletNavButtonContentHeight;
  display: flex;
  flex-direction: column;
}

.walletName {
  @include walletNavLabelFont;
  text-transform: uppercase;
  position: relative;
  margin-bottom: auto;

  &:after {
    content: '';
    width: $walletNavSeparatorWidth;
    display: block;
    position: absolute;
    left: calc(50% - #{$walletNavSeparatorWidth / 2});
    bottom: -$walletNavSeparatorMargin / 3;
    border-bottom: 1px solid $walletNavThemeColor;
  }
}

.walletAmount {
  font-size: 24px;
  font-weight: 100;
}
