.overlay {
  position: fixed;
  background: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999999;
  opacity: .8;
  display: block;
}

body.hideOverlay .overlay {
  display: none;
}

.overlay p {
  font-size: 16px;
  width: 100%;
  text-align: center;
  line-height: 450px;
  color: var(--theme-support-settings-text-color);
  font-family: var(--font-semibold);
}
