.component {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.ada-logo,
.ada-apiLogo {
  & > svg {
    display: block;
    opacity: 0.5;
    width: 48px;
  }
}

$cardanoLogoWidth: 86px;
.ada-apiLogo > svg {
  width: $cardanoLogoWidth;
}

$adaLogoWidth: 43px;
.ada-logo > svg {
  margin: 3px ($cardanoLogoWidth - $adaLogoWidth) / 2 0; // Visually align in the middle + Needs to be the same dimension as the apiLogo
  width: $adaLogoWidth;
}

.daedalusLogo {
  height: 135px;
  margin: 0 114px;
  width: 173px;
  svg {
    height: 135px;
    width: 173px;
  }
}

.connectingLogo {
  &.ada-logo {
    & svg > g > g path {
      fill: var(--theme-icon-connecting-ada-logo-color);
    }
  }
  &.daedalusLogo {
    & svg > g > g path {
      fill: var(--theme-icon-connecting-daedalus-logo-color);
    }
  }
  &.ada-apiLogo {
    & svg > g > g path {
      fill: var(--theme-icon-connecting-ada-api-logo-color);
    }
  }
}

.syncingLogo {
  &.ada-logo {
    svg > g > g path {
      fill: var(--theme-icon-syncing-ada-logo-color);
    }
  }
  &.daedalusLogo {
    & svg > g > g path {
      fill: var(--theme-icon-syncing-daedalus-logo-color);
    }
  }
  &.ada-apiLogo {
    & svg > g > g path {
      fill: var(--theme-icon-syncing-ada-api-logo-color);
    }
  }
}
