@import '../../../themes/mixins/animations';

.component {
  bottom: 20px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 2500;

  .icon {
    height: 24px;
    padding: 2px;
    width: 24px;
    svg {
      height: 20px;
      width: 20px;
    }
    &.icon-nodeState {
      padding-top: 0;
      svg {
        height: 22px;
      }
    }
    &.icon-isNodeResponding {
      padding: 3.2px 0 0;
      svg {
        height: 17.6px;
        width: 24px;
      }
    }
  }

  .iconButton {
    cursor: pointer;
  }
}

.icon-on path:nth-of-type(2) {
  fill: var(--theme-loading-status-icons-on-color);
}
.icon-off path:nth-of-type(2) {
  fill: var(--theme-loading-status-icons-off-color);
}
.icon-unloaded,
.icon-unknown {
  &.syncing {
    path:nth-of-type(2) {
      fill: var(--theme-loading-status-icons-unloaded-syncing-color);
    }
  }
  &.loading {
    path:nth-of-type(2) {
      fill: var(--theme-loading-status-icons-unloaded-loading-color);
    }
  }
}
.icon-unknown {
  opacity: 0.3;
}

.disabled:hover {
  .bubble {
    display: none;
  }
}
.ellipsis {
  .bubble > div {
    padding-right: 20px;
    @include animated-ellipsis($width: 16px);
  }
}
