.component {
  height: 100%;
  transition: background-color 500ms;
  width: 100%;

  &.is-loading-theme {
    background-color: transparent !important;
  }
  &.is-connecting {
    background-color: var(--theme-connecting-background-color);
  }
  &.is-syncing {
    background-color: var(--theme-syncing-background-color);
  }

  .newsFeedBellIcon {
    top: 30px;
  }
}

.component,
.logo {
  -webkit-backface-visibility: hidden;
}
