.component {
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 1;

  .content {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2000;
  }

  :global {
    .connectingScreen {
      span svg path {
        stroke: var(--theme-news-feed-icon-color-connecting-screen);
      }
    }

    .syncingScreen {
      span svg path {
        stroke: var(--theme-news-feed-icon-color-syncing-screen);
      }
    }
  }
}

.component,
.content {
  --webkit-backface-visibility: hidden;
}
