@import '../../../themes/mixins/animations';

.component {
  bottom: 65px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 2500;
}

.syncing {
  color: var(--theme-syncing-text-color);
}

.headline {
  font-family: var(--font-regular);
  font-size: 18px;
  margin-bottom: 14px;
}

.description {
  font-family: var(--font-regular);
  font-size: 16px;
  line-height: 22px;
  margin: 0 auto;
  max-width: 560px;
  opacity: 0.7;
}

.connecting {
  color: var(--theme-connecting-text-color);
  .headline {
    overflow: visible;
    &:not(.withoutAnimation) {
      @include animated-ellipsis($width: 20px);
    }
  }
}

.component,
.headline {
  --webkit-backface-visibility: hidden;
}
