.component {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  top: calc(50% + 67.5px);
  width: 100%;

  .textContent {
    font-family: var(--font-regular);
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.2;
    text-transform: uppercase;
  }

  .title {
    color: var(--theme-syncing-connecting-title-color);
    margin-bottom: 5px;
    margin-top: 30px;
  }
  .subTitle1 {
    color: var(--theme-syncing-connecting-subTitle1-color);
    margin-bottom: 5px;
  }
  .subTitle2 {
    color: var(--theme-syncing-connecting-subTitle2-color);
    margin-bottom: 20px;
  }
}
