.component {
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 1;

  .content {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2000;
  }
}

.component,
.logo {
  -webkit-backface-visibility: hidden;
}
