@mixin loading-spinner($color, $speed) {
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-color: $color $color transparent transparent;
  animation: spin $speed linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
