@import '../stakingConfig';

.component {
  margin: 20px;
  text-align: center;
}

.mainContent {
  @extend %contentBorderAndBackground;
  padding: 20px 70px;
  position: relative;
}

.mainContainer {
  display: flex;
  justify-content: center;
}

.heading {
  @extend %accentText;
  font-size: 16px;
  padding-bottom: 10px;
}

.countdownContainer {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.description {
  @extend %regularLightColorText;
  padding-top: 10px;
}

.epochsContainer {
  display: flex;
  justify-content: center;

  .epochs {
    background-color: var(--theme-staking-countdown-widget-background-color);
    border-radius: 2px;
    display: flex;
    padding: 10px 20px;

    .spinnerIcon {
      animation: rotating-spinner 1.2s linear infinite;
      height: 42px;
      margin: 12px 0;
      width: 42px;

      svg {
        path {
          stroke: var(--theme-staking-countdown-widget-field-value-color);
        }
      }
    }

    .fieldPanel {
      align-items: flex-end;
      display: flex;

      .left {
        padding: 0 10px;

        .fieldLabel {
          align-items: center;
          color: var(--theme-staking-countdown-widget-field-label-color);
          display: flex;
          font-family: var(--font-medium);
          font-size: 10px;
          height: 22px;
          justify-content: center;
          text-transform: uppercase;
        }

        .fieldValue {
          align-items: center;
          color: var(--theme-staking-countdown-widget-field-value-color);
          display: flex;
          font-family: var(--font-medium);
          font-size: 36px;
          height: 44px;
          justify-content: center;

          span {
            opacity: 0.3;
          }
        }
      }

      &:last-child {
        .left {
          padding-left: 5px;

          .fieldValue {
            font-size: 21px;
          }
        }
      }

      .right {
        align-items: center;
        display: flex;
        height: 44px;

        .delimeterIcon {
          height: 14px;
          width: 4px;

          svg {
            path {
              fill: var(
                --theme-staking-countdown-widget-delimeter-background-color
              );
            }
          }
        }

        .delimeterSlashIcon {
          height: 15px;
          width: 8px;

          svg {
            path {
              fill: var(
                --theme-staking-countdown-widget-delimeter-background-color
              );
            }
          }
        }
      }
    }
  }

  @keyframes rotating-spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
