@import '../stakingConfig';

.component {
  margin: 20px;
  text-align: center;
}

.mainContent {
  @extend %contentBorderAndBackground;
  padding: 20px 70px;
  position: relative;
}

.heading {
  @extend %accentText;
  font-size: 16px;
  padding-bottom: 10px;
}

.description {
  @extend %regularLightColorText;
  padding-top: 10px;
}
