@import '../stakingConfig';

.component {
  margin: 20px 0 20px 20px;

  &.isLoading {
    align-items: center;
    display: flex;
    flex: 1;
    margin: -20px auto auto;
    p {
      @extend %regularText;
      margin-bottom: 20px;
      opacity: 0.5;
    }
  }

  .bodyTitle {
    @extend %regularLightColorText;
    display: flex;
    margin: 0 0 10px 0;
    padding: 0 20px;
    justify-content: space-between;

    .rightBodyTitle {
      display: flex;
      justify-content: space-between;
      padding: 0 30px;
      width: 360px;
    }
  }

  .mainContent {
    @extend %contentBorderAndBackground;
    padding: 0 20px;
  }
}
