@import '../stakingConfig';

.component {
  margin: 0 0 20px 20px;

  &.isLoading {
    align-items: center;
    display: flex;
    flex: 1;
    margin: -20px auto auto;
    p {
      @extend %regularText;
      margin-bottom: 20px;
      opacity: 0.5;
    }
  }

  .bodyTitle {
    @extend %regularLightColorText;
    display: flex;
    margin: 0 0 10px 20px;

    .leftBodyTitle {
      flex: 2.4;
    }

    .rightBodyTitle {
      display: flex;
      flex: 1.6;
      justify-content: space-around;
    }
  }

  .mainContent {
    @extend %contentBorderAndBackground;
    padding: 0 20px;
  }
}
