@import '../stakingConfig';

.component {
  margin: 20px 0 20px 20px;

  &.isLoading {
    align-items: center;
    display: flex;
    flex: 1;
    margin: -20px auto auto;
    p {
      @extend %regularText;
      margin-bottom: 20px;
      opacity: 0.5;
    }
  }

  .bodyTitle {
    @extend %regularLightColorText;
    display: flex;
    justify-content: space-between;
    margin: 0 0 10px 0;
    padding: 0 22px 0 20px;

    .rightBodyTitle {
      display: flex;
      justify-content: space-between;
      max-width: 332px;
      width: 100%;

      span {
        display: flex;
        justify-content: center;
        width: 80px;
      }
    }
  }

  .mainContent {
    @extend %contentBorderAndBackground;
    padding: 0 20px;
  }
}
