.component {
  border-radius: 50%;
  overflow: hidden;
  position: relative;

  &.moreThanHalf {
    background: var(--theme-staking-donut-ring-remaining-color);

    .slice {
      &.one,
      &.two {
        background: var(--theme-staking-donut-ring-completed-color);
      }
    }
  }
  &.lessThanHalf {
    background: var(--theme-staking-donut-ring-completed-color);

    .slice {
      &.one,
      &.two {
        background: var(--theme-staking-donut-ring-remaining-color);
      }
    }
  }
  &.small {
    height: 11px;
    width: 11px;

    .slice {
      &.one {
        clip: rect(0 11px 5.5px 0);
      }
      &.two {
        clip: rect(0 5.5px 11px 0);
      }
    }
    .center {
      height: 11px - (3px * 2);
      left: 3px;
      top: 3px;
      width: 11px - (3px * 2);
    }
  }
  &.medium {
    height: 44px;
    width: 44px;

    .slice {
      &.one {
        clip: rect(0 44px 22px 0);
      }
      &.two {
        clip: rect(0 22px 44px 0);
      }
    }
    .center {
      height: 44px - (8px * 2);
      left: 8px;
      top: 8px;
      width: 44px - (8px * 2);
    }
  }
  &.large {
    height: 77px;
    width: 77px;

    .slice {
      &.one {
        clip: rect(0 77px 38.5px 0);
      }
      &.two {
        clip: rect(0 38.5px 77px 0);
      }
    }
    .center {
      height: 77px - (15px * 2);
      left: 15px;
      top: 15px;
      width: 77px - (15px * 2);
    }
  }

  .slice {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .center {
    background: #fff;
    border-radius: 50%;
    position: absolute;
  }
}
