@import '../stakingConfig';

.component {
  border-bottom: 1px solid var(--theme-staking-wallet-row-border-color);
  display: flex;
  justify-content: space-between;
  overflow: visible;
  padding: 20px 0;

  :global {
    .SimpleBubble_root {
      .SimpleBubble_bubble {
        left: initial;
        line-height: initial;
        right: -10px;
      }
    }
  }

  &:last-child {
    border-bottom: 0;
  }

  &:hover {
    .undelegateActions {
      opacity: 1 !important;
    }
  }

  .left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .title {
      @extend %accentText;
      margin-bottom: 4px;
      .hardwareWalletsIcon {
        svg {
          height: 12px;
          margin-left: 6px;
          width: 12px;
          path {
            fill: var(--theme-staking-font-color-accent);
          }
        }
      }
    }

    .description {
      @extend %regularText;
      align-items: center;
      display: flex;
      font-size: 14px;
      margin-bottom: -2px;

      .donutRing {
        margin: 0 8px;
      }
    }
  }

  .right {
    align-items: stretch;
    display: flex;

    .status {
      @extend %regularText;
      align-items: center;
      display: flex;
      justify-content: flex-end;
      margin-bottom: 4px;

      .ticker {
        background-color: var(
          --theme-staking-wallet-row-ticker-background-color
        );
        border-radius: 2px;
        color: var(--theme-staking-wallet-row-ticker-text-color);
        font-family: var(--font-semibold);
        font-size: 11px;
        line-height: 14px;
        padding: 0 8px 3px 8px;
        position: relative;
        text-transform: uppercase;

        .activeAdaSymbol {
          svg {
            height: 10px;
            margin-bottom: -1.5px;
            margin-right: 8px;
            width: 9px;

            & > g {
              & > g {
                stroke: var(
                  --theme-staking-wallet-row-ticker-ada-icon-fill-color
                );
              }
            }
          }
        }
      }

      > span:first-child {
        height: 22px;
        line-height: 2;
        margin-top: 5.5px;
      }

      > span:last-child > span {
        padding-bottom: 4px;
        padding-top: 3px;
      }

      .tooltipLabelWrapper {
        font-family: var(--font-regular);
        font-size: 13px;
        text-transform: initial;
      }
    }

    .status,
    .action {
      .unknown {
        font-family: var(--font-bold);
        text-transform: initial;
      }
    }

    .action {
      @extend %regularText;
      font-size: 14px;
      margin-bottom: 3px;
      text-align: right;

      > span {
        display: initial !important;
        margin-right: 0 !important;

        > div {
          bottom: calc(73% + var(--rp-bubble-distance, 14px));

          > div {
            font-size: 13px;
            left: -30px !important;
            min-width: 200px !important;
            padding: 4px 12px;
            text-align: right !important;
            white-space: normal !important;

            > span:after {
              left: calc(
                100% -
                  calc(
                    var(
                        --rp-bubble-arrow-width,
                        calc(2 * var(--rp-bubble-arrow-size, 10px))
                      ) - 2px
                  ) / 2 - 1px
              ) !important;
            }
          }
        }
      }
    }

    .undelegateActions {
      opacity: 0;
      transition: opacity 0.15s ease-in;
    }

    .stakePoolRankingIndicator {
      border-radius: 2px;
      height: 100%;
      transform: translate(20px);
      width: 4px;
    }

    .sandClockIcon {
      svg {
        height: 12px;
        margin-bottom: -1px;
        margin-right: 4px;
        width: 12px;

        path {
          fill: var(
            --theme-staking-delegation-center-gear-icon-fill-color-active
          );
        }
      }
    }

    :global {
      .LoadingSpinner_component.LoadingSpinner_medium
        .LoadingSpinner_icon
        svg
        path {
        fill: var(--theme-loading-spinner-color);
      }
    }
  }

  b {
    color: var(--theme-link-main-color);
    cursor: pointer;
  }

  .actionDelegate {
    color: var(--theme-staking-wallet-row-action-delegate-text-color);
    cursor: pointer;
  }

  .actionUndelegate {
    color: var(--theme-staking-wallet-row-action-undelegate-text-color);
    cursor: pointer;
  }

  :global {
    .LoadingSpinner_component.LoadingSpinner_medium {
      margin-top: 10px;
    }
  }

  .arrow {
    height: 7px;
    margin: 6px 6px 0;
    opacity: 0.3;
    position: relative;
    width: 3.5px;
    > svg {
      height: 3.5px;
      transform: rotate(90deg) translate(-11px, 2px);
      path {
        stroke: var(--theme-staking-font-color-regular);
      }
    }
  }
}
