.component {
  span {
    user-select: text;
    word-break: break-all;
  }
}

.unformattedAmount {
  span {
    display: flex;
    flex-wrap: wrap;
    max-width: min-content;
    overflow-wrap: break-word;
    user-select: text;
  }
  em {
    opacity: 0.7;
  }
}
