.component {
  .label {
    font-family: var(--font-medium);
    font-size: 16px;
    line-height: 1.38;
    margin-bottom: 6px;
  }

  .description {
    p:first-child {
      margin-bottom: 10px;
    }
  }

  p {
    font-family: var(--font-light);
    margin-bottom: 20px;
    line-height: 1.38;
  }
  i {
    opacity: 0.5;
  }
  .selection {
    padding: 17px 20px;
    font-family: var(--font-regular);
  }
  .warningIcon {
    margin-left: 6px;
    svg {
      width: 12px;
    }
  }
  .assetToken {
    text-align: left;
  }
  :global {
    .Dialog_subtitle {
      margin: -20px 0 20px;
    }
  }
}
