.component {
  padding-left: 14px;
  position: relative;

  &:before {
    border-bottom: 1px solid var(--theme-transactions-list-item-details-color);
    border-left: 1px solid var(--theme-transactions-list-item-details-color);
    border-radius: 0 0 0 2px;
    content: '';
    display: block;
    height: calc(100% - 42px);
    left: 0;
    opacity: 0.3;
    position: absolute;
    width: 6px;
  }
}
