.component {
  height: 100%;
  width: 100%;

  &.withLoadingSpinner {
    height: calc(100% - 74px);
  }

  &.withSyncingSpinner {
    height: calc(100% - 116px);
  }

  &.withLoadingSpinner.withSyncingSpinner {
    height: calc(100% - 190px);
  }

  *::-webkit-scrollbar-button {
    display: none;
  }

  *::-webkit-scrollbar-track {
    margin-bottom: 12px;
  }

  :global(.ReactVirtualized__Grid__innerScrollContainer) {
    overflow: visible !important;
  }

  .list {
    overflow-y: scroll;
    padding-top: 8px;
    will-change: none !important;

    &:focus {
      outline: 0;
    }
  }
}
