.component {
  height: 100%;
  width: 100%;

  :global(.ReactVirtualized__Grid__innerScrollContainer) {
    overflow: visible !important;
  }
}

.list {
  overflow-y: scroll;
  will-change: none !important;
  &:focus {
    outline: 0;
  }
}
