.component {
  .qrCode {
    display: flex;
    text-align: center;

    canvas {
      border: 4px solid var(--theme-receive-qr-code-background-color);
      box-sizing: content-box;
      margin: auto;
    }
  }

  .qrCodeDescription {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    margin-top: 40px;
    .qrCodeMessageIcon {
      height: 72px;
      width: 72px;
      svg {
        path {
          stroke: var(--theme-voting-info-icon-color);
        }
      }
    }
    .qrCodeMessageText {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-left: 10px;
      text-align: left;
      p:last-child {
        color: var(--theme-voting-registration-steps-description-color);
      }
    }
  }

  .messages {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 25px;
    p {
      margin-top: 20px;
    }
    p.secondaryWarning {
      font-weight: bold;
    }
    p.primaryWarning {
      color: var(--theme-voting-registration-steps-warning-messages-font-color);
    }
  }

  .separator {
    margin: 15px 0;
    opacity: 0.2;
  }
}
