.root {
  position: relative;
}

.fees {
  bottom: 60px;
  color: var(--theme-input-right-floating-text-color);
  font-family: var(--font-light);
  font-size: 14px;
  position: absolute;
  right: 19px;
  user-select: text;
}

.total {
  bottom: 16px;
  color: var(--theme-input-right-floating-text-color);
  font-family: var(--font-light);
  font-size: 16px;
  position: absolute;
  right: 20px;
  text-transform: uppercase;
  user-select: text;
}
