name: Run Tests for Pull Requests
on:
  pull_request:
    branches:
      - develop
      - master
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "14"
      - run: yarn --frozen-lock
      - run: yarn test:jest --maxWorkers=3
