@import '../../../themes/mixins/animations';
@import '../../../themes/mixins/error-message';

.votingRegistrationStepsDepositWrapper {
  .content {
    .description {
      color: var(--theme-voting-steps-description-color);
    }
  }

  .feesWrapper {
    font-family: var(--font-medium);
    font-weight: 500;
    line-height: 1.38;
    margin-bottom: 20px;
    margin-top: 20px;

    .feesLabel {
      color: var(--theme-voting-steps-deposit-fees-label-color);
      margin-bottom: 6px;
    }

    .calculatingFeesLabel {
      @include animated-ellipsis($width: 20px);
      --webkit-backface-visibility: hidden;
    }

    .feesAmount {
      color: var(--theme-voting-steps-deposit-fees-amount-color);
      user-select: text;

      .feesAmountLabel {
        font-family: var(--font-light);
      }
    }
  }

  .errorMessage {
    margin-top: 10px;
    p {
      color: var(--theme-color-error);
      font-family: var(--font-medium);
      font-weight: 500;
    }
  }

  .learnMoreWrapper {
    margin-top: 10px;
    .externalLink {
      font-family: var(--font-regular);
      font-size: 16px;
    }
  }
}
